<section class="about-section">
  <div class="container">
    <div class="about-section__wrapper">
      <h2 class="about-section__title section-title">
        Являемся официальными агентами АО «ГЛОНАСС» по Мурманской области
      </h2>
      <div class="about-section__text">
        <p>
          Мы зарегистрированы как официальный партнер компании
          <a href="glonass.html">АО «ГЛОНАСС»</a> по оснащению аппаратурой
          спутниковой навигации и подключению транспортных средств к ГАИС
          «ЭРА-ГЛОНАСС» согласно Постановлению Правительства №2216.
        </p>
        <p>
          На сегодняшний день мы производим все виды работ с тахографическим и
          навигационным оборудованием всех наименований, в том числе уже
          установленного и используемого на автомобилях различных моделей.
          Производим установку систем видеонаблюдения на стационарные объекты и
          транспортные средства. Мы зарегистрированы как партнер компании АО
          «ГЛОНАСС» и имеем право на установку оборудования «ЭРА-ГЛОНАСС».
          Устанавливаем спутниковое оборудование на подвижные средства,
          работающие в зонах где отсутствует сотовая связь.
        </p>
      </div>

      <a class="about-section__btn btn" href="glonass.html"> Подробнее </a>

      <div class="about-section__preview">
        <div class="about-section__img-big">
          <picture>
            <source srcset="img/about-section/img-big.webp" type="image/webp" />
            <img src="img/about-section/img-big.jpg" alt="img" />
          </picture>
        </div>
        <div class="about-section__img-small">
          <picture>
            <source
              srcset="img/about-section/img-small.webp"
              type="image/webp"
            />
            <img src="img/about-section/img-small.jpg" alt="img" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
