<section class="descr-section">
  <div class="container">
    <div class="descr-section__wrapper">
      <div class="descr-section__text">
        <p>
          На сегодняшний день наша организация производит все виды работ с
          тахографическим и навигационным оборудованием всех наименований, в том
          числе ранее установленным и используемым на автомобилях различных
          моделей.
        </p>
        <p>
          Наша компания является <b>официальным представителем</b> всех
          производителей тахографического оборудования, а также
          <b>гарантийным сервисным центром</b>
          по Мурманской области.
        </p>
        <p>
          Мы являемся агентом компании АО «ГЛОНАСС» по Мурманской области и
          имеем право на подключение навигационного оборудования к системе
          «ЭРА-ГЛОНАСС» согласно Постановления Правительства №2216.
        </p>
        <p>
          Устанавливаем спутниковое оборудование на подвижные средства,
          работающие в зонах где отсутствует сотовая связь.
        </p>
        <p>
          Наша организация имеет все необходимые лицензии, в том числе и
          <b> лицензию ФСБ</b> на право работы с криптографическим
          оборудованием, которая необходима при работе с тахографами с СКЗИ.
          Сотрудники компании, во исполнение требований законодательства,
          проходят обучение и периодические курсы повышения квалификации.
        </p>
      </div>

      <div class="descr-section__preview">
        <div class="descr-section__img-big">
          <picture>
            <source srcset="img/descr-section/img-big.webp" type="image/webp" />
            <img src="img/descr-section/img-big.jpg" alt="img" />
          </picture>
        </div>
        <div class="descr-section__img-small">
          <picture>
            <source
              srcset="img/descr-section/img-small.webp"
              type="image/webp"
            />
            <img src="img/descr-section/img-small.jpg" alt="img" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
