<div class="about-descr">
  <div class="container">
    <p class="about-descr__text">
      Общество с ограниченной ответственностью «СИСТЕМОТЕХНИКА-СЕРВИС» основано
      в 1998 году. <br />
      Мы работаем по следующим направлениям:
    </p>

    <ul class="about-descr__list">
      <li class="about-descr__item">ГЛОНАСС/GPS мониторинг транспорта</li>
      <li class="about-descr__item">Контроль расхода топлива</li>
      <li class="about-descr__item">
        Подключение к ГАИС «ЭРА-ГЛОНАСС» (ПП2216)
      </li>
      <li class="about-descr__item">Спутниковый мониторинг судов</li>
      <li class="about-descr__item">
        Монтаж, сопровождение и ремонт тахографического оборудования
      </li>
      <li class="about-descr__item">Оформление карт водителя для тахографа</li>
      <li class="about-descr__item">
        Установка и ремонт автономных подогревателей
      </li>
      <li class="about-descr__item">
        Установка и сопровождение систем видеонаблюдения на транспорте
      </li>
    </ul>
  </div>
</div>
