<section class="activities activities--solutions">
  <div class="container">
    <h2 class="activities__title section-title">Отраслевые решения</h2>

    <p class="activities__text">
      Оборудование ГЛОНАСС, применяемое на различных видах транспорта или в
      других сферах, может отличаться в зависимости от условий работы техники,
      на которой оно будет установлено, специфических требований к оборудованию,
      года выпуска машин и многого другого. Условно можно представить несколько
      направлений работы техники и подобрать под них стандартизированные
      решения.
    </p>

    <ul class="activities__list">
      <li
        class="activities-item"
        style="background-image: url('img/solutions/1.jpg')"
      >
        <span class="activities-item__name">Грузоперевозки</span>
        <a class="activities-item__link" href="#"></a>
      </li>
      <li
        class="activities-item"
        style="background-image: url('img/solutions/2.jpg')"
      >
        <span class="activities-item__name">Спецтехника</span>
        <a class="activities-item__link" href="#"></a>
      </li>
      <li
        class="activities-item"
        style="background-image: url('img/solutions/3.jpg')"
      >
        <span class="activities-item__name">
          Пассажирский <br />
          транспорт
        </span>
        <a class="activities-item__link" href="#"></a>
      </li>
      <li
        class="activities-item"
        style="background-image: url('img/solutions/4.jpg')"
      >
        <span class="activities-item__name">
          Легковой <br />
          транспорт
        </span>
        <a class="activities-item__link" href="#"></a>
      </li>
      <li
        class="activities-item"
        style="background-image: url('img/solutions/5.jpg')"
      >
        <span class="activities-item__name"> Маломерные суда </span>
        <a class="activities-item__link" href="#"></a>
      </li>
      <li
        class="activities-item"
        style="background-image: url('img/solutions/6.jpg')"
      >
        <span class="activities-item__name">
          Персональный <br />
          мониторинг
        </span>
        <a class="activities-item__link" href="#"></a>
      </li>
      <li
        class="activities-item activities-item--big"
        style="background-image: url('img/solutions/7.jpg')"
      >
        <span class="activities-item__name">
          Стационарные <br />
          объекты
        </span>
        <a class="activities-item__link" href="#"></a>
      </li>
    </ul>
  </div>
</section>
