<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Преимущества</h2>
    <ul class="advantages__list">
      <li class="advantages-item">
        <div class="advantages-item__top">
          <picture>
            <source srcset="img/advantages/1.webp" type="image/webp" />
            <img
              class="advantages-item__img"
              src="img/advantages/1.png"
              alt="advantages"
              width="50"
              height="50"
            />
          </picture>
        </div>

        <p class="advantages-item__text">
          Квалифицированно устанавливаем оборудование в согласованное время
        </p>
      </li>
      <li class="advantages-item">
        <div class="advantages-item__top">
          <picture>
            <source srcset="img/advantages/2.webp" type="image/webp" />
            <img
              class="advantages-item__img"
              src="img/advantages/2.png"
              alt="advantages"
              width="50"
              height="50"
            />
          </picture>
        </div>
        <p class="advantages-item__text">
          Производим работы по всей территории Мурманской области
        </p>
      </li>
      <li class="advantages-item">
        <div class="advantages-item__top">
          <picture>
            <source srcset="img/advantages/3.webp" type="image/webp" />
            <img
              class="advantages-item__img"
              src="img/advantages/3.png"
              alt="advantages"
              width="50"
              height="50"
            />
          </picture>
        </div>

        <p class="advantages-item__text">
          Оперативно выполняем ремонт оборудования и решаем проблемные вопросы
        </p>
      </li>
      <li class="advantages-item">
        <div class="advantages-item__top">
          <picture>
            <source srcset="img/advantages/4.webp" type="image/webp" />
            <img
              class="advantages-item__img"
              src="img/advantages/4.png"
              alt="advantages"
              width="50"
              height="50"
            />
          </picture>
        </div>
        <p class="advantages-item__text">
          Индивидуальный подход и гибкость в решении поставленных задач
        </p>
      </li>
    </ul>
  </div>
</section>
