<section class="calibration" id="calibration-en">
  <div class="container">
    <div class="calibration__wrapper">
      <div class="calibration__left">
        <h2 class="calibration__title section-title">
          <span>III.</span> Калибровка тахографа
        </h2>

        <p class="calibration__text">
          По требованиям ЕСТР проверка работоспособности тахографического
          оборудования или калибровка проводится 1 раз в 2 года либо в следующих
          случаях:
        </p>

        <ul class="calibration__list">
          <li class="calibration__item">Изменение параметров размера шин</li>
          <li class="calibration__item">
            Изменение собственника ТС или гос номера
          </li>
          <li class="calibration__item">Ремонт КПП</li>
          <li class="calibration__item">Ремонт тахографа</li>
          <li class="calibration__item">Повреждение пломбировки</li>
        </ul>
      </div>
      <div class="calibration__preview">
        <picture>
          <source srcset="img/calibration.webp" type="image/webp" />
          <img src="img/calibration.jpg" alt="calibration" />
        </picture>
      </div>
    </div>

    <div class="calibration-bottom">
      <p class="calibration-bottom__text">
        Внеочередная калибровка нужна также в случае расхождения показателей
        пробега со спидометром больше, чем на 5%.
      </p>
      <p class="calibration-bottom__text">
        В процессе калибровке сотрудники мастерской выполняют следующие
        операции:
      </p>
      <ol class="calibration-bottom__list">
        <li class="calibration-bottom__item">Визуальный осмотр тахографа;</li>
        <li class="calibration-bottom__item">
          Просмотр кодов ошибок, зафиксированных тахографом;
        </li>
        <li class="calibration-bottom__item">
          Считывание данных из памяти прибора;
        </li>
        <li class="calibration-bottom__item">
          Проверка технического состояния автомобиля, давления и высоты протектора шин;
        </li>
        <li class="calibration-bottom__item">
          Проверка опломбировки мест соединения;
        </li>
        <li class="calibration-bottom__item">
          Прокатка автомобиля на мерной площадке и получение коэффициента W,
        </li>
        <li class="calibration-bottom__item">
          Проверка и настройка работы часов и датчика движения.
        </li>
        <li class="calibration-bottom__item">Тестовая поездка.</li>
        <li class="calibration-bottom__item">
          Опломбировка, фотофиксация пломб и установочной этикетки, составления
          акта о калибровке.
        </li>
      </ol>
      <p class="calibration-bottom__text">
        Последним этапом является занесение данных о калибровке в единую базу
        АИС ЕСТР с помощью специализированного ПО.
      </p>
    </div>
  </div>
</section>
