<section class="cards-design" id="design-cards">
  <div class="container">
    <h2 class="cards-design__title section-title">
      <span>I.</span> Оформление карт
    </h2>
    <p class="cards-design__text">
      Для изготовления карты любого типа, требуется личное присутствие заявителя
      в офисе при оформлении и выдачи карты. Проконсультироваться по вопросу
      оформлению карт водителя и предприятия можно по телефону 8 (8152)
      70-19-10.
    </p>
    <p class="cards-design__text">
      <b>Список необходимых документов на карты:</b>
    </p>

    <div class="cards-design__tabs cards-tabs">
      <div class="cards-tabs__top">
        <ul class="cards-tabs__top-list">
          <li class="cards-tabs__top-item">
            <button class="cards-tabs__top-btn active" type="button">
              Карта водителя СКЗИ
            </button>
          </li>
          <li class="cards-tabs__top-item">
            <button class="cards-tabs__top-btn" type="button">
              Карта предприятия СКЗИ
            </button>
          </li>
          <li class="cards-tabs__top-item">
            <button class="cards-tabs__top-btn" type="button">
              Карта водителя ЕСТР
            </button>
          </li>
          <li class="cards-tabs__top-item">
            <button class="cards-tabs__top-btn" type="button">
              Карта предприятия ЕСТР
            </button>
          </li>
        </ul>
      </div>
      <div class="cards-tabs__content active">
        <div class="cards-tabs__inner">
          <div class="cards-tabs__left">
            <ul class="cards-tabs__list">
              <li class="cards-tabs__item">
                Фотография заявителя 3.5 х 4.5 см, черно-белая, 1 шт.
              </li>
              <li class="cards-tabs__item">
                Паспорт
                <b
                  >(Для иностранных граждан требуется нотариально заверенный
                  перевод)</b
                >
              </li>
              <li class="cards-tabs__item">Регистрация по месту жительства</li>
              <li class="cards-tabs__item">
                Водительское удостоверение
                <b
                  >(Для иностранных граждан требуется нотариально заверенный
                  перевод)</b
                >
              </li>
              <li class="cards-tabs__item">СНИЛС</li>
              <li class="cards-tabs__item">ИНН</li>
              <li class="cards-tabs__item">
                Карта водителя СКЗИ (если ранее карта на водителя уже
                выпускалась)
              </li>
            </ul>
            <div class="cards-tabs__bottom">
              <span>Срок изготовления от 14 до 28 дней</span>
              <span>СТОИМОСТЬ КАРТЫ 4 000 р.</span>
              <span>Срок эксплуатации 3 года</span>
            </div>
          </div>
          <div class="cards-tabs__right">
            <span class="cards-tabs__attention"><b>Внимание!</b></span>
            <p>
              При приеме заявления на карту, заявитель подписывает
              <b>
                Заявление на изготовление квалифицированного сертификата ключа
                проверки электронной подписи, который записывается на карту
                тахографа и используется только там.
              </b>
              <br />
              После получение карты, заявитель подписывает расписку в получении
              ключа электронной подписи и квалифицированного сертификата ключа
              проверки электронной подписи, после этого
              <b>
                Удостоверяющий центр ООО «Модум» регистрирует данный сертификат
                в ЕСИА (приходит уведомление на Госуслугах). <br />
              </b>
              Требование
              <span>
                Федерального закона №63 от 06.04.2011 «Об электронной подписи» </span
              >.
            </p>
          </div>
        </div>
      </div>
      <div class="cards-tabs__content">
        <div class="cards-tabs__inner">
          <div class="cards-tabs__left">
            <ul class="cards-tabs__list">
              <li class="cards-tabs__item">
                Фотография заявителя 3.5 х 4.5 см, черно-белая, 1 шт.
              </li>
              <li class="cards-tabs__item">
                Паспорт
                <b
                  >(Для иностранных граждан требуется нотариально заверенный
                  перевод)</b
                >
              </li>
              <li class="cards-tabs__item">Регистрация по месту жительства</li>
              <li class="cards-tabs__item">
                Водительское удостоверение
                <b
                  >(Для иностранных граждан требуется нотариально заверенный
                  перевод)</b
                >
              </li>
              <li class="cards-tabs__item">СНИЛС</li>
              <li class="cards-tabs__item">ИНН</li>
              <li class="cards-tabs__item">
                Карта водителя СКЗИ (если ранее карта на водителя уже
                выпускалась)
              </li>
            </ul>
            <div class="cards-tabs__bottom">
              <span>Срок изготовления от 14 до 28 дней</span>
              <span>СТОИМОСТЬ КАРТЫ 4 000 р.</span>
              <span>Срок эксплуатации 3 года</span>
            </div>
          </div>
          <div class="cards-tabs__right">
            <span class="cards-tabs__attention"><b>Внимание!</b></span>
            <p>
              При приеме заявления на карту, заявитель подписывает
              <b>
                Заявление на изготовление квалифицированного сертификата ключа
                проверки электронной подписи, который записывается на карту
                тахографа и используется только там.
              </b>
              <br />
              После получение карты, заявитель подписывает расписку в получении
              ключа электронной подписи и квалифицированного сертификата ключа
              проверки электронной подписи, после этого
              <b>
                Удостоверяющий центр ООО «Модум» регистрирует данный сертификат
                в ЕСИА (приходит уведомление на Госуслугах). <br />
              </b>
              Требование
              <span>
                Федерального закона №63 от 06.04.2011 «Об электронной подписи» </span
              >.
            </p>
          </div>
        </div>
      </div>
      <div class="cards-tabs__content">
        <div class="cards-tabs__inner">
          <div class="cards-tabs__left">
            <ul class="cards-tabs__list">
              <li class="cards-tabs__item">
                Фотография заявителя 3.5 х 4.5 см, черно-белая, 1 шт.
              </li>
              <li class="cards-tabs__item">
                Паспорт
                <b
                  >(Для иностранных граждан требуется нотариально заверенный
                  перевод)</b
                >
              </li>
              <li class="cards-tabs__item">Регистрация по месту жительства</li>
              <li class="cards-tabs__item">
                Водительское удостоверение
                <b
                  >(Для иностранных граждан требуется нотариально заверенный
                  перевод)</b
                >
              </li>
              <li class="cards-tabs__item">СНИЛС</li>
              <li class="cards-tabs__item">ИНН</li>
              <li class="cards-tabs__item">
                Карта водителя СКЗИ (если ранее карта на водителя уже
                выпускалась)
              </li>
            </ul>
            <div class="cards-tabs__bottom">
              <span>Срок изготовления от 14 до 28 дней</span>
              <span>СТОИМОСТЬ КАРТЫ 4 000 р.</span>
              <span>Срок эксплуатации 3 года</span>
            </div>
          </div>
          <div class="cards-tabs__right">
            <span class="cards-tabs__attention"><b>Внимание!</b></span>
            <p>
              При приеме заявления на карту, заявитель подписывает
              <b>
                Заявление на изготовление квалифицированного сертификата ключа
                проверки электронной подписи, который записывается на карту
                тахографа и используется только там.
              </b>
              <br />
              После получение карты, заявитель подписывает расписку в получении
              ключа электронной подписи и квалифицированного сертификата ключа
              проверки электронной подписи, после этого
              <b>
                Удостоверяющий центр ООО «Модум» регистрирует данный сертификат
                в ЕСИА (приходит уведомление на Госуслугах). <br />
              </b>
              Требование
              <span>
                Федерального закона №63 от 06.04.2011 «Об электронной подписи» </span
              >.
            </p>
          </div>
        </div>
      </div>
      <div class="cards-tabs__content">
        <div class="cards-tabs__inner">
          <div class="cards-tabs__left">
            <ul class="cards-tabs__list">
              <li class="cards-tabs__item">
                Фотография заявителя 3.5 х 4.5 см, черно-белая, 1 шт.
              </li>
              <li class="cards-tabs__item">
                Паспорт
                <b
                  >(Для иностранных граждан требуется нотариально заверенный
                  перевод)</b
                >
              </li>
              <li class="cards-tabs__item">Регистрация по месту жительства</li>
              <li class="cards-tabs__item">
                Водительское удостоверение
                <b
                  >(Для иностранных граждан требуется нотариально заверенный
                  перевод)</b
                >
              </li>
              <li class="cards-tabs__item">СНИЛС</li>
              <li class="cards-tabs__item">ИНН</li>
              <li class="cards-tabs__item">
                Карта водителя СКЗИ (если ранее карта на водителя уже
                выпускалась)
              </li>
            </ul>
            <div class="cards-tabs__bottom">
              <span>Срок изготовления от 14 до 28 дней</span>
              <span>СТОИМОСТЬ КАРТЫ 4 000 р.</span>
              <span>Срок эксплуатации 3 года</span>
            </div>
          </div>
          <div class="cards-tabs__right">
            <span class="cards-tabs__attention"><b>Внимание!</b></span>
            <p>
              При приеме заявления на карту, заявитель подписывает
              <b>
                Заявление на изготовление квалифицированного сертификата ключа
                проверки электронной подписи, который записывается на карту
                тахографа и используется только там.
              </b>
              <br />
              После получение карты, заявитель подписывает расписку в получении
              ключа электронной подписи и квалифицированного сертификата ключа
              проверки электронной подписи, после этого
              <b>
                Удостоверяющий центр ООО «Модум» регистрирует данный сертификат
                в ЕСИА (приходит уведомление на Госуслугах). <br />
              </b>
              Требование
              <span>
                Федерального закона №63 от 06.04.2011 «Об электронной подписи» </span
              >.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
