<section class="cards-difference">
  <div class="container">
    <h2 class="cards-difference__title article-title">Отличие карт</h2>

    <ul class="cards-difference__list">
      <li class="cards-difference__item">
        Российская карта водителя при начале использования требует ввод PIN
        кода, в то время как европейские карты этого не требуют.
      </li>
      <li class="cards-difference__item">
        Карты можно отличить по внешнему виду. На российских картах весь текст
        указан на русском языке, в свою очередь как в европейских картах
        используется латиница и русский язык.
      </li>
    </ul>

    <div class="cards-difference__preview">
      <picture>
        <source srcset="img/cards-difference.webp" type="image/webp" />
        <img src="img/cards-difference.jpg" alt="cards-difference" />
      </picture>
    </div>
  </div>
</section>
