<section class="cards-design" id="design-cards">
  <div class="container">
    <h2 class="cards-design__title section-title">
      <span>I.</span> Оформление карт
    </h2>
    <p class="cards-design__text">
      Для изготовления карты любого типа, требуется личное присутствие заявителя
      в офисе при оформлении и выдачи карты. Проконсультироваться по вопросу
      оформлению карт водителя и предприятия можно по телефону 8 (8152)
      70-19-10.
    </p>
    <p class="cards-design__text">
      <b>Список необходимых документов на карты:</b>
    </p>

    <div class="cards-design__tabs cards-tabs">
      <div class="cards-tabs__top">
        <ul class="cards-tabs__top-list">
          <li class="cards-tabs__top-item">
            <button class="cards-tabs__top-btn active" type="button">
              Карта водителя СКЗИ
            </button>
          </li>
          <li class="cards-tabs__top-item">
            <button class="cards-tabs__top-btn" type="button">
              Карта предприятия СКЗИ
            </button>
          </li>
          <li class="cards-tabs__top-item">
            <button class="cards-tabs__top-btn" type="button">
              Карта водителя ЕСТР
            </button>
          </li>
          <li class="cards-tabs__top-item">
            <button class="cards-tabs__top-btn" type="button">
              Карта предприятия ЕСТР
            </button>
          </li>
        </ul>
      </div>
      <div class="cards-tabs__content active">
        <div class="cards-tabs__inner">
          <div class="cards-tabs__left">
            <ul class="cards-tabs__list">
              <li class="cards-tabs__item">
                Фотография заявителя 3.5 х 4.5 см, черно-белая, 1 шт.
              </li>
              <li class="cards-tabs__item">
                Паспорт
                <b
                  >(Для иностранных граждан требуется нотариально заверенный
                  перевод)</b
                >
              </li>
              <li class="cards-tabs__item">Регистрация по месту жительства</li>
              <li class="cards-tabs__item">
                Водительское удостоверение
                <b
                  >(Для иностранных граждан требуется нотариально заверенный
                  перевод)</b
                >
              </li>
              <li class="cards-tabs__item">СНИЛС</li>
              <li class="cards-tabs__item">ИНН</li>
              <li class="cards-tabs__item">
                Карта водителя СКЗИ (если ранее карта на водителя уже
                выпускалась)
              </li>
            </ul>
            <div class="cards-tabs__bottom">
              <span>Срок изготовления от 14 до 28 дней</span>
              <span>СТОИМОСТЬ КАРТЫ 4 000 р.</span>
              <span>Срок эксплуатации 3 года</span>
            </div>
          </div>
          <div class="cards-tabs__right">
            <span class="cards-tabs__attention"><b>Внимание!</b></span>
            <p>
              При приеме заявления на карту, заявитель подписывает
              <b>
                Заявление на изготовление квалифицированного сертификата ключа
                проверки электронной подписи, который записывается на карту
                тахографа и используется только там.
              </b>
              <br />
              После получение карты, заявитель подписывает расписку в получении
              ключа электронной подписи и квалифицированного сертификата ключа
              проверки электронной подписи, после этого
              <b>
                Удостоверяющий центр ООО «Модум» регистрирует данный сертификат
                в ЕСИА (приходит уведомление на Госуслугах). <br />
              </b>
              Требование
              <a
                href="https://digital.gov.ru/ru/documents/3446/?utm_referrer=https%3a%2f%2fwww.google.com%2f"
                target="_blank"
              >
                Федерального закона №63 от 06.04.2011 «Об электронной подписи» </a
              >.
            </p>
          </div>
        </div>
      </div>
      <div class="cards-tabs__content">
        <div class="cards-tabs__inner">
          <div class="cards-tabs__left">
            <ul class="cards-tabs__list">
              <li class="cards-tabs__item">
                Копия паспорта ответственного за карту
              </li>
              <li class="cards-tabs__item">
                Копия СНИЛС ответственного за карту
              </li>
              <li class="cards-tabs__item">
                Копия ИНН ответственного за карту
              </li>
              <li class="cards-tabs__item">
                Копия свидетельства о постановке на учет российской организации
                в налоговом органе (ИНН/КПП)
              </li>
              <li class="cards-tabs__item">Копия свидетельства ЕГРЮЛ (ОГРН)</li>
              <li class="cards-tabs__item">
                Копия приказа о назначении ответственного лица
              </li>
              <li class="cards-tabs__item">
                Копия доверенности (Если карта оформляется не на директора)
              </li>
              <li class="cards-tabs__item">
                Копия доверенности на заверение документов (Если заверяет не
                директор)
              </li>
              <li class="cards-tabs__item">
                Карта предприятия СКЗИ (если ранее уже выпускалась)
              </li>
              <li class="cards-tabs__item">
                Машиночитаемая доверенность (МЧД)
              </li>
            </ul>
            <p class="text">
              <b>Все документы должны быть заверены от организации!</b>
            </p>

            <div class="cards-tabs__bottom">
              <span>Срок изготовления от 14 до 28 дней</span>
              <span>СТОИМОСТЬ КАРТЫ 4 000 р.</span>
              <span>Срок эксплуатации 3 года</span>
            </div>
          </div>
          <div class="cards-tabs__right">
            <span class="cards-tabs__attention"><b>Внимание!</b></span>
            <p>
              При приеме заявления на карту, заявитель подписывает
              <b>
                Заявление на изготовление квалифицированного сертификата ключа
                проверки электронной подписи, который записывается на карту
                тахографа и используется только там.
              </b>
              <br />
              После получение карты, заявитель подписывает расписку в получении
              ключа электронной подписи и квалифицированного сертификата ключа
              проверки электронной подписи, после этого
              <b>
                Удостоверяющий центр ООО «Модум» регистрирует данный сертификат
                в ЕСИА (приходит уведомление на Госуслугах). <br />
              </b>
              Требование
              <a
                href="https://digital.gov.ru/ru/documents/3446/?utm_referrer=https%3a%2f%2fwww.google.com%2f"
                target="_blank"
              >
                Федерального закона №63 от 06.04.2011 «Об электронной подписи» </a
              >.
            </p>
          </div>
        </div>
      </div>
      <div class="cards-tabs__content">
        <div class="cards-tabs__inner">
          <div class="cards-tabs__left">
            <ul class="cards-tabs__list">
              <li class="cards-tabs__item">
                Фотография заявителя 3.5 х 4.5 см, черно-белая, 1 шт.
              </li>
              <li class="cards-tabs__item">
                Паспорт
                <b
                  >(Для иностранных граждан требуется нотариально заверенный
                  перевод)</b
                >
              </li>
              <li class="cards-tabs__item">Регистрация по месту жительства</li>
              <li class="cards-tabs__item">
                Водительское удостоверение
                <b
                  >(Для иностранных граждан требуется нотариально заверенный
                  перевод)</b
                >
              </li>
              <li class="cards-tabs__item">СНИЛС</li>
              <li class="cards-tabs__item">ИНН</li>
              <li class="cards-tabs__item">
                Карта водителя СКЗИ (если ранее карта на водителя уже
                выпускалась)
              </li>
            </ul>
            <div class="cards-tabs__bottom">
              <span>Срок изготовления от 14 до 28 дней</span>
              <span>СТОИМОСТЬ КАРТЫ 4 000 р.</span>
              <span>Срок эксплуатации 3 года</span>
            </div>
          </div>
          <div class="cards-tabs__right">
            <p class="text-red">
              <b>
                Внимание! <br />
                На данный момент производство карт ЕСТР в России приостановлено.
              </b>
            </p>

            <p>
              Министерством транспорта РФ подготовлены официальные разъяснения,
              в соответствии с которыми в связи с отсутствием технической
              возможности выдачи карты водителя, водитель вправе использовать
              распечатки контрольного устройства, заполняемые в соответствии с
              ЕСТР, включая приложение и добавления к нему, при осуществлении
              внутрироссийских перевозок.
              <a
                href="http://ledacards.ru/images/rasp_mintrans.pdf"
                target="_blank"
              >
                Распоряжение Минтранса России от 4 августа 2022 года № АК-198-р
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="cards-tabs__content">
        <div class="cards-tabs__inner">
          <div class="cards-tabs__left">
            <ul class="cards-tabs__list">
              <li class="cards-tabs__item">
                Копия паспорта ответственного за карту
              </li>
              <li class="cards-tabs__item">
                Копия СНИЛС ответственного за карту
              </li>
              <li class="cards-tabs__item">
                Копия свидетельства о постановке на учет российской организации
                в налоговом органе (ИНН/КПП)
              </li>
              <li class="cards-tabs__item">Копия свидетельства ЕГРЮЛ (ОГРН)</li>
              <li class="cards-tabs__item">
                Копия приказа о назначении ответственного лица
              </li>
              <li class="cards-tabs__item">
                Карта предприятия ЕСТР (если ранее уже выпускалась)
              </li>
            </ul>
            <p class="text">
              <b>Все документы должны быть заверены от организации!</b>
            </p>

            <div class="cards-tabs__bottom">
              <span>Срок изготовления от 14 до 28 дней</span>
              <span>СТОИМОСТЬ КАРТЫ 4 000 р.</span>
              <span>Срок эксплуатации 3 года</span>
            </div>
          </div>
          <div class="cards-tabs__right">
            <p class="text-red">
              <b>
                Внимание! <br />
                На данный момент производство карт ЕСТР в России приостановлено.
              </b>
            </p>

            <p>
              Министерством транспорта РФ подготовлены официальные разъяснения,
              в соответствии с которыми в связи с отсутствием технической
              возможности выдачи карты водителя, водитель вправе использовать
              распечатки контрольного устройства, заполняемые в соответствии с
              ЕСТР, включая приложение и добавления к нему, при осуществлении
              внутрироссийских перевозок.
              <a
                href="http://ledacards.ru/images/rasp_mintrans.pdf"
                target="_blank"
              >
                Распоряжение Минтранса России от 4 августа 2022 года № АК-198-р
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
