<section class="certificates-slider">
  <div class="container">
    <h2 class="certificates-slider__title section-title">
      Сертификаты на оборудование
    </h2>

    <div class="certificates-slider__content">
      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Предыдущий"
      ></button>
      <button
        class="swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>
      <div class="certificates-slider__slider swiper">
        <ul class="certificates-slider__slides swiper-wrapper">
          <li
            class="certificates-slider__slide swiper-slide"
            data-fancybox="certificates"
            data-src="img/licenses/1.jpg"
          >
            <picture>
              <source srcset="img/licenses/1.webp" type="image/webp" />
              <img src="img/licenses/1.jpg" alt="" />
            </picture>
          </li>
          <li
            class="certificates-slider__slide swiper-slide"
            data-fancybox="certificates"
            data-src="img/licenses/2.jpg"
          >
            <picture>
              <source srcset="img/licenses/2.webp" type="image/webp" />
              <img src="img/licenses/2.jpg" alt="" />
            </picture>
          </li>
          <li
            class="certificates-slider__slide swiper-slide"
            data-fancybox="certificates"
            data-src="img/licenses/3.jpg"
          >
            <picture>
              <source
                srcset="img/licenses/3.webp"
                type="image/webp"
                data-fancybox="certificates"
                data-src="img/licenses/3.jpg"
              />
              <img src="img/licenses/3.jpg" alt="" />
            </picture>
          </li>
          <li
            class="certificates-slider__slide swiper-slide"
            data-fancybox="certificates"
            data-src="img/licenses/1.jpg"
          >
            <picture>
              <source srcset="img/licenses/1.webp" type="image/webp" />
              <img src="img/licenses/1.jpg" alt="" />
            </picture>
          </li>
          <li
            class="certificates-slider__slide swiper-slide"
            data-fancybox="certificates"
            data-src="img/licenses/2.jpg"
          >
            <picture>
              <source srcset="img/licenses/2.webp" type="image/webp" />
              <img src="img/licenses/2.jpg" alt="" />
            </picture>
          </li>
          <li
            class="certificates-slider__slide swiper-slide"
            data-fancybox="certificates"
            data-src="img/licenses/3.jpg"
          >
            <picture>
              <source srcset="img/licenses/3.webp" type="image/webp" />
              <img src="img/licenses/3.jpg" alt="" />
            </picture>
          </li>
        </ul>

        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
