<section class="cities">
  <div class="container">
    <h2 class="cities__title section-title">Города присутствия</h2>

    <div class="cities__map">
      <div class="cities__content" data-simplebar>
        <div class="cities__img">
          <img src="img/map.png" alt="карта" />

          <div class="circle nikel">
            <span class="circle__circle"></span>
            <span class="circle__city">Никель</span>

            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <div class="circle zapolyarnyy">
            <span class="circle__circle"></span>
            <span class="circle__city">Заполярный</span>

            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <div class="circle korzunovo">
            <span class="circle__circle"></span>
            <span class="circle__city">Корзуново</span>
            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <div class="circle pechenga">
            <span class="circle__circle"></span>
            <span class="circle__city">Печенга</span>
            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <div class="circle zaozersk">
            <span class="circle__circle"></span>
            <span class="circle__city">Заозерск</span>
            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <div class="circle vidyaevo">
            <span class="circle__circle"></span>
            <span class="circle__city">Видяево</span>
            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <div class="circle snezhnogorsk">
            <span class="circle__circle"></span>
            <span class="circle__city">Снежногорск</span>
            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <div class="circle polyarnyy">
            <span class="circle__circle"></span>
            <span class="circle__city">Полярный</span>
            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <div class="circle severomorsk">
            <span class="circle__circle"></span>
            <span class="circle__city">Североморск</span>
            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <div class="circle murmansk">
            <span class="circle__circle"></span>
            <span class="circle__city">Мурманск</span>
            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <div class="circle tuloma">
            <span class="circle__circle"></span>
            <span class="circle__city">Тулома</span>
            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <div class="circle murmashi">
            <span class="circle__circle"></span>
            <span class="circle__city">Мурмаши</span>
            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <div class="circle zversovkhoz">
            <span class="circle__circle"></span>
            <span class="circle__city">Зверсовхоз</span>
            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <div class="circle verkhnetulomsky">
            <span class="circle__circle"></span>
            <span class="circle__city">Верхнетуломский</span>
            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <div class="circle tumanny">
            <span class="circle__circle"></span>
            <span class="circle__city">Туманный</span>
            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <!--  -->
          <div class="circle olenegorsk">
            <span class="circle__circle"></span>
            <span class="circle__city">Оленегорск</span>
            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <div class="circle lovozero">
            <span class="circle__circle"></span>
            <span class="circle__city">Ловозеро</span>
            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <div class="circle revda">
            <span class="circle__circle"></span>
            <span class="circle__city">Ревда</span>
            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <div class="circle monchegorsk">
            <span class="circle__circle"></span>
            <span class="circle__city">Мончегорск</span>
            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <div class="circle kirovsk">
            <span class="circle__circle"></span>
            <span class="circle__city">Кировск</span>
            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <div class="circle apatity">
            <span class="circle__circle"></span>
            <span class="circle__city">Апатиты</span>
            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <div class="circle polyarnye-zori">
            <span class="circle__circle"></span>
            <span class="circle__city">Полярные Зори</span>
            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <div class="circle kandalaksha">
            <span class="circle__circle"></span>
            <span class="circle__city">Кандалакша</span>
            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <div class="circle zelenoborsky">
            <span class="circle__circle"></span>
            <span class="circle__city">Зеленоборский</span>
            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <div class="circle kovdor">
            <span class="circle__circle"></span>
            <span class="circle__city">Ковдор</span>
            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <div class="circle alakurti">
            <span class="circle__circle"></span>
            <span class="circle__city">Алакурти</span>
            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <div class="circle umba">
            <span class="circle__circle"></span>
            <span class="circle__city">Умба</span>
            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <div class="circle ostrovnoy">
            <span class="circle__circle"></span>
            <span class="circle__city">Островной</span>
            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
          <div class="circle outside">
            <span class="circle__circle"></span>
            <span class="circle__city">Клиенты <br> за пределами области</span>
            <div class="map-box">
              <div class="map-box__text">12 клиентов</div>
              <div class="map-box__text">185 объектов</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
