<section class="construction">
  <div class="container">
    <h2 class="construction__title section-title">
      Общая конструкция «автономки» и принцип работы
    </h2>
    <p class="construction__text">
      Автономные обогреватели салона отличаются конструктивно, однако, в общих
      чертах, устройство состоит из:
    </p>

    <div class="construction__wrapper">
      <div class="construction__preview">
        <picture>
          <source srcset="img/construction.webp" type="image/webp" />
          <img src="img/construction.png" alt="construction" />
        </picture>
      </div>
      <ol class="construction__list">
        <li class="construction__item">
          Крыльчатка нагнетателя воздуха для горения
        </li>
        <li class="construction__item">Электродвигатель нагнетателя воздуха на нагрев и для горения
        </li>
        <li class="construction__item">Штифт накаливания / Датчик пламени
        </li>
        <li class="construction__item">Испарительная прокладка
        </li>
        <li class="construction__item">Камера сгорания
        </li>
        <li class="construction__item">Датчик температуры жидкости
        </li>
        <li class="construction__item">Выход нагретой жидкости
        </li>
        <li class="construction__item">Датчик перегрева
        </li>
        <li class="construction__item">Вход охлаждающей жидкости
        </li>
        <li class="construction__item">Корпус подогревателя
        </li>
        <li class="construction__item"> Теплообменник
        </li>
        <li class="construction__item"> Циркуляционный насос
        </li>
        <li class="construction__item">Топливный насос
        </li>
        <li class="construction__item">Выход выхлопных газов
        </li>
        <li class="construction__item">Топливопровод
        </li>
        <li class="construction__item">Магнит
        </li>
        <li class="construction__item">Забор воздуха для горения
        </li>
        <li class="construction__item">Датчик Холла
        </li>
        <li class="construction__item"> Блок управления
        </li>
      </ol>
    </div>
  </div>
</section>
