<section class="contacts" id="our-office">
  <div class="container">
    <div class="contacts__wrapper">
      <div class="contacts__left">
        <h2 class="contacts__title section-title">Наш офис</h2>
        <ul class="contacts__list">
          <li class="contacts__item contacts__item--phone">
            <a class="contacts__link" href="tel:+78152701960">
              8(8152)70-19-60
            </a>
            <a class="contacts__link" href="tel:+78152231600">
              8(8152)23-16-00
            </a>
          </li>
          <li class="contacts__item contacts__item--address">
            <span class="contacts__name">Офис</span>
            <address class="contacts__text">
              г. Мурманск, Кольский пр-кт, д.53, офис 101
            </address>
          </li>
          <li class="contacts__item contacts__item--address">
            <span class="contacts__name">Почтовый адрес</span>
            <p class="contacts__text">183008, г. Мурманск, а/я 4432</p>
          </li>
          <li class="contacts__item contacts__item--clock">
            <span class="contacts__name">Режим работы</span>
            <p class="contacts__text">
              Пн-пт – с 9:00 до 17:00 | Сб-Вс - выходной
            </p>
          </li>
        </ul>
      </div>

      <div class="contacts__map map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3Afaddc7688b24c181d4bd737a2fba2b3aaef4767d28ea78acd295c65f535d756c&amp;source=constructor"
          width="700"
          height="400"
        ></iframe>
      </div>
    </div>
  </div>
</section>
