<div class="docs-tachographs">
  <div class="docs-tachographs__wrapper">
    <div class="container">
      <h2 class="docs-tachographs__title section-title">
        Российские тахографы
      </h2>
    </div>

    <ul class="docs-tachographs__list">
      <li class="docs-tachographs-item">
        <div class="container">
          <div class="docs-tachographs-item__inner">
            <span class="docs-tachographs-item__name"> Атол </span>
            <picture>
              <source srcset="img/tachographs/1.webp" type="image/webp" />
              <img
                class="docs-tachographs-item__img"
                src="img/tachographs/1.png"
                alt="tachographs"
              />
            </picture>
            <div class="docs-tachographs-item__right">
              <a
                class="docs-tachographs-item__link"
                href="resources/Российские тахографы/Атол Drive/Руководство по эксплуатации Атол.pdf"
                target="_blank"
              >
                Инструкция по эксплуатации Атол Drive 5
              </a>
              <a
                class="docs-tachographs-item__link docs-tachographs-item__link--mb"
                href="resources/Российские тахографы/Атол Drive/Краткое руководство водителя Атол.pdf"
                target="_blank"
              >
                Краткое руководство для водителя
              </a>
              <a
                class="docs-tachographs-item__link"
                href="resources/Российские тахографы/Атол Смарт/Руководство по эксплуатации Смарт.pdf"
                target="_blank"
              >
                Инструкция по эксплуатации Атол Smart
              </a>
              <a
                class="docs-tachographs-item__link"
                href="resources/Российские тахографы/Атол Смарт/Руководство для водителя Смарт.pdf"
                target="_blank"
              >
                Краткое руководство для водителя
              </a>
            </div>
          </div>
        </div>
      </li>
      <li class="docs-tachographs-item">
        <div class="container">
          <div class="docs-tachographs-item__inner">
            <span class="docs-tachographs-item__name"> DTCO 3283 </span>
            <picture>
              <source srcset="img/tachographs/1.webp" type="image/webp" />
              <img
                class="docs-tachographs-item__img"
                src="img/tachographs/1.png"
                alt="tachographs"
              />
            </picture>

            <div class="docs-tachographs-item__right">
              <a class="docs-tachographs-item__link" href="#">
                Инструкция по эксплуатации DTCO 3283
              </a>
              <a class="docs-tachographs-item__link" href="#">
                Краткое руководство для водителя
              </a>
            </div>
          </div>
        </div>
      </li>
      <li class="docs-tachographs-item">
        <div class="container">
          <div class="docs-tachographs-item__inner">
            <span class="docs-tachographs-item__name"> Штрих </span>
            <picture>
              <source srcset="img/tachographs/1.webp" type="image/webp" />
              <img
                class="docs-tachographs-item__img"
                src="img/tachographs/1.png"
                alt="tachographs"
              />
            </picture>

            <div class="docs-tachographs-item__right">
              <a
                class="docs-tachographs-item__link"
                href="resources/Российские тахографы/Штрих/Руководство по эксплуатации Штрих.pdf"
                target="_blank"
              >
                Инструкция по эксплуатации Штрих
              </a>
              <a
                class="docs-tachographs-item__link"
                href="resources/Российские тахографы/Штрих/Памятка водителю Штрих.pdf"
                target="_blank"
              >
                Краткое руководство для водителя
              </a>
            </div>
          </div>
        </div>
      </li>
      <li class="docs-tachographs-item">
        <div class="container">
          <div class="docs-tachographs-item__inner">
            <span class="docs-tachographs-item__name"> Меркурий </span>
            <picture>
              <source srcset="img/tachographs/1.webp" type="image/webp" />
              <img
                class="docs-tachographs-item__img"
                src="img/tachographs/1.png"
                alt="tachographs"
              />
            </picture>

            <div class="docs-tachographs-item__right">
              <a
                class="docs-tachographs-item__link"
                href="resources/Российские тахографы/Меркурий/Руководство по эксплуатации Меркурий.pdf"
                target="_blank"
              >
                Инструкция по эксплуатации Меркурий
              </a>
              <a
                class="docs-tachographs-item__link"
                href="resources/Российские тахографы/Меркурий/Руководство для водителей Меркурий.pdf"
                target="_blank"
              >
                Краткое руководство для водителя
              </a>
            </div>
          </div>
        </div>
      </li>
      <li class="docs-tachographs-item">
        <div class="container">
          <div class="docs-tachographs-item__inner">
            <span class="docs-tachographs-item__name"> ТЦА </span>
            <picture>
              <source srcset="img/tachographs/1.webp" type="image/webp" />
              <img
                class="docs-tachographs-item__img"
                src="img/tachographs/1.png"
                alt="tachographs"
              />
            </picture>

            <div class="docs-tachographs-item__right">
              <a
                class="docs-tachographs-item__link"
                href="resources/Российские тахографы/ТЦА/Инструкция водителю ТЦА.pdf"
                target="_blank"
              >
                Инструкция по эксплуатации ТЦА
              </a>
              <a
                class="docs-tachographs-item__link"
                href="resources/Российские тахографы/ТЦА/Рукаводство водителя ТЦА.pdf"
                target="_blank"
              >
                Краткое руководство для водителя
              </a>
            </div>
          </div>
        </div>
      </li>
      <li class="docs-tachographs-item">
        <div class="container">
          <div class="docs-tachographs-item__inner">
            <span class="docs-tachographs-item__name"> Микас </span>
            <picture>
              <source srcset="img/tachographs/1.webp" type="image/webp" />
              <img
                class="docs-tachographs-item__img"
                src="img/tachographs/1.png"
                alt="tachographs"
              />
            </picture>

            <div class="docs-tachographs-item__right">
              <a
                class="docs-tachographs-item__link"
                href="resources/Российские тахографы/Микас/Руководство по эксплуатации Микас.pdf"
                target="_blank"
              >
                Инструкция по эксплуатации Микас
              </a>
              <a
                class="docs-tachographs-item__link"
                href="resources/Российские тахографы/Микас/Инструкция водителя Микас.pdf"
                target="_blank"
              >
                Краткое руководство для водителя
              </a>
            </div>
          </div>
        </div>
      </li>
      <li class="docs-tachographs-item">
        <div class="container">
          <div class="docs-tachographs-item__inner">
            <span class="docs-tachographs-item__name"> Касби </span>
            <picture>
              <source srcset="img/tachographs/1.webp" type="image/webp" />
              <img
                class="docs-tachographs-item__img"
                src="img/tachographs/1.png"
                alt="tachographs"
              />
            </picture>

            <div class="docs-tachographs-item__right">
              <a class="docs-tachographs-item__link" href="#">
                Инструкция по эксплуатации Касби
              </a>
              <a class="docs-tachographs-item__link" href="#">
                Краткое руководство для водителя
              </a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="docs-tachographs__wrapper">
    <div class="container">
      <h2 class="docs-tachographs__title section-title">
        Европейские тахографы
      </h2>
    </div>
    <ul class="docs-tachographs__list">
      <li class="docs-tachographs-item">
        <div class="container">
          <div class="docs-tachographs-item__inner">
            <span class="docs-tachographs-item__name"> DTCO 1381 </span>
            <picture>
              <source srcset="img/tachographs/1.webp" type="image/webp" />
              <img
                class="docs-tachographs-item__img"
                src="img/tachographs/1.png"
                alt="tachographs"
              />
            </picture>
            <div class="docs-tachographs-item__right">
              <a class="docs-tachographs-item__link" href="#">
                Инструкция по эксплуатации DTCO 1381
              </a>
              <a class="docs-tachographs-item__link" href="#">
                Краткое руководство для водителя
              </a>
            </div>
          </div>
        </div>
      </li>
      <li class="docs-tachographs-item">
        <div class="container">
          <div class="docs-tachographs-item__inner">
            <span class="docs-tachographs-item__name"> Stoneridge </span>
            <picture>
              <source srcset="img/tachographs/1.webp" type="image/webp" />
              <img
                class="docs-tachographs-item__img"
                src="img/tachographs/1.png"
                alt="tachographs"
              />
            </picture>

            <div class="docs-tachographs-item__right">
              <a class="docs-tachographs-item__link" href="#">
                Инструкция по эксплуатации Stoneridge
              </a>
              <a class="docs-tachographs-item__link" href="#">
                Краткое руководство для водителя
              </a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
