<section class="equipment">
  <div class="container">
    <h2 class="equipment__title section-title">
      Наиболее часто устанавливаемое <br />
      оборудование
    </h2>

    <div class="equipment__tabs equipment-tabs">
      <div class="equipment-tabs__left">
        <ul class="equipment-tabs__left-list">
          <li class="equipment-tabs__left-item">
            <button class="equipment-tabs__left-btn active" type="button">
              Тахографы
            </button>
          </li>
          <li class="equipment-tabs__left-item">
            <button class="equipment-tabs__left-btn" type="button">
              ГЛОНАСС
            </button>
          </li>
          <li class="equipment-tabs__left-item">
            <button class="equipment-tabs__left-btn" type="button">
              Видеонаблюдение
            </button>
          </li>
          <li class="equipment-tabs__left-item">
            <button class="equipment-tabs__left-btn" type="button">
              Автономные отопители
            </button>
          </li>
        </ul>
      </div>
      <div class="equipment-tabs__content active">
        <ul class="equipment-tabs__list">
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source
                    srcset="img/frequently-installed/tachographs/1.webp"
                    type="image/webp"
                  />
                  <img
                    class="image"
                    src="img/frequently-installed/tachographs/1.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#"> Атол </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source
                    srcset="img/frequently-installed/tachographs/2.webp"
                    type="image/webp"
                  />
                  <img
                    class="image"
                    src="img/frequently-installed/tachographs/2.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#"> Штрих </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source
                    srcset="img/frequently-installed/tachographs/3.webp"
                    type="image/webp"
                  />
                  <img
                    class="image"
                    src="img/frequently-installed/tachographs/3.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#"> DTCO 3283 </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source
                    srcset="img/frequently-installed/tachographs/4.webp"
                    type="image/webp"
                  />
                  <img
                    class="image"
                    src="img/frequently-installed/tachographs/4.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#"> DTCO 1381 </a>
                </h3>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <div class="equipment-tabs__content">
        <ul class="equipment-tabs__list">
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source
                    srcset="img/frequently-installed/glonass/1.webp"
                    type="image/webp"
                  />
                  <img
                    class="image"
                    src="img/frequently-installed/glonass/1.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#"> Блок мониторинга </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source
                    srcset="img/frequently-installed/glonass/2.webp"
                    type="image/webp"
                  />
                  <img
                    class="image"
                    src="img/frequently-installed/glonass/2.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#"> Блок мониторинга </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source
                    srcset="img/frequently-installed/glonass/3.webp"
                    type="image/webp"
                  />
                  <img
                    class="image"
                    src="img/frequently-installed/glonass/3.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#">Датчик уровня топлива</a>
                </h3>
              </div>
            </article>
          </li>
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source
                    srcset="img/frequently-installed/glonass/4.webp"
                    type="image/webp"
                  />
                  <img
                    class="image"
                    src="img/frequently-installed/glonass/4.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#"> Датчик угла наклона </a>
                </h3>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <div class="equipment-tabs__content">
        <ul class="equipment-tabs__list">
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source
                    srcset="img/frequently-installed/video/1.webp"
                    type="image/webp"
                  />
                  <img
                    class="image"
                    src="img/frequently-installed/video/1.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#">
                    Автомобильный ON-LINE регистратор AHD видеорегистратор
                    CVMR-2104D
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source
                    srcset="img/frequently-installed/video/2.webp"
                    type="image/webp"
                  />
                  <img
                    class="image"
                    src="img/frequently-installed/video/2.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#">
                    Автомобильный OFF-LINE регистратор "М2Медиа-1080р”
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source
                    srcset="img/frequently-installed/video/3.webp"
                    type="image/webp"
                  />
                  <img
                    class="image"
                    src="img/frequently-installed/video/3.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#"> Видеокамера </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source
                    srcset="img/frequently-installed/video/4.webp"
                    type="image/webp"
                  />
                  <img
                    class="image"
                    src="img/frequently-installed/video/4.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#">
                    Мобильный жесткий диск MD-201R. Камера автомобильная с ИК
                    подсветкой
                  </a>
                </h3>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <div class="equipment-tabs__content">
        <ul class="equipment-tabs__list">
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source
                    srcset="img/frequently-installed/heaters/1.webp"
                    type="image/webp"
                  />
                  <img
                    class="image"
                    src="img/frequently-installed/heaters/1.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#">
                    Отопитель воздушный /AIR heater Planar-2D-24-S-4195
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source
                    srcset="img/frequently-installed/heaters/2.webp"
                    type="image/webp"
                  />
                  <img
                    class="image"
                    src="img/frequently-installed/heaters/2.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#">
                    Подогреватель жидкостный предпусковой/Pre-heater BINAR-5S-24
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source
                    srcset="img/frequently-installed/heaters/3.webp"
                    type="image/webp"
                  />
                  <img
                    class="image"
                    src="img/frequently-installed/heaters/3.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#">
                    Отопитель воздушный /AIR heater Planar-2D-24-S-4195
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source
                    srcset="img/frequently-installed/heaters/4.webp"
                    type="image/webp"
                  />
                  <img
                    class="image"
                    src="img/frequently-installed/heaters/4.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#">
                    Подогреватель жидкостный предпусковой/Pre-heater BINAR-5S-24
                  </a>
                </h3>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
