<section class="equipment-descr">
  <div class="container">
    <h2 class="equipment-descr__title section-title">Навтелеком</h2>

    <div class="equipment-descr__table">
      <div class="equipment-descr__content">
        <div class="equipment-descr__top">
          <div class="equipment-descr__item">Наименование</div>
          <div class="equipment-descr__item">Цена</div>
          <div class="equipment-descr__item">Характеристики</div>
        </div>

        <div class="equipment-descr__inner">
          <div class="equipment-descr__left">
            <div class="equipment-descr__row">
              <div class="equipment-descr__item">
                <a href="#">Старт-2013</a>
              </div>
              <div class="equipment-descr__item">6 300 ₽</div>
            </div>
            <div class="equipment-descr__row">
              <div class="equipment-descr__item">Смарт 2421</div>
              <div class="equipment-descr__item">7 300 ₽</div>
            </div>
            <div class="equipment-descr__row">
              <div class="equipment-descr__item">Смарт 2433</div>
              <div class="equipment-descr__item">11 600 ₽</div>
            </div>
            <div class="equipment-descr__row">
              <div class="equipment-descr__item">Смарт 2435</div>
              <div class="equipment-descr__item">28 500 ₽</div>
            </div>
            <div class="equipment-descr__row">
              <div class="equipment-descr__item">Сигнал 2651</div>
              <div class="equipment-descr__item">11 600 ₽</div>
            </div>
            <div class="equipment-descr__row">
              <div class="equipment-descr__item">Сигнал 2652</div>
              <div class="equipment-descr__item">11 600 ₽</div>
            </div>
            <div class="equipment-descr__row">
              <div class="equipment-descr__item">Смарт 2421</div>
              <div class="equipment-descr__item">7 300 ₽</div>
            </div>
          </div>
          <div class="equipment-descr__right">
            <div class="equipment-descr__item">
              <p>Встроенная АКБ 110 мА/ч</p>
              <p>Встроенные чувствительные ГЛОНАСС/GPS- и GSM-антенны</p>
              <p>2G-модем</p>
              <p>1 SIM-карта</p>
              <p>Защита по питанию и защита входных линий до 200В</p>
              <p>3 универсальные входные линии</p>
              <p>Встроенные подтяжки (PULL UP) для входных линий</p>
              <p>2 управляющие выходные линии</p>
              <p>Интерфейс 1-Wire</p>
              <p>Bluetooth 4.0</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="equipment-descr">
  <div class="container">
    <h2 class="equipment-descr__title section-title">Скаут</h2>

    <div class="equipment-descr__table">
      <div class="equipment-descr__content">
        <div class="equipment-descr__top">
          <div class="equipment-descr__item">Наименование</div>
          <div class="equipment-descr__item">Цена</div>
          <div class="equipment-descr__item">Характеристики</div>
        </div>

        <div class="equipment-descr__inner">
          <div class="equipment-descr__left">
            <div class="equipment-descr__row">
              <div class="equipment-descr__item">
                <a href="#">МТ- 860 Lite</a>
              </div>
              <div class="equipment-descr__item">6 800 ₽</div>
            </div>
            <div class="equipment-descr__row">
              <div class="equipment-descr__item">МТ- 860 Ent</div>
              <div class="equipment-descr__item">97 800 ₽</div>
            </div>
            <div class="equipment-descr__row">
              <div class="equipment-descr__item">МТ- 850 Ent</div>
              <div class="equipment-descr__item">МТ- 850 Ent</div>
            </div>
          </div>
          <div class="equipment-descr__right">
            <div class="equipment-descr__item">
              <p>Встроенная АКБ 110 мА/ч</p>
              <p>Встроенные чувствительные ГЛОНАСС/GPS- и GSM-антенны</p>
              <p>2G-модем</p>
              <p>1 SIM-карта</p>
              <p>Защита по питанию и защита входных линий до 200В</p>
              <p>3 универсальные входные линии</p>
              <p>Встроенные подтяжки (PULL UP) для входных линий</p>
              <p>2 управляющие выходные линии</p>
              <p>Интерфейс 1-Wire</p>
              <p>Bluetooth 4.0</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="equipment-descr">
  <div class="container">
    <h2 class="equipment-descr__title section-title">Омникомм</h2>

    <div class="equipment-descr__table">
      <div class="equipment-descr__content">
        <div class="equipment-descr__top">
          <div class="equipment-descr__item">Наименование</div>
          <div class="equipment-descr__item">Цена</div>
          <div class="equipment-descr__item">Характеристики</div>
        </div>

        <div class="equipment-descr__inner">
          <div class="equipment-descr__left">
            <div class="equipment-descr__row">
              <div class="equipment-descr__item">
                <a href="#">Omnicomm Smart 3.2 12 778</a>
              </div>
              <div class="equipment-descr__item">12 778 ₽</div>
            </div>
            <div class="equipment-descr__row">
              <div class="equipment-descr__item">Omnicomm Optim</div>
              <div class="equipment-descr__item">18 561 ₽</div>
            </div>
            <div class="equipment-descr__row">
              <div class="equipment-descr__item">Omnicomm Profi</div>
              <div class="equipment-descr__item">22 438 ₽</div>
            </div>
            <div class="equipment-descr__row">
              <div class="equipment-descr__item">Omnicomm Profi Wi-Fi</div>
              <div class="equipment-descr__item">25 146 ₽</div>
            </div>
            <div class="equipment-descr__row">
              <div class="equipment-descr__item">Omnicomm АСН</div>
              <div class="equipment-descr__item">35 000 ₽</div>
            </div>
          </div>
          <div class="equipment-descr__right">
            <div class="equipment-descr__item">
              <p>Встроенная АКБ 110 мА/ч</p>
              <p>Встроенные чувствительные ГЛОНАСС/GPS- и GSM-антенны</p>
              <p>2G-модем</p>
              <p>1 SIM-карта</p>
              <p>Защита по питанию и защита входных линий до 200В</p>
              <p>3 универсальные входные линии</p>
              <p>Встроенные подтяжки (PULL UP) для входных линий</p>
              <p>2 управляющие выходные линии</p>
              <p>Интерфейс 1-Wire</p>
              <p>Bluetooth 4.0</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="equipment-descr">
  <div class="container">
    <h2 class="equipment-descr__title section-title">Fort</h2>

    <div class="equipment-descr__table">
      <div class="equipment-descr__content">
        <div class="equipment-descr__top">
          <div class="equipment-descr__item">Наименование</div>
          <div class="equipment-descr__item">Цена</div>
          <div class="equipment-descr__item">Характеристики</div>
        </div>

        <div class="equipment-descr__inner">
          <div class="equipment-descr__left">
            <div class="equipment-descr__row">
              <div class="equipment-descr__item"><a href="#">FORT-112M</a></div>
              <div class="equipment-descr__item">12 778 ₽</div>
            </div>
            <div class="equipment-descr__row">
              <div class="equipment-descr__item">FORT-114/114E/114WiFi</div>
              <div class="equipment-descr__item">18 561 ₽</div>
            </div>
            <div class="equipment-descr__row">
              <div class="equipment-descr__item">FORT-112EG-M</div>
              <div class="equipment-descr__item">22 438 ₽</div>
            </div>
          </div>
          <div class="equipment-descr__right">
            <div class="equipment-descr__item">
              <p>Встроенная АКБ 110 мА/ч</p>
              <p>Встроенные чувствительные ГЛОНАСС/GPS- и GSM-антенны</p>
              <p>2G-модем</p>
              <p>1 SIM-карта</p>
              <p>Защита по питанию и защита входных линий до 200В</p>
              <p>3 универсальные входные линии</p>
              <p>Встроенные подтяжки (PULL UP) для входных линий</p>
              <p>2 управляющие выходные линии</p>
              <p>Интерфейс 1-Wire</p>
              <p>Bluetooth 4.0</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="equipment-descr">
  <div class="container">
    <h2 class="equipment-descr__title section-title">GalileoSKY</h2>

    <div class="equipment-descr__table">
      <div class="equipment-descr__content">
        <div class="equipment-descr__top">
          <div class="equipment-descr__item">Наименование</div>
          <div class="equipment-descr__item">Цена</div>
          <div class="equipment-descr__item">Характеристики</div>
        </div>

        <div class="equipment-descr__inner">
          <div class="equipment-descr__left">
            <div class="equipment-descr__row">
              <div class="equipment-descr__item">
                <a href="#">Galileosky 7xC</a>
              </div>
              <div class="equipment-descr__item">8 500 – 9 800 ₽</div>
            </div>
            <div class="equipment-descr__row">
              <div class="equipment-descr__item">Galileosky 7xi</div>
              <div class="equipment-descr__item">12 900 – 15 400 ₽</div>
            </div>
            <div class="equipment-descr__row">
              <div class="equipment-descr__item">Galileosky 7x Wi-Fi Hub</div>
              <div class="equipment-descr__item">17 800 – 23 600 ₽</div>
            </div>
            <div class="equipment-descr__row">
              <div class="equipment-descr__item">BB Iridium</div>
              <div class="equipment-descr__item">56 600 ₽</div>
            </div>
          </div>
          <div class="equipment-descr__right">
            <div class="equipment-descr__item">
              <p>Встроенная АКБ 110 мА/ч</p>
              <p>Встроенные чувствительные ГЛОНАСС/GPS- и GSM-антенны</p>
              <p>2G-модем</p>
              <p>1 SIM-карта</p>
              <p>Защита по питанию и защита входных линий до 200В</p>
              <p>3 универсальные входные линии</p>
              <p>Встроенные подтяжки (PULL UP) для входных линий</p>
              <p>2 управляющие выходные линии</p>
              <p>Интерфейс 1-Wire</p>
              <p>Bluetooth 4.0</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
