<section class="equipment">
  <div class="container">
    <h2 class="equipment__title section-title">
      Наиболее часто устанавливаемое <br />
      оборудование
    </h2>

    <div class="equipment__tabs equipment-tabs">
      <div class="equipment-tabs__left">
        <ul class="equipment-tabs__left-list">
          <li class="equipment-tabs__left-item">
            <button class="equipment-tabs__left-btn active" type="button">
              Тахографы
            </button>
          </li>
          <li class="equipment-tabs__left-item">
            <button class="equipment-tabs__left-btn" type="button">
              ГЛОНАСС
            </button>
          </li>
          <li class="equipment-tabs__left-item">
            <button class="equipment-tabs__left-btn" type="button">
              Видеонаблюдение
            </button>
          </li>
          <li class="equipment-tabs__left-item">
            <button class="equipment-tabs__left-btn" type="button">
              Автономные отопители
            </button>
          </li>
        </ul>
      </div>
      <div class="equipment-tabs__content active">
        <ul class="equipment-tabs__list">
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source srcset="img/equipments/1.webp" type="image/webp" />
                  <img
                    class="image"
                    src="img/equipments/1.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#">
                    Автомобильный ON-LINE регистратор AHD видеорегистратор
                    CVMR-2104D
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source srcset="img/equipments/2.webp" type="image/webp" />
                  <img
                    class="image"
                    src="img/equipments/2.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#">
                    Автомобильный OFF-LINE регистратор "М2Медиа-1080р”
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source srcset="img/equipments/3.webp" type="image/webp" />
                  <img
                    class="image"
                    src="img/equipments/3.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#"> Видеокамера </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source srcset="img/equipments/4.webp" type="image/webp" />
                  <img
                    class="image"
                    src="img/equipments/4.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#">
                    Мобильный жесткий диск MD-201R. Камера автомобильная с ИК
                    подсветкой
                  </a>
                </h3>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <div class="equipment-tabs__content">
        <ul class="equipment-tabs__list">
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source srcset="img/equipments/1.webp" type="image/webp" />
                  <img
                    class="image"
                    src="img/equipments/1.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#">
                    Автомобильный ON-LINE регистратор AHD видеорегистратор
                    CVMR-2104D
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source srcset="img/equipments/2.webp" type="image/webp" />
                  <img
                    class="image"
                    src="img/equipments/2.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#">
                    Автомобильный OFF-LINE регистратор "М2Медиа-1080р”
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source srcset="img/equipments/3.webp" type="image/webp" />
                  <img
                    class="image"
                    src="img/equipments/3.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#"> Видеокамера </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source srcset="img/equipments/4.webp" type="image/webp" />
                  <img
                    class="image"
                    src="img/equipments/4.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#">
                    Мобильный жесткий диск MD-201R. Камера автомобильная с ИК
                    подсветкой
                  </a>
                </h3>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <div class="equipment-tabs__content">
        <ul class="equipment-tabs__list">
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source srcset="img/equipments/1.webp" type="image/webp" />
                  <img
                    class="image"
                    src="img/equipments/1.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#">
                    Автомобильный ON-LINE регистратор AHD видеорегистратор
                    CVMR-2104D
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source srcset="img/equipments/2.webp" type="image/webp" />
                  <img
                    class="image"
                    src="img/equipments/2.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#">
                    Автомобильный OFF-LINE регистратор "М2Медиа-1080р”
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source srcset="img/equipments/3.webp" type="image/webp" />
                  <img
                    class="image"
                    src="img/equipments/3.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#"> Видеокамера </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source srcset="img/equipments/4.webp" type="image/webp" />
                  <img
                    class="image"
                    src="img/equipments/4.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#">
                    Мобильный жесткий диск MD-201R. Камера автомобильная с ИК
                    подсветкой
                  </a>
                </h3>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <div class="equipment-tabs__content">
        <ul class="equipment-tabs__list">
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source srcset="img/equipments/1.webp" type="image/webp" />
                  <img
                    class="image"
                    src="img/equipments/1.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#">
                    Автомобильный ON-LINE регистратор AHD видеорегистратор
                    CVMR-2104D
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source srcset="img/equipments/2.webp" type="image/webp" />
                  <img
                    class="image"
                    src="img/equipments/2.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#">
                    Автомобильный OFF-LINE регистратор "М2Медиа-1080р”
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source srcset="img/equipments/3.webp" type="image/webp" />
                  <img
                    class="image"
                    src="img/equipments/3.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#"> Видеокамера </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="equipment-tabs__item">
            <article class="equipment-card">
              <a class="equipment-card__top" href="#">
                <picture>
                  <source srcset="img/equipments/4.webp" type="image/webp" />
                  <img
                    class="image"
                    src="img/equipments/4.png"
                    alt="equipment"
                  />
                </picture>
              </a>
              <div class="equipment-card__body">
                <h3 class="equipment-card__title">
                  <a href="#">
                    Мобильный жесткий диск MD-201R. Камера автомобильная с ИК
                    подсветкой
                  </a>
                </h3>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
