<section class="era-descr">
  <div class="container">
    <div class="era-descr__wrapper">
      <div class="era-descr__left">
        <h2 class="era-descr__title section-title">2. Заключение договора</h2>

        <div class="era-descr__text">
          <p>
            Для заключения договора и получения USIM карт АО «ГЛОНАСС» нужно
            заполнить данные об организации или ИП (собственнике транспортных
            средств), транспортных средствах в личном кабинете на сайте АО
            «ГЛОНАСС».
            <a href="https://lk.aoglonass.ru" target="_blank">
              Перейти в личный кабинет.
            </a>
          </p>
          <p>
            Мы оказываем помощь в заполнение форм заказов на регистрацию
            транспортных средств и проверке документов необходимых для
            заключения договора. <a href="#">Перечень документов.</a>
          </p>
          <p>
            После подписания договора, заказ отправляется на проверку в АО
            «ГЛОНАСС». Если все прошло успешно, выставляется счет на оплату
            услуг.
          </p>
        </div>
      </div>
      <div class="era-descr__preview">
        <picture>
          <source srcset="img/era-descr-img.webp" type="image/webp" />
          <img src="img/era-descr-img.jpg" alt="img" />
        </picture>
      </div>
    </div>
  </div>
</section>
