<section class="era-install">
  <div class="container">
    <h2 class="era-install__title section-title">
      1. Проверка/установка АСН (Аппаратуры спутниковой навигации)
    </h2>

    <ul class="era-install__list">
      <li class="era-install-item">
        <span class="era-install-item__name">Установка АСН</span>
        <p class="era-install-item__text">
          <b
            >АСН, устанавливаемая на транспортные средства начиная с
            01.09.2021</b
          >, должна соответствовать требованиям технического регламента
          Таможенного союза «О безопасности колесных транспортных средств» (ТРТС
          018/2011) и быть сертифицирована.
        </p>
        <a
          class="era-install-item__btn btn"
          href="https://2216.aoglonass.ru/upload/iblock/b1f/birad1nvywgwj43n9lga24yjh1owrc1q.pdf"
          target="_blank"
        >
          Перечень сертифицированной АСН
        </a>
      </li>
      <li class="era-install-item">
        <span class="era-install-item__name">Проверка АСН</span>
        <p class="era-install-item__text">
          <b>АСН, установленная на транспортные средства до 01.09.2021</b>
          может использоваться при условии ее идентификации в ГАИС «ЭРА
          ГЛОНАСС», ставить новую АСН в этом случае не нужно. Но обязательно
          необходимо проверить работоспособность АСН и идентифицировать ее в
          ГАИС «ЭРА ГЛОНАСС».
        </p>
        <a
          class="era-install-item__btn btn"
          href="https://2216.aoglonass.ru/upload/iblock/4cc/oznlfqcminkwgxqutmlbg5c4bggrc3mf.pdf"
          target="_blank"
        >
          Перечень поддерживаемых моделей АСН
        </a>
      </li>
    </ul>
  </div>
</section>
