<section class="era-adv" style="background-image: url('img/era-adv-img.jpg')">
  <div class="container">
    <div class="era-adv__wrapper">
      <h2 class="era-adv__title section-title">
        Наша компания является агентом АО «ГЛОНАСС» по Мурманской области и
        выполняет все работы по подключению к системе ГАИС «ЭРА-ГЛОНАСС»:
      </h2>

      <ul class="era-adv__list">
        <li class="era-adv__item">
          проверяем документы необходимые для заключения договора с АО
          «ГЛОНАСС»;
        </li>
        <li class="era-adv__item">
          заключаем договора с собственником транспортного средства от имени АО
          «ГЛОНАСС»;
        </li>
        <li class="era-adv__item">
          формируем заказы для регистрации ТС в личном кабинете клиента;
        </li>
        <li class="era-adv__item">
          выдаем и устанавливаем USIM-карты ЭРА-ГЛОНАСС;
        </li>
        <li class="era-adv__item">
          производим монтаж сертифицированных под ПП№2216 модулей мониторинга
          ГЛОНАСС или подключаем уже установленные;
        </li>
        <li class="era-adv__item">
          настраиваем оборудование для передачи данных в ГАИС «ЭРА-ГЛОНАСС» и их
          ретрансляции в используемые на предприятиях коммерческие системы.
        </li>
      </ul>
    </div>
  </div>
</section>
