<section class="era-payment">
  <div class="container">
    <h2 class="era-payment__title section-title">3. Оплата подключения</h2>

    <ul class="era-payment__list">
      <li class="era-payment-item">
        <h3 class="era-payment-item__title">Единовременная</h3>
        <div class="era-payment-item__text">
          <p>
            За идентификацию АСН в ГАИС «ЭРА ГЛОНАСС» необходимо внести
            единовременную плату за каждую единицу АСН.
          </p>
        </div>
      </li>
      <li class="era-payment-item">
        <h3 class="era-payment-item__title">Ежемесячная</h3>
        <div class="era-payment-item__text">
          <p>Ежемесячная абонентская плата складывается из платежей:</p>
        </div>

        <ul class="era-payment-item__list">
          <li class="era-payment-item__item">
            За услуги связи с предоставлением SIM карты в соответствии с
            <span>тарифным планом «ЭРА ТЕЛЕМАТИКА»</span>
            либо в зависимости от выбранного клиентом
            <span>пакета трафика</span>
          </li>
          <li class="era-payment-item__item">
            За передачу информации в Ространснадзор – в размере <b>102 ₽</b> (с
            НДС).
          </li>
        </ul>
      </li>
      <li class="era-payment-item">
        <h3 class="era-payment-item__title">Дополнительные услуги</h3>
        <div class="era-payment-item__text">
          <p>
            При необходимости ретрансляции данных, поступающих от АСН, помимо
            системы Ространснадзора в иные информационные системы, возможно
            настроить передачу данных в эти системы.
          </p>
          <p>
            Услуга передачи данных в одну информационную систему предоставляется
            <b>бесплатно</b>.
          </p>
        </div>
      </li>
      <li class="era-payment-item">
        <div class="era-payment-item__text">
          <p>
            <b>
              Рекомендуем своевременно вносить ежемесячную абонентскую плату во
              избежание приостановки передачи данных в Ространснадзор и
              нарушения требований постановления Правительства РФ от 22.12.20 №
              2216.
            </b>
          </p>
          <p>
            <b>
              Закрывающие документы будут поступать от АО «ГЛОНАСС» по
              Электронному документообороту.
            </b>
          </p>
          <p>
            <b>
              <a href="https://2216.aoglonass.ru/uslugi/" target="_blank">
                Тарифы
              </a>
              на подключение АО ГЛОНАСС
            </b>
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
