<section class="era-descr era-descr--bg-white">
  <div class="container">
    <div class="era-descr__wrapper">
      <div class="era-descr__left">
        <h2 class="era-descr__title section-title">
          4. Установка USIM-карт в АСН
        </h2>

        <div class="era-descr__text">
          <p>
            После оплаты счета, спустя некоторое время, АО «ГЛОНАСС» активирует
            USIM-карты. Их необходимо установить в АСН и настроить оборудование
            для передачи данных в ГАИС «ЭРА-ГЛОНАСС».
          </p>
          <p>
            Провести настройку АСН можно в нашей мастерской или согласовать
            выезд наших специалистов.
          </p>
          <p></p>
        </div>
      </div>
      <div class="era-descr__preview">
        <picture>
          <source srcset="img/era-descr-img-2.webp" type="image/webp" />
          <img src="img/era-descr-img-2.jpg" alt="img" />
        </picture>
      </div>
    </div>
  </div>
</section>
