<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__left">
        <a class="footer__logo logo" href="#">
          <img src="img/logo-dark.png" alt="Логотип" />
        </a>
        <a class="footer__phone" href="tel:+78152701960">
          <span>+7 (8152)</span> 70-19-60
        </a>
      </div>
      <div class="footer__right">
        <div class="footer__col">
          <span class="footer__name">Информация для пользователей</span>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">Политика конфиденциальности </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Карта сайта </a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <span class="footer__name">Направления</span>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">Тахографы </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">ГЛОНАСС </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Видеонаблюдение </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Автономные отопители </a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <span class="footer__name">О компании</span>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">О нас </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Лицензии и сертификаты </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Сотрудники и проекты </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-inner">
        <div class="footer__copy">Copyright © 1998-2022</div>

        <a class="company" href="https://razrabotka-saita.ru/" target="_blank">
          <span>Разработка сайта</span>
          <img src="img/logo-company.png" alt="АдвансМедиа" />
        </a>
      </div>
    </div>
  </div>
</footer>
