<header class="header header--bg">
  <!-- Mobile Menu -->
  <div class="overlay"></div>

  <div class="mobile-menu">
    <div class="mobile-menu__top">
      <a class="mobile-menu__logo logo" href="index.html">
        <img src="img/logo.png" alt="логотип" />
      </a>
      <button
        class="mobile-menu__close"
        type="button"
        aria-label="Закрыть меню"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6 6L18 18"
            stroke="#fff"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M18 6L6 18"
            stroke="#fff"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>

    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>О компании</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Тахографы</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>ГЛОНАСС</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Видеонаблюдение</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"
          ><span>Автономные подогреватели</span></a
        >
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Контакты</span></a>
      </li>
    </ul>

    <div class="mobile-menu__btns">
      <a class="mobile-menu__phone" href="tel:+78152701960">
        +7 (8152) 70-19-60
      </a>
    </div>
  </div>
  <!-- Mobile Menu -->
  <!-- Dropdown -->
  <div class="dropmenu" data-target="tachographs-drop">
    <ul class="dropmenu__list">
      <li class="dropmenu__item">
        <a class="dropmenu__link" href="ru-tachographs.html">
          <span class="dropmenu__img">
            <picture>
              <source srcset="img/dropdown/1.webp" type="image/webp" />
              <img src="img/dropdown/1.png" alt="img" />
            </picture>
          </span>
          <span class="dropmenu__text">Российские тахографы</span>
        </a>
      </li>
      <li class="dropmenu__item">
        <a class="dropmenu__link" href="e-tachographs.html">
          <span class="dropmenu__img">
            <picture>
              <source srcset="img/dropdown/2.webp" type="image/webp" />
              <img src="img/dropdown/2.png" alt="img" />
            </picture>
          </span>
          <span class="dropmenu__text">Европейские тахографы</span>
        </a>
      </li>
      <li class="dropmenu__item">
        <a class="dropmenu__link" href="tachograph-cards.html">
          <span class="dropmenu__img">
            <picture>
              <source srcset="img/dropdown/3.webp" type="image/webp" />
              <img src="img/dropdown/3.png" alt="img" />
            </picture>
          </span>
          <span class="dropmenu__text">Карты для тахографа</span>
        </a>
      </li>
      <li class="dropmenu__item">
        <a class="dropmenu__link" href="legal.html">
          <span class="dropmenu__img">
            <picture>
              <source srcset="img/dropdown/4.webp" type="image/webp" />
              <img src="img/dropdown/4.png" alt="img" />
            </picture>
          </span>
          <span class="dropmenu__text">Законодательство</span>
        </a>
      </li>
      <li class="dropmenu__item">
        <a class="dropmenu__link" href="docs-tachograph.html">
          <span class="dropmenu__img">
            <picture>
              <source srcset="img/dropdown/5.webp" type="image/webp" />
              <img src="img/dropdown/5.png" alt="img" />
            </picture>
          </span>
          <span class="dropmenu__text">Документация и ПО</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="dropmenu dropmenu--glonass" data-target="glonass-drop">
    <div class="dropmenu__cols">
      <div class="dropmenu__col">
        <div class="dropmenu__img">
          <picture>
            <source srcset="img/dropmenu-glonass/1.webp" type="image/webp" />
            <img src="img/dropmenu-glonass/1.jpg" alt="img" />
          </picture>
        </div>
        <ul class="dropmenu__list">
          <li class="dropmenu__item">
            <a class="dropmenu__link" href="solutions.html">
              <b>Основные направления</b>
            </a>
          </li>
          <li class="dropmenu__item">
            <a class="dropmenu__link" href="#"> Контроль топлива </a>
          </li>
          <li class="dropmenu__item">
            <a class="dropmenu__link" href="#"> Контроль температуры</a>
          </li>
          <li class="dropmenu__item">
            <a class="dropmenu__link" href="#">Контроль давления в шинах </a>
          </li>
          <li class="dropmenu__item">
            <a class="dropmenu__link" href="#"> Контроль пассажиропотока</a>
          </li>
          <li class="dropmenu__item">
            <a class="dropmenu__link" href="#">Контроль водителей </a>
          </li>
          <li class="dropmenu__item">
            <a class="dropmenu__link" href="#">Спутниковая навигация </a>
          </li>
          <li class="dropmenu__item">
            <a class="dropmenu__link" href="#">Он-лайн табло </a>
          </li>
          <li class="dropmenu__item">
            <a class="dropmenu__link" href="#">Сохранность груза</a>
          </li>
        </ul>
      </div>
      <div class="dropmenu__col">
        <div class="dropmenu__img">
          <picture>
            <source srcset="img/dropmenu-glonass/2.webp" type="image/webp" />
            <img src="img/dropmenu-glonass/2.jpg" alt="img" />
          </picture>
        </div>
        <ul class="dropmenu__list">
          <li class="dropmenu__item">
            <a class="dropmenu__link" href="descr-duration.html">
              <b>Отраслевые решения</b>
            </a>
          </li>
          <li class="dropmenu__item">
            <a class="dropmenu__link" href="#">Грузоперевозки</a>
          </li>
          <li class="dropmenu__item">
            <a class="dropmenu__link" href="#">Спецтехника</a>
          </li>
          <li class="dropmenu__item">
            <a class="dropmenu__link" href="#">Пассажирский транспорт</a>
          </li>
          <li class="dropmenu__item">
            <a class="dropmenu__link" href="#">Легковой транспорт</a>
          </li>
          <li class="dropmenu__item">
            <a class="dropmenu__link" href="#">Маломерные суда</a>
          </li>
          <li class="dropmenu__item">
            <a class="dropmenu__link" href="#">Персональный мониторинг</a>
          </li>
          <li class="dropmenu__item">
            <a class="dropmenu__link" href="#">Стационарные объекты</a>
          </li>
        </ul>
      </div>
      <div class="dropmenu__col dropmenu__col--right">
        <ul class="dropmenu__list">
          <li class="dropmenu__item">
            <a class="dropmenu__link" href="era.html">
              <picture>
                <source
                  srcset="img/dropmenu-glonass/3.webp"
                  type="image/webp"
                />
                <img src="img/dropmenu-glonass/3.jpg" alt="img" />
              </picture>

              <b>ЭРА ГЛОНАСС (ПП№2216)</b>
            </a>
          </li>
          <li class="dropmenu__item">
            <a class="dropmenu__link" href="software.html">
              <picture>
                <source
                  srcset="img/dropmenu-glonass/4.webp"
                  type="image/webp"
                />
                <img src="img/dropmenu-glonass/4.jpg" alt="img" />
              </picture>

              <b>Програмное обеспечение</b>
            </a>
          </li>
          <li class="dropmenu__item">
            <a class="dropmenu__link" href="legal.html">
              <picture>
                <source
                  srcset="img/dropmenu-glonass/5.webp"
                  type="image/webp"
                />
                <img src="img/dropmenu-glonass/5.jpg" alt="img" />
              </picture>

              <b>Законодательство</b>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">
        <div class="header-btns">
          <span class="header-btns__name">Войти в систему мониторинга:</span>
          <ul class="header-btns__list">
            <li class="header-btns__item">
              <button class="header-btns__btn">Wialon</button>
            </li>
            <li class="header-btns__item">
              <button class="header-btns__btn">СКАУТ</button>
            </li>
            <li class="header-btns__item">
              <button class="header-btns__btn">Fort-monitor</button>
            </li>
            <li class="header-btns__item">
              <button class="header-btns__btn">Omnicomm</button>
            </li>
            <li class="header-btns__item">
              <button class="header-btns__btn">АСМ ГЛОНАСС</button>
            </li>
            <li class="header-btns__item">
              <button class="header-btns__btn">Трансфлоу</button>
            </li>
            <li class="header-btns__item">
              <button class="header-btns__btn">СМУТ</button>
            </li>
          </ul>
        </div>

        <div class="dropdown" data-dropdown>
          <button class="header-drop" data-dropdown-button>
            Войти в систему <br />
            мониторинга
          </button>

          <ul class="dropdown-menu">
            <li class="dropdown-menu__item">
              <button class="dropdown-menu__link" type="button">Wialon</button>
            </li>
            <li class="dropdown-menu__item">
              <button class="dropdown-menu__link" type="button">СКАУТ</button>
            </li>
            <li class="dropdown-menu__item">
              <button class="dropdown-menu__link" type="button">
                Fort-monitor
              </button>
            </li>
            <li class="dropdown-menu__item">
              <button class="dropdown-menu__link" type="button">
                Omnicomm
              </button>
            </li>
            <li class="dropdown-menu__item">
              <button class="dropdown-menu__link" type="button">
                АСМ ГЛОНАСС
              </button>
            </li>
            <li class="dropdown-menu__item">
              <button class="dropdown-menu__link" type="button">
                Трансфлоу
              </button>
            </li>
            <li class="dropdown-menu__item">
              <button class="dropdown-menu__link" type="button">СМУТ</button>
            </li>
          </ul>
        </div>
        <span class="header__phone"> +7 (8152) 70-19-60 </span>
        <!-- <a class="header__phone" href="tel:+78152701960"> +7 (8152) 70-19-60</a> -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="header__bottom">
      <button class="header__toggle" type="button" aria-label="Открыть меню">
        <span class="header__toggle-line"></span>
      </button>

      <a class="logo header__logo" href="index.html">
        <svg
          width="203"
          height="93"
          viewBox="0 0 203 93"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 65.9455C15.5763 83.8583 60.3582 90.9325 80.8022 92.2306C66.5239 86.3894 42.8349 74.7072 35.0467 65.9455C71.067 29.9253 114.875 12.4019 145.054 0.719696C118.769 5.5873 30.1791 29.9253 0 65.9455Z"
            fill="white"
          />
          <path
            d="M46.729 64.972C62.3053 81.3271 90.2128 89.959 102.22 92.2306C96.3785 90.2835 63.2788 75.6807 55.4906 64.972C86.6433 32.8459 125.584 16.296 165.498 0.719696C125.584 9.48138 72.0405 35.7664 46.729 64.972Z"
            fill="white"
          />
          <path
            d="M147.994 46.4659L140.273 72.7154C139.501 75.8265 140.273 76.6043 142.203 76.6043H147.994C150.311 76.6043 150.89 75.6321 151.855 72.7154L158.611 46.4659H170.193C171.737 41.0216 172.123 39.6605 165.367 39.6605H142.203C138.343 39.6605 137.378 40.6327 136.412 46.4659H147.994Z"
            fill="white"
          />
          <path
            d="M120.005 76.6043C124.831 76.6043 125.796 74.6599 126.761 69.7988H113.249C109.388 69.7988 109.066 67.2063 109.388 65.91C110.353 61.3731 112.235 53.4658 113.007 50.3547C113.779 47.2437 117.19 46.4659 118.798 46.4659H132.311C133.855 41.7993 132.311 39.6605 128.691 39.6605H112.283C106.879 39.6605 104.626 41.6049 103.597 45.4937C102.31 50.3547 99.3503 61.8268 97.806 68.8266C96.2618 75.8265 98.7712 76.6043 103.597 76.6043H120.005Z"
            fill="white"
          />
          <path
            d="M190.098 76.6043C194.924 76.6043 195.889 74.6599 196.854 69.7988H183.342C179.481 69.7988 179.16 67.2063 179.481 65.91C180.447 61.3731 182.329 53.4658 183.101 50.3547C183.873 47.2437 187.283 46.4659 188.892 46.4659H202.404C203.948 41.7993 202.404 39.6605 198.785 39.6605H182.377C176.972 39.6605 174.72 41.6049 173.69 45.4937C172.404 50.3547 169.444 61.8268 167.899 68.8266C166.355 75.8265 168.865 76.6043 173.69 76.6043H190.098Z"
            fill="white"
          />
        </svg>
      </a>
      <nav class="header__menu menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="about.html">О компании</a>
          </li>
          <li class="menu__item">
            <a
              class="menu__link menu__link--dropdown"
              href="tachographs.html"
              data-target="tachographs-drop"
            >
              Тахографы
            </a>
          </li>
          <li class="menu__item">
            <a
              class="menu__link menu__link--dropdown"
              href="glonass.html"
              data-target="glonass-drop"
            >
              ГЛОНАСС
            </a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="video.html">Видеонаблюдение</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="heaters.html"
              >Автономные подогреватели</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__link" href="contacts.html">Контакты</a>
          </li>
        </ul>
      </nav>
      <button class="header__btn btn back-call-btn" type="button">
        Отправить заявку
      </button>
    </div>
  </div>
</header>
