<section class="heaters-types">
  <div class="container">
    <h2 class="heaters-types__title section-title">
      Виды автономных отопителей салона
    </h2>
    <p class="heaters-types__text">
      Дополнительные устройства для отопления салона подразделяются на:
    </p>

    <ul class="heaters-types__list">
      <li class="heaters-types__item">
        <article class="heaters-card">
          <h3 class="heaters-card__title">Воздушные</h3>

          <picture>
            <source srcset="img/heaters/1.webp" type="image/webp" />
            <img
              class="heaters-card__img"
              src="img/heaters/1.png"
              alt="heaters"
            />
          </picture>

          <p class="heaters-card__text">
            Основная задача – первоначальный прогрев воздуха в салоне ТС и
            поддержание комфортной температуры. Различаются по мощности в
            зависимости от объема внутреннего пространства, которое необходимо
            прогревать.
          </p>
        </article>
      </li>
      <li class="heaters-types__item">
        <article class="heaters-card">
          <h3 class="heaters-card__title">Жидкостные</h3>

          <picture>
            <source srcset="img/heaters/2.webp" type="image/webp" />
            <img
              class="heaters-card__img"
              src="img/heaters/2.png"
              alt="heaters"
            />
          </picture>

          <p class="heaters-card__text">
            Выполняет функцию прогрева двигателя ТС до начала движения, подогрев
            и поддержание комфортной температуры в салоне. Выбор подогревателя
            зависит от марки, модели ТС и какой объем салона необходимо
            подогревать.
          </p>
        </article>
      </li>
    </ul>
  </div>
</section>
