<header class="header">
  <!-- Mobile Menu -->
  <div class="overlay"></div>

  <div class="mobile-menu">
    <div class="mobile-menu__top">
      <a class="mobile-menu__logo logo" href="#">
        <img src="img/logo.png" alt="логотип" />
      </a>
      <button
        class="mobile-menu__close"
        type="button"
        aria-label="Закрыть меню"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6 6L18 18"
            stroke="#fff"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M18 6L6 18"
            stroke="#fff"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>

    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>О компании</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Тахографы</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>ГЛОНАСС</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Видеонаблюдение</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"
          ><span>Автономные подогреватели</span></a
        >
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Контакты</span></a>
      </li>
    </ul>

    <div class="mobile-menu__btns">
      <a class="mobile-menu__phone" href="tel:+78152701960">
        +7 (8152) 70-19-60
      </a>
    </div>
  </div>
  <!-- Mobile Menu -->
  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">
        <div class="header-btns">
          <span class="header-btns__name">Войти в систему мониторинга:</span>
          <ul class="header-btns__list">
            <li class="header-btns__item">
              <button class="header-btns__btn">Wialon</button>
            </li>
            <li class="header-btns__item">
              <button class="header-btns__btn">СКАУТ</button>
            </li>
            <li class="header-btns__item">
              <button class="header-btns__btn">Fort-monitor</button>
            </li>
            <li class="header-btns__item">
              <button class="header-btns__btn">Omnicomm</button>
            </li>
            <li class="header-btns__item">
              <button class="header-btns__btn">АСМ ГЛОНАСС</button>
            </li>
            <li class="header-btns__item">
              <button class="header-btns__btn">Трансфлоу</button>
            </li>
            <li class="header-btns__item">
              <button class="header-btns__btn">СМУТ</button>
            </li>
          </ul>
        </div>

        <div class="dropdown" data-dropdown>
          <button class="header-drop" data-dropdown-button>
            Войти в систему <br />
            мониторинга
          </button>
          <ul class="dropdown-menu">
            <li class="dropdown-menu__item">
              <button class="dropdown-menu__link" type="button">Выйти</button>
            </li>
            <li class="dropdown-menu__item">
              <button class="dropdown-menu__link" type="button">
                Другой аккаунт
              </button>
            </li>
          </ul>
        </div>
        <a class="header__phone" href="+78152701960">+7 (8152) 70-19-60</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="header__bottom">
      <button class="header__toggle" type="button" aria-label="Открыть меню">
        <span class="header__toggle-line"></span>
      </button>
      <a class="logo header__logo" href="#">
        <img src="img/logo.png" alt="logo" />
      </a>
      <nav class="header__menu menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link menu__link--dropdown" href="#">О компании</a>

            <div class="dropmenu">
              <ul class="dropmenu__list">
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">О компании</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">О компании</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">О компании</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">О компании</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">О компании</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">О компании</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="menu__item">
            <a class="menu__link menu__link--dropdown" href="#"> Тахографы </a>

            <div class="dropmenu">
              <ul class="dropmenu__list">
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Тахографы</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Тахографы</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Тахографы</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Тахографы</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Тахографы</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Тахографы</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="menu__item">
            <a class="menu__link menu__link--dropdown" href="#"> ГЛОНАСС </a>

            <div class="dropmenu">
              <ul class="dropmenu__list">
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">ГЛОНАСС</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">ГЛОНАСС</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">ГЛОНАСС</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">ГЛОНАСС</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">ГЛОНАСС</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">ГЛОНАСС</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="menu__item">
            <a class="menu__link menu__link--dropdown" href="#">
              Видеонаблюдение
            </a>

            <div class="dropmenu">
              <ul class="dropmenu__list">
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Видеонаблюдение</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Видеонаблюдение</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Видеонаблюдение</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Видеонаблюдение</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Видеонаблюдение</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Видеонаблюдение</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="menu__item">
            <a class="menu__link menu__link--dropdown" href="#">
              Автономные подогреватели
            </a>

            <div class="dropmenu">
              <ul class="dropmenu__list">
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">подогреватели</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">подогреватели</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">подогреватели</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">подогреватели</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">подогреватели</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">подогреватели</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Контакты</a>
          </li>
        </ul>
      </nav>
      <button class="header__btn btn" type="button">
        Отправить заявку

        <div class="dropmenu">
          <ul class="dropmenu__list">
            <li class="dropmenu__item">
              <a class="dropmenu__link" href="#"> Не отправлять заявку</a>
            </li>
            <li class="dropmenu__item">
              <a class="dropmenu__link" href="#"> Нет, все таки отправить заявку</a>
            </li>
          </ul>
        </div>
      </button>
    </div>
  </div>
</header>
