<section class="hero" style="background-image: url('img/hero/1.jpg')">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__offer">
        <h1 class="hero__title">
          Установка и сопровождение оборудования ГЛОНАСС
        </h1>
        <p class="hero__text">
          Контролируйте маршруты <br />
          и движения транспортных средств, отслеживайте расход топлива и
          показания приборов.
        </p>
        <a class="hero__btn btn" href="#">Подробнее</a>
      </div>

      <div class="hero__bottom">
        <div class="hero__slider swiper">
          <ul class="hero__slides swiper-wrapper">
            <li class="hero__slide swiper-slide">
              Установка и сопровождение оборудованя ГЛОНАСС
            </li>
            <li class="hero__slide swiper-slide">
              Исполнение постановления правительства РФ
            </li>
            <li class="hero__slide swiper-slide">
              Установка и сопровождение тахографов
            </li>
            <li class="hero__slide swiper-slide">
              Получение карты водителя для тахографа
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
