<section class="promo">
  <div class="promo__slider swiper">
    <div class="promo__slides swiper-wrapper">
      <div
        class="promo__slide swiper-slide"
        style="background-image: url('img/promo/1.jpg')"
      >
        <div class="promo__wrapper">
          <div class="container">
            <div class="promo__inner">
              <div class="promo__offer">
                <h1 class="promo__title">
                  Установка <br />
                  и сопровождение оборудования ГЛОНАСС
                </h1>
                <p class="promo__text">
                  Контролируйте маршруты и движения транспортных средств, <br />
                  отслеживайте расход топлива и показания приборов.
                </p>
                <a class="promo__btn btn" href="#">Подробнее</a>
              </div>

              <div class="promo__bottom">
                <div class="promo-slider swiper">
                  <ul class="promo-slider__slides swiper-wrapper">
                    <li class="promo-slider__slide swiper-slide">
                      Установка и сопровождение оборудованя ГЛОНАСС
                    </li>
                    <li class="promo-slider__slide swiper-slide">
                      Исполнение постановления правительства РФ
                    </li>
                    <li class="promo-slider__slide swiper-slide">
                      Установка и сопровождение тахографов
                    </li>
                    <li class="promo-slider__slide swiper-slide">
                      Получение карты водителя для тахографа
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="promo__slide promo__slide--pt swiper-slide"
        style="background-image: url('img/promo/2.jpg')"
      >
        <div class="container">
          <div class="promo__inner">
            <div class="promo__offer">
              <h1 class="promo__title">
                Исполнение постановления Правительства РФ
              </h1>
              <p class="promo__text">
                Постановлением Правительства РФ от 22.12.2020 № 2216 в целях
                обеспечения повышения эффективности управления движением
                транспортных средств и уровня безопасности перевозок пассажиров
                и опасных грузов утверждены новые Правила оснащения транспортных
                средств категорий М2, М3 и транспортных средств категории N,
                используемых для перевозки опасных грузов, аппаратурой
                спутниковой навигации (АСН).
              </p>
              <a class="promo__btn btn" href="#">Подробнее</a>
            </div>

            <div class="promo__bottom">
              <div class="promo-slider swiper">
                <ul class="promo-slider__slides swiper-wrapper">
                  <li class="promo-slider__slide swiper-slide">
                    Установка и сопровождение оборудованя ГЛОНАСС
                  </li>
                  <li class="promo-slider__slide swiper-slide">
                    Исполнение постановления правительства РФ
                  </li>
                  <li class="promo-slider__slide swiper-slide">
                    Установка и сопровождение тахографов
                  </li>
                  <li class="promo-slider__slide swiper-slide">
                    Получение карты водителя для тахографа
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="promo__slide swiper-slide"
        style="background-image: url('img/promo/3.jpg')"
      >
        <div class="container">
          <div class="promo__inner">
            <div class="promo__offer">
              <h1 class="promo__title">
                Установка и <br />
                обслуживание тахографов
              </h1>
              <p class="promo__text">
                Надежные цифровые тахографы способны фиксировать скорость <br />
                движения, пройденное расстояние, а также периоды отдыха <br />
                и работы, сохраняя всю информацию у себя в памяти.
              </p>
              <a class="promo__btn btn" href="#">Подробнее</a>
            </div>

            <div class="promo__bottom">
              <div class="promo-slider swiper">
                <ul class="promo-slider__slides swiper-wrapper">
                  <li class="promo-slider__slide swiper-slide">
                    Установка и сопровождение оборудованя ГЛОНАСС
                  </li>
                  <li class="promo-slider__slide swiper-slide">
                    Исполнение постановления правительства РФ
                  </li>
                  <li class="promo-slider__slide swiper-slide">
                    Установка и обслуживание тахографов
                  </li>
                  <li class="promo-slider__slide swiper-slide">
                    Получение карты водителя для тахографа
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="promo__slide swiper-slide"
        style="background-image: url('img/promo/4.jpg')"
      >
        <div class="container">
          <div class="promo__inner">
            <div class="promo__offer">
              <h1 class="promo__title">
                Получение карты <br />
                водителя для тахографа
              </h1>
              <p class="promo__text">
                Мы изготавливаем карты для всех <br />
                типов тахографов
              </p>
              <a class="promo__btn btn" href="#">Подробнее</a>
            </div>

            <div class="promo__bottom">
              <div class="promo-slider swiper">
                <ul class="promo-slider__slides swiper-wrapper">
                  <li class="promo-slider__slide swiper-slide">
                    Установка и сопровождение оборудованя ГЛОНАСС
                  </li>
                  <li class="promo-slider__slide swiper-slide">
                    Исполнение постановления правительства РФ
                  </li>
                  <li class="promo-slider__slide swiper-slide">
                    Установка и сопровождение тахографов
                  </li>
                  <li class="promo-slider__slide swiper-slide">
                    Получение карты водителя для тахографа
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
