<section class="promo">
  <div class="promo__wrapper">
    <div class="promo__slider">
      <div class="slider-thumbs">
        <div class="slider-thumbs__nav slider-nav swiper" id="slider-nav">
          <ul class="swiper-wrapper">
            <li class="slider-nav__slide swiper-slide">
              <span>Установка и сопровождение оборудования ГЛОНАСС</span>
            </li>
            <li class="slider-nav__slide swiper-slide">
              <span> Исполнение <br> ПП№2216 <br> от 22.12.2020</span>
            </li>
            <li class="slider-nav__slide swiper-slide">
              <span>Установка и сопровождение тахографов</span>
            </li>
            <li class="slider-nav__slide swiper-slide">
              <span>Получение карты водителя для <br />
                тахографа</span>
            </li>
          </ul>
        </div>

        <div class="slider-thumbs__main swiper thumbs-main" id="slider-main">
          <ul class="thumbs-main__slides swiper-wrapper">
            <li
              class="thumbs-main__slide swiper-slide"
              style="background-image: url('img/promo/1.jpg')"
            >
              <div class="container">
                <div class="promo__inner">
                  <div class="promo__offer">
                    <h1 class="promo__title">
                      Установка <br />
                      и сопровождение <br />
                      оборудования ГЛОНАСС
                    </h1>
                    <p class="promo__text">
                      Контролируйте маршруты и движения транспортных средств,
                      <br />
                      отслеживайте расход топлива и показания приборов.
                    </p>
                    <a class="promo__btn btn" href="#">Подробнее</a>
                  </div>
                </div>
              </div>
            </li>
            <li
              class="thumbs-main__slide swiper-slide thumbs-main__slide--pt"
              style="background-image: url('img/promo/2.jpg')"
            >
              <div class="container">
                <div class="promo__inner">
                  <div class="promo__offer">
                    <h1 class="promo__title">
                      Исполнение постановления <br />
                      Правительства РФ
                    </h1>
                    <p class="promo__text">
                      Постановлением Правительства РФ от 22.12.2020 № 2216 в
                      целях обеспечения повышения эффективности управления
                      движением транспортных средств и уровня безопасности
                      перевозок пассажиров и опасных грузов утверждены новые
                      Правила оснащения транспортных средств категорий М2, М3 и
                      транспортных средств категории N, используемых для
                      перевозки опасных грузов, аппаратурой спутниковой
                      навигации (АСН).
                    </p>
                    <a class="promo__btn btn" href="#">Подробнее</a>
                  </div>
                </div>
              </div>
            </li>
            <li
              class="thumbs-main__slide swiper-slide"
              style="background-image: url('img/promo/3.jpg')"
            >
              <div class="container">
                <div class="promo__inner">
                  <div class="promo__offer">
                    <h1 class="promo__title">
                      Установка и <br />
                      обслуживание тахографов
                    </h1>
                    <p class="promo__text">
                      Надежные цифровые тахографы способны фиксировать скорость
                      <br />
                      движения, пройденное расстояние, а также периоды отдыха
                      <br />
                      и работы, сохраняя всю информацию у себя в памяти.
                    </p>
                    <a class="promo__btn btn" href="#">Подробнее</a>
                  </div>
                </div>
              </div>
            </li>
            <li
              class="thumbs-main__slide swiper-slide"
              style="background-image: url('img/promo/4.jpg')"
            >
              <div class="container">
                <div class="promo__inner">
                  <div class="promo__offer">
                    <h1 class="promo__title">
                      Получение карты <br />
                      водителя для тахографа
                    </h1>
                    <p class="promo__text">
                      Мы изготавливаем карты для всех <br />
                      типов тахографов
                    </p>
                    <a class="promo__btn btn" href="#">Подробнее</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
