<section class="installation-tachograph" id="install-ru">
  <div class="container">
    <h2 class="installation-tachograph__title section-title">
      <span>II.</span> Первичная установка тахографа
    </h2>

    <ul class="installation-tachograph__list">
      <li class="installation-tachograph__item">
        <a class="btn-anchor-arrow" href="#creation-ru">
          <span class="btn-anchor-arrow__top">
            <span class="btn-anchor-arrow__count">Шаг 1</span>
            <span class="btn-anchor-arrow__icon">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16.2891 11.9141L10.6641 17.5391C10.4872 17.7137 10.2486 17.8116 10 17.8116C9.75143 17.8116 9.51286 17.7137 9.33595 17.5391L3.71095 11.9141C3.53483 11.7379 3.43588 11.4991 3.43588 11.25C3.43588 11.0009 3.53483 10.7621 3.71095 10.5859C3.88707 10.4098 4.12594 10.3109 4.37501 10.3109C4.62408 10.3109 4.86295 10.4098 5.03907 10.5859L9.06251 14.6094V3.125C9.06251 2.87636 9.16128 2.6379 9.3371 2.46209C9.51291 2.28627 9.75137 2.1875 10 2.1875C10.2486 2.1875 10.4871 2.28627 10.6629 2.46209C10.8387 2.6379 10.9375 2.87636 10.9375 3.125V14.6094L14.9609 10.5859C15.1371 10.4098 15.3759 10.3109 15.625 10.3109C15.8741 10.3109 16.113 10.4098 16.2891 10.5859C16.4652 10.7621 16.5641 11.0009 16.5641 11.25C16.5641 11.4991 16.4652 11.7379 16.2891 11.9141V11.9141Z"
                  fill="#2172FF"
                />
              </svg>
            </span>
          </span>
          Создание МЧД
        </a>
      </li>
      <li class="installation-tachograph__item">
        <a class="btn-anchor-arrow" href="#transport-survey-ru">
          <span class="btn-anchor-arrow__top">
            <span class="btn-anchor-arrow__count">Шаг 2</span>
            <span class="btn-anchor-arrow__icon">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16.2891 11.9141L10.6641 17.5391C10.4872 17.7137 10.2486 17.8116 10 17.8116C9.75143 17.8116 9.51286 17.7137 9.33595 17.5391L3.71095 11.9141C3.53483 11.7379 3.43588 11.4991 3.43588 11.25C3.43588 11.0009 3.53483 10.7621 3.71095 10.5859C3.88707 10.4098 4.12594 10.3109 4.37501 10.3109C4.62408 10.3109 4.86295 10.4098 5.03907 10.5859L9.06251 14.6094V3.125C9.06251 2.87636 9.16128 2.6379 9.3371 2.46209C9.51291 2.28627 9.75137 2.1875 10 2.1875C10.2486 2.1875 10.4871 2.28627 10.6629 2.46209C10.8387 2.6379 10.9375 2.87636 10.9375 3.125V14.6094L14.9609 10.5859C15.1371 10.4098 15.3759 10.3109 15.625 10.3109C15.8741 10.3109 16.113 10.4098 16.2891 10.5859C16.4652 10.7621 16.5641 11.0009 16.5641 11.25C16.5641 11.4991 16.4652 11.7379 16.2891 11.9141V11.9141Z"
                  fill="#2172FF"
                />
              </svg>
            </span>
          </span>
          Обследование <br />
          ТС
        </a>
      </li>
      <li class="installation-tachograph__item">
        <a class="btn-anchor-arrow" href="#installation-work-ru">
          <span class="btn-anchor-arrow__top">
            <span class="btn-anchor-arrow__count">Шаг 3</span>
            <span class="btn-anchor-arrow__icon"
              ><svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16.2891 11.9141L10.6641 17.5391C10.4872 17.7137 10.2486 17.8116 10 17.8116C9.75143 17.8116 9.51286 17.7137 9.33595 17.5391L3.71095 11.9141C3.53483 11.7379 3.43588 11.4991 3.43588 11.25C3.43588 11.0009 3.53483 10.7621 3.71095 10.5859C3.88707 10.4098 4.12594 10.3109 4.37501 10.3109C4.62408 10.3109 4.86295 10.4098 5.03907 10.5859L9.06251 14.6094V3.125C9.06251 2.87636 9.16128 2.6379 9.3371 2.46209C9.51291 2.28627 9.75137 2.1875 10 2.1875C10.2486 2.1875 10.4871 2.28627 10.6629 2.46209C10.8387 2.6379 10.9375 2.87636 10.9375 3.125V14.6094L14.9609 10.5859C15.1371 10.4098 15.3759 10.3109 15.625 10.3109C15.8741 10.3109 16.113 10.4098 16.2891 10.5859C16.4652 10.7621 16.5641 11.0009 16.5641 11.25C16.5641 11.4991 16.4652 11.7379 16.2891 11.9141V11.9141Z"
                  fill="#2172FF"
                />
              </svg>
            </span>
          </span>
          Монтажные работы
        </a>
      </li>
      <li class="installation-tachograph__item">
        <a class="btn-anchor-arrow" href="#activation-ru">
          <span class="btn-anchor-arrow__top">
            <span class="btn-anchor-arrow__count">Шаг 4</span>
            <span class="btn-anchor-arrow__icon"
              ><svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16.2891 11.9141L10.6641 17.5391C10.4872 17.7137 10.2486 17.8116 10 17.8116C9.75143 17.8116 9.51286 17.7137 9.33595 17.5391L3.71095 11.9141C3.53483 11.7379 3.43588 11.4991 3.43588 11.25C3.43588 11.0009 3.53483 10.7621 3.71095 10.5859C3.88707 10.4098 4.12594 10.3109 4.37501 10.3109C4.62408 10.3109 4.86295 10.4098 5.03907 10.5859L9.06251 14.6094V3.125C9.06251 2.87636 9.16128 2.6379 9.3371 2.46209C9.51291 2.28627 9.75137 2.1875 10 2.1875C10.2486 2.1875 10.4871 2.28627 10.6629 2.46209C10.8387 2.6379 10.9375 2.87636 10.9375 3.125V14.6094L14.9609 10.5859C15.1371 10.4098 15.3759 10.3109 15.625 10.3109C15.8741 10.3109 16.113 10.4098 16.2891 10.5859C16.4652 10.7621 16.5641 11.0009 16.5641 11.25C16.5641 11.4991 16.4652 11.7379 16.2891 11.9141V11.9141Z"
                  fill="#2172FF"
                />
              </svg>
            </span>
          </span>
          Активация <br />
          блока СКЗИ
        </a>
      </li>
      <li class="installation-tachograph__item">
        <a class="btn-anchor-arrow" href="#installing-tachograph-ru">
          <span class="btn-anchor-arrow__top">
            <span class="btn-anchor-arrow__count">Шаг 5</span>
            <span class="btn-anchor-arrow__icon"
              ><svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16.2891 11.9141L10.6641 17.5391C10.4872 17.7137 10.2486 17.8116 10 17.8116C9.75143 17.8116 9.51286 17.7137 9.33595 17.5391L3.71095 11.9141C3.53483 11.7379 3.43588 11.4991 3.43588 11.25C3.43588 11.0009 3.53483 10.7621 3.71095 10.5859C3.88707 10.4098 4.12594 10.3109 4.37501 10.3109C4.62408 10.3109 4.86295 10.4098 5.03907 10.5859L9.06251 14.6094V3.125C9.06251 2.87636 9.16128 2.6379 9.3371 2.46209C9.51291 2.28627 9.75137 2.1875 10 2.1875C10.2486 2.1875 10.4871 2.28627 10.6629 2.46209C10.8387 2.6379 10.9375 2.87636 10.9375 3.125V14.6094L14.9609 10.5859C15.1371 10.4098 15.3759 10.3109 15.625 10.3109C15.8741 10.3109 16.113 10.4098 16.2891 10.5859C16.4652 10.7621 16.5641 11.0009 16.5641 11.25C16.5641 11.4991 16.4652 11.7379 16.2891 11.9141V11.9141Z"
                  fill="#2172FF"
                />
              </svg>
            </span>
          </span>
          Установка <br />
          тахографа
        </a>
      </li>
      <li class="installation-tachograph__item">
        <a class="btn-anchor-arrow" href="#issuance-certificate-ru">
          <span class="btn-anchor-arrow__top">
            <span class="btn-anchor-arrow__count">Шаг 6</span>
            <span class="btn-anchor-arrow__icon"
              ><svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16.2891 11.9141L10.6641 17.5391C10.4872 17.7137 10.2486 17.8116 10 17.8116C9.75143 17.8116 9.51286 17.7137 9.33595 17.5391L3.71095 11.9141C3.53483 11.7379 3.43588 11.4991 3.43588 11.25C3.43588 11.0009 3.53483 10.7621 3.71095 10.5859C3.88707 10.4098 4.12594 10.3109 4.37501 10.3109C4.62408 10.3109 4.86295 10.4098 5.03907 10.5859L9.06251 14.6094V3.125C9.06251 2.87636 9.16128 2.6379 9.3371 2.46209C9.51291 2.28627 9.75137 2.1875 10 2.1875C10.2486 2.1875 10.4871 2.28627 10.6629 2.46209C10.8387 2.6379 10.9375 2.87636 10.9375 3.125V14.6094L14.9609 10.5859C15.1371 10.4098 15.3759 10.3109 15.625 10.3109C15.8741 10.3109 16.113 10.4098 16.2891 10.5859C16.4652 10.7621 16.5641 11.0009 16.5641 11.25C16.5641 11.4991 16.4652 11.7379 16.2891 11.9141V11.9141Z"
                  fill="#2172FF"
                />
              </svg>
            </span>
          </span>
          Калибровка, опломбировка, выдача свидетельства
        </a>
      </li>
      <!-- <li class="installation-tachograph__item">
        <a class="btn-anchor-arrow" href="#issuance-certificate-ru">
          <span class="btn-anchor-arrow__top">
            <span class="btn-anchor-arrow__count">Шаг 7</span>
            <span class="btn-anchor-arrow__icon"
              ><svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16.2891 11.9141L10.6641 17.5391C10.4872 17.7137 10.2486 17.8116 10 17.8116C9.75143 17.8116 9.51286 17.7137 9.33595 17.5391L3.71095 11.9141C3.53483 11.7379 3.43588 11.4991 3.43588 11.25C3.43588 11.0009 3.53483 10.7621 3.71095 10.5859C3.88707 10.4098 4.12594 10.3109 4.37501 10.3109C4.62408 10.3109 4.86295 10.4098 5.03907 10.5859L9.06251 14.6094V3.125C9.06251 2.87636 9.16128 2.6379 9.3371 2.46209C9.51291 2.28627 9.75137 2.1875 10 2.1875C10.2486 2.1875 10.4871 2.28627 10.6629 2.46209C10.8387 2.6379 10.9375 2.87636 10.9375 3.125V14.6094L14.9609 10.5859C15.1371 10.4098 15.3759 10.3109 15.625 10.3109C15.8741 10.3109 16.113 10.4098 16.2891 10.5859C16.4652 10.7621 16.5641 11.0009 16.5641 11.25C16.5641 11.4991 16.4652 11.7379 16.2891 11.9141V11.9141Z"
                  fill="#2172FF"
                />
              </svg>
            </span>
          </span>
          
        </a>
      </li> -->
    </ul>

    <article class="creation" id="creation-ru">
      <h3 class="creation__title article-title">
        <span class="title-counter">1</span> Создание МЧД (для Юр. лиц и ИП)
      </h3>
      <p class="creation__text">
        Зарегистрироваться на портале ФБУ «Росавтотранс» и создать
        машиночитаемую доверенность (МЧД).
      </p>
      <a class="creation__btn btn" href="#">Скачать инструкцию</a>

      <ol class="creation__list">
        <li class="creation-item">
          <div class="creation-item__count">01</div>
          <picture>
            <source srcset="img/creation/1.webp" type="image/webp" />
            <img
              class="creation-item__img"
              src="img/creation/1.png"
              alt="img"
              width="38"
              height="38"
            />
          </picture>
          <p class="creation-item__text">
            Зарегистрировать личный кабинет предприятия  на портале
            Автоматизированной информационной системы «Тахографический контроль»
            (АИС ТК) ФБУ «Росавтотранс» по адресу:
            <a href="https://portal.rosavtotransport.ru" target="_blank">
              https://portal.rosavtotransport.ru
            </a>
          </p>
        </li>
        <li class="creation-item">
          <div class="creation-item__count">02</div>
          <picture>
            <source srcset="img/creation/2.webp" type="image/webp" />
            <img
              class="creation-item__img"
              src="img/creation/2.png"
              alt="img"
              width="38"
              height="38"
            />
          </picture>
          <p class="creation-item__text">
            Заполнить формы для создания заявления и машиночитаемой
            доверенности  (МЧД).
          </p>
        </li>
        <li class="creation-item">
          <div class="creation-item__count">03</div>
          <picture>
            <source srcset="img/creation/3.webp" type="image/webp" />
            <img
              class="creation-item__img"
              src="img/creation/3.png"
              alt="img"
              width="38"
              height="38"
            />
          </picture>
          <p class="creation-item__text">
            Скачать  сформированные заполненные формы файлов доверенности и
            заявления в формате PDF.
          </p>
        </li>
        <li class="creation-item">
          <div class="creation-item__count">04</div>
          <picture>
            <source srcset="img/creation/4.webp" type="image/webp" />
            <img
              class="creation-item__img"
              src="img/creation/4.png"
              alt="img"
              width="38"
              height="38"
            />
          </picture>
          <p class="creation-item__text">
            Подписать  скачанные  доверенность  и заявление
            <b>квалифицированной электронной подписью</b> (КЭП), выпущенной на
            руководителя предприятия или индивидуального предпринимателя (лицо,
            имеющее право действовать от имени юридического лица без
            доверенности)
          </p>
        </li>
        <li class="creation-item">
          <div class="creation-item__count">05</div>
          <picture>
            <source srcset="img/creation/5.webp" type="image/webp" />
            <img
              class="creation-item__img"
              src="img/creation/5.png"
              alt="img"
              width="38"
              height="38"
            />
          </picture>
          <p class="creation-item__text">
            Отправить  доверенность и  заявление  подписанные КЭП организации на
            портал АИС ТК для проверки и учёта в соответствующих перечнях.
          </p>
        </li>
        <li class="creation-item">
          <div class="creation-item__count">06</div>
          <picture>
            <source srcset="img/creation/6.webp" type="image/webp" />
            <img
              class="creation-item__img"
              src="img/creation/6.png"
              alt="img"
              width="38"
              height="38"
            />
          </picture>
          <p class="creation-item__text">
            После проверки и одобрения документов предоставить в мастерскую
            машиночитаемую доверенность и <a href="#">документы</a>
          </p>
        </li>
      </ol>
    </article>
  </div>

  <article class="transport-survey" id="transport-survey-ru">
    <div class="container">
      <div class="transport-survey__wrapper">
        <div class="transport-survey_left">
          <h3 class="transport-survey__title article-title">
            <span class="title-counter">2</span> Обследование транспортного
            средства
          </h3>
          <p class="transport-survey__text">
            На этом этапе сотрудник мастерской проводит осмотр транспортного
            средства. Определяется состояние ТС, необходимые работы и
            оборудование для установки тахографа. Перечень работ согласуется с
            заказчиком.
          </p>
        </div>
        <div class="transport-survey__preview">
          <picture>
            <source srcset="img/transport-survey-img.webp" type="image/webp" />
            <img src="img/transport-survey-img.jpg" alt="" />
          </picture>
        </div>
      </div>
    </div>
  </article>

  <article class="installation-work" id="installation-work-ru">
    <div class="container">
      <h3 class="installation-work__title article-title">
        <span class="title-counter">3</span>Монтажные работы
      </h3>
      <p class="installation-work__text">
        Работы по монтажу тахографа на каждую модель ТС индивидуальны.
        Необходимым условием для работы тахографа является подключение его к
        датчику движения, подключение к постоянному питанию и установку на
        место, доступное водителю со своего рабочего места.
      </p>
    </div>
  </article>

  <article class="activation" id="activation-ru">
    <div class="container">
      <h3 class="activation__title article-title">
        <span class="title-counter">4</span> Активация и калибровка тахографа
      </h3>
      <div class="activation__text">
        <p>
          Активацию и тарировку тахографа выполняется только в
          <span>мастерских</span>, включенных в соответствующие перечни,
          опубликованные на официальном сайте ФБУ Росавтотранс.
          <b>
            Авторизованная тахографическая мастерская СИСТЕМОТЕХНИКА-СЕРВИС,
            решением Минтранса РФ включена в список действующих мастерских по
            установке и техническому обслуживанию контрольных устройств
            (тахографов), а так же имеет лицензию ФСБ на осуществление
            деятельности, в отношении шифровальных (криптографических) средств
            (СКЗИ) </b
          >.
        </p>
        <p>
          Активацию тахографа проводит сотрудник тахографической мастерской по
          предоставленным документам заказчика:
        </p>
      </div>

      <div class="activation__cols">
        <div class="activation__col">
          <span class="activation__name">Для юридических лиц</span>

          <ul class="activation__list">
            <li class="activation__item">Выписка ЕГРЮЛ</li>
            <li class="activation__item">
              Cвидетельство о регистрации ТС и ПТС
            </li>
            <li class="activation__item">
              <b>
                Машиночитаемая доверенность от предприятия на лицо, которое
                подписывает документы в процессе активации тахографа
              </b>
            </li>
            <li class="activation__item">Паспорт представителя</li>
            <li class="activation__item">СНИЛС представителя</li>
            <li class="activation__item">ИНН</li>
            <li class="activation__item">
              <b>
                Согласие на обработку персональных данных представителя от компании
              </b>
            </li>
          </ul>
        </div>
        <div class="activation__col">
          <span class="activation__name">Для ип</span>

          <ul class="activation__list">
            <li class="activation__item">Паспорт</li>
            <li class="activation__item">CНИЛС</li>
            <li class="activation__item">ИНН</li>
            <li class="activation__item">
              Свидетельство о регистрации ТС и ПТС
            </li>
            <li class="activation__item">ОГРНИП</li>
            <li class="activation__item">
              <b>Согласие на обработку персональных данных</b>
            </li>
          </ul>
        </div>
        <div class="activation__col">
          <span class="activation__name">Для физических лиц</span>

          <ul class="activation__list">
            <li class="activation__item">Паспорт</li>
            <li class="activation__item">CНИЛС</li>
            <li class="activation__item">ИНН</li>
            <li class="activation__item">
              Свидетельство о регистрации ТС и ПТС
            </li>
            <li class="activation__item">
              <b>
                Согласие на обработку персональных данных
              </b>
            </li>
          </ul>
        </div>
      </div>

      <div class="attention">
        <span class="attention__name"><b> Внимание! </b> </span>
        <p class="attention__text">
          После активации блока СКЗИ в личный кабинет, на портале Госуслуги,
          доверенному лицу организации, Индивидуальному предпринимателю или
          владельцу ТС (физическому лицу), придет уведомление о создании
          сертификата цифровой подписи от Удостоверяющего центра ООО «Модум».
          Данная подпись используется исключительно в тахографической системе и
          не может применяться для подписи других документов в соответствии с
          приказом ФСБ России № 796 от 27 декабря 2011 г. «Об утверждении
          требований к средствам электронной подписи и требований к средствам
          удостоверяющего центра».
        </p>
      </div>
    </div>
  </article>

  <article class="installing-tachograph" id="installing-tachograph-ru">
    <div class="container">
      <div class="installing-tachograph__wrapper">
        <div class="installing-tachograph__left">
          <h3 class="installing-tachograph__title article-title">
            <span class="title-counter">5</span> Установка тахографа
          </h3>
          <p class="installing-tachograph__text">
            Возможны несколько основных сценариев установки тахографа:
          </p>
          <ul class="installing-tachograph__list">
            <li class="installing-tachograph__item">
              Автомобили на которых ранее не был установлен тахограф. В этом
              случае будет производиться полный монтаж тахографического
              оборудования, возможно потребуется замена датчика скорости и
              спидометра;
            </li>
            <li class="installing-tachograph__item">
              Новых автомобилей без тахографа, но с предподготовкой под
              тахограф. На них будет произведена проверка смонтированной схемы,
              установка тахографа;
            </li>
            <li class="installing-tachograph__item">
              Автомобили, оборудованные тахографом европейского образца. Будет
              необходимо считать параметры установленного оборудования,
              произвести замену на тахограф российского образца, адаптировать
              тахограф для работы на ТС.
            </li>
          </ul>
        </div>
        <div class="installing-tachograph__preview">
          <picture>
            <source
              srcset="img/installing-tachograph-img.webp"
              type="image/webp"
            />
            <img src="img/installing-tachograph-img.jpg" alt="img" />
          </picture>
        </div>
      </div>
    </div>
  </article>

  <article class="issuance-certificate" id="issuance-certificate-ru">
    <div class="container">
      <h3 class="issuance-certificate__title article-title">
        <span class="title-counter">6</span> Калибровка, опломбировка, выдача
        свидетельства
      </h3>
      <div class="issuance-certificate__text">
        <p>
          Калибровка проводится на полностью оснащенном ТС. До ее начала
          сотрудник проверяет давление в шинах и глубину протектора. Они должны
          соответствовать инструкциям завода изготовителя. ТС не менее трех раз
          прокатывается по специально отведенному участку, с замерами
          параметров. Установка тахографа завершается проверкой
          работоспособности тахографа и его опломбированием пломбами с клеймом
          мастерской. Пломбы устанавливаются на датчик движения, на штатные
          внешние разъемы тахографа. После этого автомобиль отправляется в
          тестовую поездку.
        </p>
        <p>
          Полученные данные вносятся в базу данных, выписывается свидетельство о
          тарировке и делается наклейка с техническими параметрами, которая
          размещается в доступном месте для контроля на автомобиле (в
          большинстве случаев это стойка водительской двери).
        </p>
      </div>

      <p class="issuance-certificate__warning">
        Блок СКЗИ рассчитан на работу в течении 3 лет с момента активации. По
        завершению этого срока, владельцу ТС необходимо обратиться в мастерскую
        для его деактивации, замены на новый блок, активации блока и калибровки
        ТС.
      </p>
      <p class="issuance-certificate__warning">
        Для правильной эксплуатации тахографа необходимо, чтобы водитель имел
        <span>действующую карту</span>. <br />
        Она нужна для идентификации водителя, ведения учёта режима его работы и
        отдыха. Эксплуатация тахографа без карт, является нарушением.
      </p>
    </div>
  </article>
</section>
