<div class="legal">
  <ul class="legal__list">
    <li class="legal-item">
      <div class="container">
        <div class="legal-item__inner">
          <div class="legal-item__left">22 ноября 2016</div>
          <div class="legal-item__right">
            <span class="legal-item__title"> Приказ Минтранса России </span>
            <a
              class="legal-item__link"
              href="https://aoglonass.ru/files/docs/03_fz_395.pdf"
              target="_blank"
            >
              Приказ Минтранса России от 22 ноября 2016 г. № 353 «Об утверждении
              форм запроса физических и юридических лиц о предоставлении
              информации о координатно-временных параметрах транспортных средств
              на момент дорожно-транспортных и иных происшествий [...]
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class="legal-item">
      <div class="container">
        <div class="legal-item__inner">
          <div class="legal-item__left">18 августа 2016</div>
          <div class="legal-item__right">
            <span class="legal-item__title">
              Постановление Правительства РФ
            </span>
            <a
              class="legal-item__link"
              href="https://aoglonass.ru/files/docs/04_235fz.pdf"
              target="_blank"
            >
              Постановление Правительства РФ от 18 августа 2016 г. № 813 «О
              внесении изменений в Правила информационного взаимодействия
              оператора Государственной автоматизированной информационной
              системы «ЭРА-ГЛОНАСС» с обладателями информации и ее
              пользователями»
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class="legal-item">
      <div class="container">
        <div class="legal-item__inner">
          <div class="legal-item__left">11 марта 2016</div>
          <div class="legal-item__right">
            <span class="legal-item__title">
              Совместный приказ Минтранса России и МВД России
            </span>
            <a
              class="legal-item__link"
              href="https://aoglonass.ru/files/docs/05_1530.pdf"
              target="_blank"
            >
              Совместный приказ Минтранса России и МВД России от 11.03.2016 №
              58/119 «Об утверждении Порядка информационного взаимодействия
              между оператором ГАИС «ЭРА-ГЛОНАСС» и территориальными органами
              Министерства внутренних дел Российской Федерации» [...]
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class="legal-item">
      <div class="container">
        <div class="legal-item__inner">
          <div class="legal-item__left">9 марта 2016</div>
          <div class="legal-item__right">
            <span class="legal-item__title"> Приказ Минтранса России </span>
            <a
              class="legal-item__link"
              href="https://aoglonass.ru/files/docs/06_151.pdf"
              target="_blank"
            >
              Приказ Минтранса России от 9 марта 2016 № 42 «Об утверждении формы
              и порядка представления оператором Государственной
              автоматизированной информационной системы «ЭРА-ГЛОНАСС» ежегодного
              отчета о ее функционировании»
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class="legal-item">
      <div class="container">
        <div class="legal-item__inner">
          <div class="legal-item__left">1 октября 2015</div>
          <div class="legal-item__right">
            <span class="legal-item__title">
              Совместный приказ Минтранса России и МЧС России
            </span>
            <a
              class="legal-item__link"
              href="https://aoglonass.ru/files/docs/07_557.pdf"
              target="_blank"
            >
              Совместный приказ Минтранса России и МЧС России от 01 октября 2015
              г. № 293/525 «Об утверждении типовой формы соглашения о порядке
              информационного взаимодействия между оператором Государственной
              автоматизированной информационной системы [...]
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class="legal-item">
      <div class="container">
        <div class="legal-item__inner">
          <div class="legal-item__left">4 августа 2015</div>
          <div class="legal-item__right">
            <span class="legal-item__title">Приказ Минтранса России </span>
            <a
              class="legal-item__link"
              href="https://aoglonass.ru/files/docs/o-vnesenii-izmenenij-v-pravila-informacionnogo-vzaimodejstviya.pdf"
              target="_blank"
            >
              Приказ Минтранса России от 4 августа 2015 г. № 238 «Об утверждении
              Форматов предоставления информации в Государственную
              автоматизированную информационную систему «ЭРА-ГЛОНАСС»
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class="legal-item">
      <div class="container">
        <div class="legal-item__inner">
          <div class="legal-item__left">13 июля 2015</div>
          <div class="legal-item__right">
            <span class="legal-item__title"> Федеральный закон</span>
            <a class="legal-item__link" href="https://aoglonass.ru/files/docs/12_293_525.pdf" target="_blank">
              Федеральный закон от 13.07.2015 № 235-ФЗ «О внесении изменений в
              Федеральный закон «О Государственной автоматизированной
              информационной системе «ЭРА-ГЛОНАСС»
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class="legal-item">
      <div class="container">
        <div class="legal-item__inner">
          <div class="legal-item__left">6 июня 2015</div>
          <div class="legal-item__right">
            <span class="legal-item__title">
              Постановление Правительства РФ</span
            >
            <a class="legal-item__link" href="https://aoglonass.ru/files/docs/ob-opredelenii-srokov-periodichnosti-i-reglamenta.pdf" target="_blank">
              Постановление Правительства РФ от 6 июня 2015 г. № 557 «Об
              утверждении Правил эксплуатации устройств вызова экстренных
              оперативных служб и внесении изменений в некоторые акты
              Правительства Российской Федерации»
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class="legal-item">
      <div class="container">
        <div class="legal-item__inner">
          <div class="legal-item__left">21 февраля 2015</div>
          <div class="legal-item__right">
            <span class="legal-item__title">
              Совместный приказ Минтранса России и Росреестра
            </span>
            <a class="legal-item__link" href="https://aoglonass.ru/files/docs/ob-utverzhdenii-poryadka-informacionnogo-vzaimodejstviya.pdf" target="_blank">
              Совместный приказ Минтранса России и Росреестра от 19.04.2016 №
              110/П/0181 «Об определении сроков, периодичности и регламента
              размещения картографической информации в Государственной
              автоматизированной информационной системе «ЭРА-ГЛОНАСС»
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class="legal-item">
      <div class="container">
        <div class="legal-item__inner">
          <div class="legal-item__left">21 февраля 2015</div>
          <div class="legal-item__right">
            <span class="legal-item__title">
              Постановление Правительства РФ</span
            >
            <a class="legal-item__link" href="https://aoglonass.ru/files/docs/ob-utverzhdenii-formatov-predostavleniya-informacii.pdf" target="_blank">
              Постановление Правительства Российской Федерации от 21 февраля
              2015 г. № 151 «О порядке взаимодействия с Государственной
              автоматизированной информационной системой «ЭРА-ГЛОНАСС»
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class="legal-item">
      <div class="container">
        <div class="legal-item__inner">
          <div class="legal-item__left">21 февраля 2015</div>
          <div class="legal-item__right">
            <span class="legal-item__title">
              Постановление Правительства РФ
            </span>
            <a class="legal-item__link" href="https://aoglonass.ru/files/docs/ob-utverzhdenii-formy-i-poryadka-predstavleniya-operatorom.pdf" target="_blank">
              Постановление Правительства Российской Федерации от 26 декабря
              2014 г. № 1530 «О некоторых вопросах создания и функционирования
              государственной автоматизированной информационной системы
              «ЭРА-ГЛОНАСС»
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class="legal-item">
      <div class="container">
        <div class="legal-item__inner">
          <div class="legal-item__left">26 декабря 2014</div>
          <div class="legal-item__right">
            <span class="legal-item__title">
              Постановление Правительства РФ
            </span>
            <a class="legal-item__link" href="https://aoglonass.ru/files/docs/ob-utverzhdenii-trebovanij-k-tehnicheskim-programmnym.pdf" target="_blank">
              Постановление Правительства Российской Федерации от 26 декабря
              2014 г. № 1530 «О некоторых вопросах создания и функционирования
              государственной автоматизированной информационной системы
              «ЭРА-ГЛОНАСС»
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class="legal-item">
      <div class="container">
        <div class="legal-item__inner">
          <div class="legal-item__left">24 декабря 2014</div>
          <div class="legal-item__right">
            <span class="legal-item__title"> Приказ Минтранса России </span>
            <a class="legal-item__link" href="https://aoglonass.ru/files/docs/ob-utverzhdenii-form-zaprosa-fizicheskih-i-yuridicheskih-lic.pdf" target="_blank">
              Приказ Минтранса России от 24 декабря 2014 г. № 347 «Об
              утверждении Требований к техническим, программным, лингвистическим
              средствам обеспечения эксплуатации Государственной
              автоматизированной информационной системы «ЭРА-ГЛОНАСС»
            </a>
          </div>
        </div>
      </div>
    </li>
    <!-- <li class="legal-item">
      <div class="container">
        <div class="legal-item__inner">
          <div class="legal-item__left">28 декабря 2013</div>
          <div class="legal-item__right">
            <span class="legal-item__title"> Федеральный закон</span>
            <a class="legal-item__link" href="#" target="_blank">
              Федеральный закон от 28.12.2013 № 395-ФЗ «О Государственной
              автоматизированной информационной системе «ЭРА-ГЛОНАСС
            </a>
          </div>
        </div>
      </div>
    </li> -->
  </ul>
</div>
