<section class="legal-section">
  <div class="container">
    <h2 class="legal-section__title section-title">Законодательство</h2>

    <div class="legal-section__text">
      <p><b>ФЗ-16 ОТ 09.02.2007 </b>«О ТРАНСПОРТНОЙ БЕЗОПАСНОСТИ»</p>
      <p>
        <b>Постановление Правительства РФ № 1097 от 24.10.2014: </b> "О допуске
        к управлению транспортными средствами"
      </p>
      <p>
        <b>Постановление Правительства РФ № 924 от 14.09.2016 г. </b>"Об
        утверждении требований по обеспечению транспортной безопасности, в том
        числе требований к антитеррористической защищенности объектов
        (территорий), учитывающих уровни безопасности для.."
      </p>
      <p>
        <b>Постановление Правительства РФ от 26 сентября 2016 г. N 969</b>"Об
        утверждении требований к функциональным свойствам технических средств
        обеспечения транспортной безопасности и Правил обязательной сертификации
        технических средств обеспечения транспортной безопасности"
      </p>
      <p>
        <b>Приказ Министерства</b>транспорта Российской Федерации от 23.06.2021
        № 208 об обязательной передаче данных в режиме реального времени с
        технических средств обеспечения Транспортной безопасности
        зарегистрирован в Минюсте 24 февраля 2022г. (рег №67442) и вступает в
        силу с 1.09.2022г.
      </p>
      <p>
        <b>КОАП РФ</b>
      </p>
    </div>
  </div>
</section>
