<div class="legal">
  <ul class="legal__list">
    <li class="legal-item">
      <div class="container">
        <div class="legal-item__inner">
          <div class="legal-item__left">28 Октября 2020</div>
          <div class="legal-item__right">
            <span class="legal-item__title">
              Приказ Министерства транспорта РФ
            </span>
            <a
              class="legal-item__link"
              href="https://rosavtotransport.ru/netcat_files/46/75/20201028_Prikaz_Ministerstva_transporta_RF_N_440.pdf"
              target="_blank"
            >
              Приказ Министерства транспорта Российской Федерации от 28.10.2020
              № 440 "Об утверждении требований к тахографам, устанавливаемым на
              транспортные средства, категорий и видов транспортных средств,
              оснащаемых тахографами, правил использования, обслуживания и
              контроля работы тахографов, установленных на транспортные
              средства"</a
            >
          </div>
        </div>
      </div>
    </li>
    <li class="legal-item">
      <div class="container">
        <div class="legal-item__inner">
          <div class="legal-item__left">26 Октября 2020</div>
          <div class="legal-item__right">
            <span class="legal-item__title">
              Приказ Министерства транспорта РФ
            </span>
            <a class="legal-item__link" href="https://rosavtotransport.ru/netcat_files/46/75/20201026_Prikaz_Ministerstva_transporta_RF_N_438.pdf" target="_blank">
              Приказ Министерства транспорта Российской Федерации от 26.10.2020
              № 438 "Об утверждении Порядка оснащения транспортных средств
              тахографами"
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class="legal-item">
      <div class="container">
        <div class="legal-item__inner">
          <div class="legal-item__left">16 Октября 2020</div>
          <div class="legal-item__right">
            <span class="legal-item__title">
              Приказ Министерства транспорта РФ
            </span>
            <a class="legal-item__link" href="https://rosavtotransport.ru/netcat_files/46/75/20201016_Prikaz_Ministerstva_transporta_RF_N_424.pdf" target="_blank">
              Приказ Министерства транспорта Российской Федерации от 16.10.2020
              № 424 "Об утверждении Особенностей режима рабочего времени и
              времени отдыха, условий труда водителей автомобилей"
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class="legal-item">
      <div class="container">
        <div class="legal-item__inner">
          <div class="legal-item__left">26 Июля 2019</div>
          <div class="legal-item__right">
            <span class="legal-item__title"> Федеральный закон </span>
            <a class="legal-item__link" href="https://rosavtotransport.ru/netcat_files/46/75/20190726_Federal_nyi__zakon_ot_26_iyulya_2019_g._N_216_FZ.pdf" target="_blank">
              Федеральный закон от 26 июля 2019 г. N 216-ФЗ "О внесении
              изменений в Кодекс Российской Федерации об административных
              правонарушениях"
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class="legal-item">
      <div class="container">
        <div class="legal-item__inner">
          <div class="legal-item__left">10 Февраля 2016</div>
          <div class="legal-item__right">
            <span class="legal-item__title">Информационное письмо</span>
            <a class="legal-item__link" href="https://rosavtotransport.ru/netcat_files/46/75/20160210_08_02_363.pdf" target="_blank">
              О запрете использования аналоговых контрольных устройств,
              эксплуатации транспортных средств, оснащенных техническими
              средствами контроля за соблюдением водителями режимов движения,
              труда и отдыха, не обеспечивающих регистрацию информации на картах
              тахографа
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class="legal-item">
      <div class="container">
        <div class="legal-item__inner">
          <div class="legal-item__left">25 Декабря 2015</div>
          <div class="legal-item__right">
            <span class="legal-item__title">Приказ</span>
            <a class="legal-item__link" href="https://rosavtotransport.ru/netcat_files/46/75/__1660_ot_25.12.2015.pdf" target="_blank">
              Приказ Федерального Агентства по техническому регулированию и
              метрологии "Об утверждении типов средств измерений" №1660 (от
              25.12.2015 г.)
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class="legal-item">
      <div class="container">
        <div class="legal-item__inner">
          <div class="legal-item__left">04 Декабря 2015</div>
          <div class="legal-item__right">
            <span class="legal-item__title">Разъяснение</span>
            <a class="legal-item__link" href="https://rosavtotransport.ru/netcat_files/46/75/20151204_Raz_yasnenie_FSB_10335_Fa.pdf" target="_blank">
              Разъяснение ФСБ России о лицензировании деятельности мастерских №
              10335-Фв (от 04.12.2015 г.)
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class="legal-item">
      <div class="container">
        <div class="legal-item__inner">
          <div class="legal-item__left">11 Сентября 2015</div>
          <div class="legal-item__right">
            <span class="legal-item__title">Разъяснение</span>
            <a class="legal-item__link" href="https://rosavtotransport.ru/netcat_files/46/75/20150911_Raz_yasnenie_FSB_7409_Fv.pdf" target="_blank">
              ФСБ России о лицензировании деятельности мастерских
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class="legal-item">
      <div class="container">
        <div class="legal-item__inner">
          <div class="legal-item__left">27 Декабря 2002</div>
          <div class="legal-item__right">
            <span class="legal-item__title">Федеральный закон</span>
            <a class="legal-item__link" href="LAW148970_0_20131104_144701_53123.rtf" target="_blank">
              Федеральный закон от 27.12.2002 N 184-ФЗ (ред. от 23.07.2013) "О
              техническом регулировании" (с изм. и доп., вступающими в силу с
              01.09.2013)
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class="legal-item">
      <div class="container">
        <div class="legal-item__inner">
          <div class="legal-item__left">10 Декабря 1995</div>
          <div class="legal-item__right">
            <span class="legal-item__title">Федеральный закон</span>
            <a class="legal-item__link" href="https://rosavtotransport.ru/netcat_files/46/75/19951210_Federal_nyi__zakon_ot_10_dekabrya_1995_g._N_196_FZ.pdf" target="_blank">
              Федеральный закон от 10 декабря 1995 г. N 196-ФЗ "О безопасности
              дорожного движения"
            </a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
