<div class="licenses">
  <div class="container">
    <div class="licenses__tabs licenses-tabs">
      <div class="licenses-tabs__left">
        <ul class="licenses-tabs__left-list">
          <li class="licenses-tabs__left-item">
            <button class="licenses-tabs__left-btn active" type="button">
              Лицензии
            </button>
          </li>
          <li class="licenses-tabs__left-item">
            <button class="licenses-tabs__left-btn" type="button">
              Сертификаты
            </button>
          </li>
        </ul>
      </div>
      <div class="licenses-tabs__content active">
        <ul class="licenses-tabs__list">
          <li
            class="licenses-tabs__item"
            data-fancybox
            data-src="img/licenses/1.jpg"
          >
            <picture>
              <source srcset="img/licenses/1.webp" type="image/webp" />
              <img src="img/licenses/1.jpg" alt="licenses" />
            </picture>
          </li>
          <li
            class="licenses-tabs__item"
            data-fancybox
            data-src="img/licenses/1.jpg"
          >
            <picture>
              <source srcset="img/licenses/2.webp" type="image/webp" />
              <img src="img/licenses/2.jpg" alt="licenses" />
            </picture>
          </li>
          <li
            class="licenses-tabs__item"
            data-fancybox
            data-src="img/licenses/1.jpg"
          >
            <picture>
              <source srcset="img/licenses/3.webp" type="image/webp" />
              <img src="img/licenses/3.jpg" alt="licenses" />
            </picture>
          </li>
          <li
            class="licenses-tabs__item"
            data-fancybox
            data-src="img/licenses/1.jpg"
          >
            <picture>
              <source srcset="img/licenses/1.webp" type="image/webp" />
              <img src="img/licenses/1.jpg" alt="licenses" />
            </picture>
          </li>
          <li
            class="licenses-tabs__item"
            data-fancybox
            data-src="img/licenses/1.jpg"
          >
            <picture>
              <source srcset="img/licenses/2.webp" type="image/webp" />
              <img src="img/licenses/2.jpg" alt="licenses" />
            </picture>
          </li>
          <li
            class="licenses-tabs__item"
            data-fancybox
            data-src="img/licenses/1.jpg"
          >
            <picture>
              <source srcset="img/licenses/3.webp" type="image/webp" />
              <img src="img/licenses/3.jpg" alt="licenses" />
            </picture>
          </li>
        </ul>
      </div>
      <div
        class="licenses-tabs__content"
        data-fancybox
        data-src="img/licenses/1.jpg"
      >
        <ul class="licenses-tabs__list">
          <li class="licenses-tabs__item">
            <picture>
              <source srcset="img/licenses/1.webp" type="image/webp" />
              <img src="img/licenses/1.jpg" alt="licenses" />
            </picture>
          </li>
          <li
            class="licenses-tabs__item"
            data-fancybox
            data-src="img/licenses/1.jpg"
          >
            <picture>
              <source srcset="img/licenses/2.webp" type="image/webp" />
              <img src="img/licenses/2.jpg" alt="licenses" />
            </picture>
          </li>
          <li
            class="licenses-tabs__item"
            data-fancybox
            data-src="img/licenses/1.jpg"
          >
            <picture>
              <source srcset="img/licenses/3.webp" type="image/webp" />
              <img src="img/licenses/3.jpg" alt="licenses" />
            </picture>
          </li>
          <li
            class="licenses-tabs__item"
            data-fancybox
            data-src="img/licenses/1.jpg"
          >
            <picture>
              <source srcset="img/licenses/1.webp" type="image/webp" />
              <img src="img/licenses/1.jpg" alt="licenses" />
            </picture>
          </li>
          <li
            class="licenses-tabs__item"
            data-fancybox
            data-src="img/licenses/1.jpg"
          >
            <picture>
              <source srcset="img/licenses/2.webp" type="image/webp" />
              <img src="img/licenses/2.jpg" alt="licenses" />
            </picture>
          </li>
          <li
            class="licenses-tabs__item"
            data-fancybox
            data-src="img/licenses/1.jpg"
          >
            <picture>
              <source srcset="img/licenses/3.webp" type="image/webp" />
              <img src="img/licenses/3.jpg" alt="licenses" />
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
