<section class="models-tachographs" id="model-ru">
  <div class="container">
    <h2 class="models-tachographs__title section-title">
      <span>I.</span> Модели тахографов
    </h2>

    <div class="models-tachographs_tabs models-tabs">
      <div class="models-tabs__left">
        <ul class="models-tabs__left-list">
          <li class="models-tabs__left-item">
            <button class="models-tabs__left-btn active" type="button">
              Атол Drive 5
            </button>
          </li>
          <li class="models-tabs__left-item">
            <button class="models-tabs__left-btn" type="button">
              Атол Smart
            </button>
          </li>
          <li class="models-tabs__left-item">
            <button class="models-tabs__left-btn" type="button">
              DTCO3283
            </button>
          </li>
          <li class="models-tabs__left-item">
            <button class="models-tabs__left-btn" type="button">
              Штрих-TaxoRUS
            </button>
          </li>
          <li class="models-tabs__left-item">
            <button class="models-tabs__left-btn" type="button">
              Меркурий ТА-001
            </button>
          </li>
          <li class="models-tabs__left-item">
            <button class="models-tabs__left-btn" type="button">
              ТЦА-02НК
            </button>
          </li>
          <li class="models-tabs__left-item">
            <button class="models-tabs__left-btn" type="button">Микас</button>
          </li>
          <li class="models-tabs__left-item">
            <button class="models-tabs__left-btn" type="button">
              Касби Смарт
            </button>
          </li>
        </ul>
      </div>
      <div class="models-tabs__content active">
        <article class="tachograph-card">
          <a class="tachograph-card__top" href="#">
            <picture>
              <source srcset="img/tachograph-card.webp" type="image/webp" />
              <img src="img/tachograph-card.png" alt="equipment" />
            </picture>
          </a>
          <div class="tachograph-card__body">
            <ul class="tachograph-card__list">
              <li class="tachograph-card__item">
                <div class="tachograph-card__left">
                  Организация - изготовитель
                </div>
                <div class="tachograph-card__right">ООО "НТЦ "ИЗМЕРИТЕЛЬ"</div>
              </li>
              <li class="tachograph-card__item">
                <div class="tachograph-card__left">
                  Адрес организации-изготовителя
                </div>
                <div class="tachograph-card__right">
                  115191, г. Москва, Холодильный пер., д. 3, корп. 1, стр. 3,
                  подъезд 14, этаж 2, помещение IV, комната 20
                </div>
              </li>
            </ul>

            <div class="tachograph-card__bottom">
              <a
                class="tachograph-card__btn"
                href="resources/Российские тахографы/Атол Drive/Руководство по эксплуатации Атол.pdf"
                target="_blank"
              >
                Документация на тахограф
              </a>

              <div class="tachograph-card__price">
                <span> 49 500 ₽</span>
                <picture>
                  <source srcset="img/wallet.webp" type="image/webp" />
                  <img class="image" src="img/wallet.png" alt="wallet" />
                </picture>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="models-tabs__content">
        <article class="tachograph-card">
          <a class="tachograph-card__top" href="#">
            <picture>
              <source srcset="img/tachograph-card.webp" type="image/webp" />
              <img src="img/tachograph-card.png" alt="equipment" />
            </picture>
          </a>
          <div class="tachograph-card__body">
            <ul class="tachograph-card__list">
              <li class="tachograph-card__item">
                <div class="tachograph-card__left">
                  Организация - изготовитель
                </div>
                <div class="tachograph-card__right">ООО "НТЦ "ИЗМЕРИТЕЛЬ"</div>
              </li>
              <li class="tachograph-card__item">
                <div class="tachograph-card__left">
                  Адрес организации-изготовителя
                </div>
                <div class="tachograph-card__right">
                  115191, г. Москва, Холодильный пер., д. 3, корп. 1, стр. 3,
                  подъезд 14, этаж 2, помещение IV, комната 20
                </div>
              </li>
            </ul>

            <div class="tachograph-card__bottom">
              <a
                class="tachograph-card__btn"
                href="resources/Российские тахографы/Атол Смарт/Руководство по эксплуатации Смарт.pdf"
                target="_blank"
              >
                Документация на тахограф
              </a>

              <div class="tachograph-card__price">
                <span> 49 500 ₽</span>
                <picture>
                  <source srcset="img/wallet.webp" type="image/webp" />
                  <img class="image" src="img/wallet.png" alt="wallet" />
                </picture>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="models-tabs__content">
        <article class="tachograph-card">
          <a class="tachograph-card__top" href="#">
            <picture>
              <source srcset="img/tachograph-card.webp" type="image/webp" />
              <img src="img/tachograph-card.png" alt="equipment" />
            </picture>
          </a>
          <div class="tachograph-card__body">
            <ul class="tachograph-card__list">
              <li class="tachograph-card__item">
                <div class="tachograph-card__left">
                  Организация - изготовитель
                </div>
                <div class="tachograph-card__right">ООО "НТЦ "ИЗМЕРИТЕЛЬ"</div>
              </li>
              <li class="tachograph-card__item">
                <div class="tachograph-card__left">
                  Адрес организации-изготовителя
                </div>
                <div class="tachograph-card__right">
                  115191, г. Москва, Холодильный пер., д. 3, корп. 1, стр. 3,
                  подъезд 14, этаж 2, помещение IV, комната 20
                </div>
              </li>
            </ul>

            <div class="tachograph-card__bottom">
              <a
                class="tachograph-card__btn"
                href="resources/Российские тахографы/"
              >
                Документация на тахограф
              </a>

              <div class="tachograph-card__price">
                <span> 49 500 ₽</span>
                <picture>
                  <source srcset="img/wallet.webp" type="image/webp" />
                  <img class="image" src="img/wallet.png" alt="wallet" />
                </picture>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="models-tabs__content">
        <article class="tachograph-card">
          <a class="tachograph-card__top" href="#">
            <picture>
              <source srcset="img/tachograph-card.webp" type="image/webp" />
              <img src="img/tachograph-card.png" alt="equipment" />
            </picture>
          </a>
          <div class="tachograph-card__body">
            <ul class="tachograph-card__list">
              <li class="tachograph-card__item">
                <div class="tachograph-card__left">
                  Организация - изготовитель
                </div>
                <div class="tachograph-card__right">ООО "НТЦ "ИЗМЕРИТЕЛЬ"</div>
              </li>
              <li class="tachograph-card__item">
                <div class="tachograph-card__left">
                  Адрес организации-изготовителя
                </div>
                <div class="tachograph-card__right">
                  115191, г. Москва, Холодильный пер., д. 3, корп. 1, стр. 3,
                  подъезд 14, этаж 2, помещение IV, комната 20
                </div>
              </li>
            </ul>

            <div class="tachograph-card__bottom">
              <a
                class="tachograph-card__btn"
                target="_blank"
                href="resources/Российские тахографы/Штрих/Руководство по эксплуатации Штрих.pdf"
              >
                Документация на тахограф
              </a>

              <div class="tachograph-card__price">
                <span> 49 500 ₽</span>
                <picture>
                  <source srcset="img/wallet.webp" type="image/webp" />
                  <img class="image" src="img/wallet.png" alt="wallet" />
                </picture>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="models-tabs__content">
        <article class="tachograph-card">
          <a class="tachograph-card__top" href="#">
            <picture>
              <source srcset="img/tachograph-card.webp" type="image/webp" />
              <img src="img/tachograph-card.png" alt="equipment" />
            </picture>
          </a>
          <div class="tachograph-card__body">
            <ul class="tachograph-card__list">
              <li class="tachograph-card__item">
                <div class="tachograph-card__left">
                  Организация - изготовитель
                </div>
                <div class="tachograph-card__right">ООО "НТЦ "ИЗМЕРИТЕЛЬ"</div>
              </li>
              <li class="tachograph-card__item">
                <div class="tachograph-card__left">
                  Адрес организации-изготовителя
                </div>
                <div class="tachograph-card__right">
                  115191, г. Москва, Холодильный пер., д. 3, корп. 1, стр. 3,
                  подъезд 14, этаж 2, помещение IV, комната 20
                </div>
              </li>
            </ul>

            <div class="tachograph-card__bottom">
              <a
                class="tachograph-card__btn"
                target="_blank"
                href="resources/Российские тахографы/Меркурий/Руководство по эксплуатации Меркурий.pdf"
              >
                Документация на тахограф
              </a>

              <div class="tachograph-card__price">
                <span> 49 500 ₽</span>
                <picture>
                  <source srcset="img/wallet.webp" type="image/webp" />
                  <img class="image" src="img/wallet.png" alt="wallet" />
                </picture>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="models-tabs__content">
        <article class="tachograph-card">
          <a class="tachograph-card__top" href="#">
            <picture>
              <source srcset="img/tachograph-card.webp" type="image/webp" />
              <img src="img/tachograph-card.png" alt="equipment" />
            </picture>
          </a>
          <div class="tachograph-card__body">
            <ul class="tachograph-card__list">
              <li class="tachograph-card__item">
                <div class="tachograph-card__left">
                  Организация - изготовитель
                </div>
                <div class="tachograph-card__right">ООО "НТЦ "ИЗМЕРИТЕЛЬ"</div>
              </li>
              <li class="tachograph-card__item">
                <div class="tachograph-card__left">
                  Адрес организации-изготовителя
                </div>
                <div class="tachograph-card__right">
                  115191, г. Москва, Холодильный пер., д. 3, корп. 1, стр. 3,
                  подъезд 14, этаж 2, помещение IV, комната 20
                </div>
              </li>
            </ul>

            <div class="tachograph-card__bottom">
              <a
                class="tachograph-card__btn"
                target="_blank"
                href="resources/Российские тахографы/ТЦА/Рукаводство водителя ТЦА.pdf"
              >
                Документация на тахограф
              </a>

              <div class="tachograph-card__price">
                <span> 49 500 ₽</span>
                <picture>
                  <source srcset="img/wallet.webp" type="image/webp" />
                  <img class="image" src="img/wallet.png" alt="wallet" />
                </picture>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="models-tabs__content">
        <article class="tachograph-card">
          <a class="tachograph-card__top" href="#">
            <picture>
              <source srcset="img/tachograph-card.webp" type="image/webp" />
              <img src="img/tachograph-card.png" alt="equipment" />
            </picture>
          </a>
          <div class="tachograph-card__body">
            <ul class="tachograph-card__list">
              <li class="tachograph-card__item">
                <div class="tachograph-card__left">
                  Организация - изготовитель
                </div>
                <div class="tachograph-card__right">ООО "НТЦ "ИЗМЕРИТЕЛЬ"</div>
              </li>
              <li class="tachograph-card__item">
                <div class="tachograph-card__left">
                  Адрес организации-изготовителя
                </div>
                <div class="tachograph-card__right">
                  115191, г. Москва, Холодильный пер., д. 3, корп. 1, стр. 3,
                  подъезд 14, этаж 2, помещение IV, комната 20
                </div>
              </li>
            </ul>

            <div class="tachograph-card__bottom">
              <a
                class="tachograph-card__btn"
                target="_blank"
                href="resources/Российские тахографы/Микас/Руководство по эксплуатации Микас.pdf"
              >
                Документация на тахограф
              </a>

              <div class="tachograph-card__price">
                <span> 49 500 ₽</span>
                <picture>
                  <source srcset="img/wallet.webp" type="image/webp" />
                  <img class="image" src="img/wallet.png" alt="wallet" />
                </picture>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="models-tabs__content">
        <article class="tachograph-card">
          <a class="tachograph-card__top" href="#">
            <picture>
              <source srcset="img/tachograph-card.webp" type="image/webp" />
              <img src="img/tachograph-card.png" alt="equipment" />
            </picture>
          </a>
          <div class="tachograph-card__body">
            <ul class="tachograph-card__list">
              <li class="tachograph-card__item">
                <div class="tachograph-card__left">
                  Организация - изготовитель
                </div>
                <div class="tachograph-card__right">ООО "НТЦ "ИЗМЕРИТЕЛЬ"</div>
              </li>
              <li class="tachograph-card__item">
                <div class="tachograph-card__left">
                  Адрес организации-изготовителя
                </div>
                <div class="tachograph-card__right">
                  115191, г. Москва, Холодильный пер., д. 3, корп. 1, стр. 3,
                  подъезд 14, этаж 2, помещение IV, комната 20
                </div>
              </li>
            </ul>

            <div class="tachograph-card__bottom">
              <button class="tachograph-card__btn" type="button">
                Документация на тахограф
              </button>

              <div class="tachograph-card__price">
                <span> 49 500 ₽</span>
                <picture>
                  <source srcset="img/wallet.webp" type="image/webp" />
                  <img class="image" src="img/wallet.png" alt="wallet" />
                </picture>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
