<section class="news">
  <div class="container">
    <h2 class="news__title section-title">Новости</h2>

    <div class="news__slider swiper">
      <ul class="news__list swiper-wrapper">
        <li class="news__item swiper-slide">
          <article class="news-card">
            <a class="news-card__top" href="#">
              <picture>
                <source srcset="img/news/1.webp" type="image/webp" />
                <img src="img/news/1.jpg" alt="news" />
              </picture>
            </a>
            <div class="news-card__body">
              <div class="news-card__date">
                <span>20.09.2022</span> <span>15:00</span>
              </div>
              <h3 class="news-card__title">
                <a href="#">Реализация Постановления Правительства РФ № 153</a>
              </h3>
            </div>
          </article>
        </li>
        <li class="news__item swiper-slide">
          <article class="news-card">
            <a class="news-card__top" href="#">
              <picture>
                <source srcset="img/news/2.webp" type="image/webp" />
                <img src="img/news/2.jpg" alt="news" />
              </picture>
            </a>
            <div class="news-card__body">
              <div class="news-card__date">
                <span>20.09.2022</span> <span>15:00</span>
              </div>
              <h3 class="news-card__title">
                <a href="#"
                  >Какие изменения ждут систему тахографического контроля в
                  ближайшем будущем</a
                >
              </h3>
            </div>
          </article>
        </li>
        <li class="news__item swiper-slide">
          <article class="news-card">
            <a class="news-card__top" href="#">
              <picture>
                <source srcset="img/news/3.webp" type="image/webp" />
                <img src="img/news/3.jpg" alt="news" />
              </picture>
            </a>
            <div class="news-card__body">
              <div class="news-card__date">
                <span>20.09.2022</span> <span>15:00</span>
              </div>
              <h3 class="news-card__title">
                <a href="#"
                  >Получите лицензию, если используете автобусы или
                  микроавтобуcы</a
                >
              </h3>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
