<section class="numbers">
  <div class="container-1300">
    <h2 class="numbers__title section-title">Наша компания в цифрах</h2>

    <div class="numbers__date">
      <picture>
        <source srcset="img/calendar.webp" type="image/webp" />
        <img class="image" src="img/calendar.png" alt="calendar" />
      </picture>
      <span>на 14.10.2022</span>
    </div>
    <ul class="numbers__list">
      <li class="numbers-item">
        <span class="numbers-item__number">25</span>
        <p class="numbers-item__text">лет на рынке</p>
      </li>
      <li class="numbers-item">
        <span class="numbers-item__number">1700</span>
        <p class="numbers-item__text">обслуженных тахографов за 2021 год</p>
      </li>
      <li class="numbers-item">
        <span class="numbers-item__number">4580</span>
        <p class="numbers-item__text">
          машин постоянно обслуживаются по ГЛОНАСС на наших серверах
        </p>
      </li>
      <li class="numbers-item">
        <span class="numbers-item__number">187</span>
        <p class="numbers-item__text">
          подключенных единиц спутникового наблюдения
        </p>
      </li>
      <li class="numbers-item">
        <span class="numbers-item__number">378</span>
        <p class="numbers-item__text">
          установлено комплектов
          видеонаблюдения
          на автомобили
        </p>
      </li>
    </ul>
  </div>
</section>
