<section class="partners">
  <div class="container">
    <h2 class="section-title partners__title">Партнеры компании</h2>

    <ul class="partners__list">
      <li class="partners__item">
        <picture>
          <source srcset="img/partners/1.webp" type="image/webp" />
          <img src="img/partners/1.png" alt="img/partners" />
        </picture>
      </li>
      <li class="partners__item">
        <picture>
          <source srcset="img/partners/2.webp" type="image/webp" />
          <img src="img/partners/2.png" alt="img/partners" />
        </picture>
      </li>
      <li class="partners__item">
        <picture>
          <source srcset="img/partners/3.webp" type="image/webp" />
          <img src="img/partners/3.png" alt="img/partners" />
        </picture>
      </li>
      <li class="partners__item">
        <picture>
          <source srcset="img/partners/4.webp" type="image/webp" />
          <img src="img/partners/4.png" alt="img/partners" />
        </picture>
      </li>
      <li class="partners__item">
        <picture>
          <source srcset="img/partners/5.webp" type="image/webp" />
          <img src="img/partners/5.png" alt="img/partners" />
        </picture>
      </li>
      <li class="partners__item">
        <picture>
          <source srcset="img/partners/6.webp" type="image/webp" />
          <img src="img/partners/6.png" alt="img/partners" />
        </picture>
      </li>
      <li class="partners__item">
        <picture>
          <source srcset="img/partners/7.webp" type="image/webp" />
          <img src="img/partners/7.png" alt="img/partners" />
        </picture>
      </li>
      <li class="partners__item">
        <picture>
          <source srcset="img/partners/8.webp" type="image/webp" />
          <img src="img/partners/8.png" alt="img/partners" />
        </picture>
      </li>
      <li class="partners__item">
        <picture>
          <source srcset="img/partners/9.webp" type="image/webp" />
          <img src="img/partners/9.png" alt="img/partners" />
        </picture>
      </li>
    </ul>
  </div>
</section>
