<div class="popup popup--back-call">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <h2 class="popup__title">Оставить заявку</h2>
      <div class="popup__text">
        <p>Оставьте ваши данные и мы вам перезвоним.</p>
      </div>

      <form class="form-submit">
        <div class="form-submit__group">
          <label class="form-submit__label" for="online-name">Имя</label>

          <input
            class="form-submit__input"
            name="name"
            id="online-name"
            type="text"
            placeholder="Введите ваше имя"
            required
          />
        </div>
        <div class="form-submit__group">
          <label class="form-submit__label" for="online-email">E-mail</label>

          <input
            class="form-submit__input"
            name="name"
            id="online-email"
            type="email"
            placeholder="Введите ваш e-mail"
            required
          />
        </div>
        <div class="form-submit__group">
          <label class="form-submit__label" for="online-tel">
            Контактный телефон
          </label>

          <input
            class="form-submit__input"
            name="tel"
            id="online-tel"
            type="tel"
            placeholder="+7 (___) ___-__-__"
            required
          />
        </div>
        <div class="form-submit__group">
          <label class="form-submit__label" for="online-mes"> Сообщение </label>

          <textarea
            class="form-submit__input"
            placeholder="Напишите свой вопрос"
            id="online-mes"
            required
          ></textarea>
        </div>

        <div class="form-submit__group">
          <label class="form-submit__checkbox checkbox">
            <input class="checkbox__input" type="checkbox" required />
            <span class="checkbox__box"></span>
            <span class="checkbox__text">
              Я согласен на обработку персональных данных
              <a href="#">Политика конфиденциальности </a>
            </span>
          </label>
        </div>

        <button class="form-submit__btn btn" type="button">
          Оставить заявку
        </button>
      </form>
    </div>
  </div>
</div>
