<section class="readings-cards">
  <div class="container">
    <div class="readings-cards__wrapper">
      <div class="readings-cards__left">
        <h2 class="readings-cards__title section-title">
          <span>III.</span> Считывание, хранение данных с карт водителя и
          тахографа
        </h2>

        <div class="readings-cards__text">
          <p>
            Согласно приказу Минтранса РФ от 28 октября 2020 г. №440, необходимо
            выгружать данные с карт водителя раз в 28 дней, хранить в течение 1
            года в базах данных владельца транспортного средства и обеспечивать
            их доступность для проверки контрольными органами.
          </p>
          <p>
            Вы можете считывать данные самостоятельно или в нашем офисе.
            Сотрудники нашей мастерской помогут вам произвести процедуру
            считывания данных с учётом всех норм и требований.
          </p>
          <p>
            USB Card Reader на сегодняшний день один из самых дешевых и удобных
            способов работы с данными карт тахографов. При помощи картридера
            возможно считать информацию с карты водителя и сохранить ее в
            необходимом формате. Данная процедура довольно проста: подключаете
            картридер к компьютеру через USB разъем, устанавливаете программное
            обеспечение, вставляете карту водителя и начинаете загрузку.
          </p>
        </div>
      </div>
      <div class="readings-cards__preview">
        <picture>
          <source srcset="img/readings-cards.webp" type="image/webp" />
          <img src="img/readings-cards.jpg" alt="img" />
        </picture>
      </div>
    </div>
    <div class="readings-cards__text">
      <p>
        Доступ к информации, записанной в тахограф, возможен при наличии карты
        предприятия. Некоторые модели тахографов после установки данной карты,
        позволяют считать информацию на usb-флешку, а для некоторых моделей
        необходимо специализированный считыватель.
      </p>
      <p>
        Для самостоятельной выгрузки данных вам понадобится считыватель и
        специальное программное обеспечение, с помощью которого можно
        расшифровать и проанализировать выгруженную информацию.
      </p>
    </div>
  </div>
</section>
