<section class="screen-slider">
  <div class="container">
    <h2 class="screen-slider__title section-title">
      Примеры отображения информации на экран диспетчера
    </h2>

    <div class="screen-slider__content">
      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Предыдущий"
      ></button>
      <button
        class="swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>

      <div class="screen-slider__slider swiper">
        <ul class="screen-slider__wrapper swiper-wrapper">
          <li class="screen-slider__slide swiper-slide">
            <div
              class="screen-card"
              data-fancybox
              data-src="img/screen-slider/1.jpg"
            >
              <picture>
                <source srcset="img/screen-slider/1.webp" type="image/webp" />
                <img src="img/screen-slider/1.jpg" alt="img" />
              </picture>
            </div>
          </li>
          <li class="screen-slider__slide swiper-slide">
            <div
              class="screen-card"
              data-fancybox
              data-src="img/screen-slider/2.jpg"
            >
              <picture>
                <source srcset="img/screen-slider/2.webp" type="image/webp" />
                <img src="img/screen-slider/2.jpg" alt="img" />
              </picture>
            </div>
          </li>
          <li class="screen-slider__slide swiper-slide">
            <div
              class="screen-card"
              data-fancybox
              data-src="img/screen-slider/1.jpg"
            >
              <picture>
                <source srcset="img/screen-slider/1.webp" type="image/webp" />
                <img src="img/screen-slider/1.jpg" alt="img" />
              </picture>
            </div>
          </li>
          <li class="screen-slider__slide swiper-slide">
            <div
              class="screen-card"
              data-fancybox
              data-src="img/screen-slider/2.jpg"
            >
              <picture>
                <source srcset="img/screen-slider/2.webp" type="image/webp" />
                <img src="img/screen-slider/2.jpg" alt="img" />
              </picture>
            </div>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
