<section class="screen-examples">
  <div class="container">
    <p class="screen-examples__text">
      Мониторинг местоположения транспорта это базовая информация, которую
      предоставляет любая система мониторинга. Вы всегда будете видеть где
      находится ваш транспорт, его трек за любой период времени, где и на какое
      время машина останавливалась, сможете отследить скорость перемещения и
      нарушения скоростного режима в табличном или графическом виде.
    </p>

    <h2 class="screen-examples__title section-title">
      Диспетчеризация объектов
    </h2>

    <div class="screen__tabs screen-tabs">
      <div class="screen-tabs__left">
        <ul class="screen-tabs__left-list">
          <li class="screen-tabs__left-item">
            <button class="screen-tabs__left-btn active" type="button">
              Местонахождение онлайн
            </button>
          </li>
          <li class="screen-tabs__left-item">
            <button class="screen-tabs__left-btn" type="button">Трек ТС</button>
          </li>
          <li class="screen-tabs__left-item">
            <button class="screen-tabs__left-btn" type="button">
              Отчет по стоянкам и остановкам
            </button>
          </li>
          <li class="screen-tabs__left-item">
            <button class="screen-tabs__left-btn" type="button">
              График скорости ТС
            </button>
          </li>
          <li class="screen-tabs__left-item">
            <button class="screen-tabs__left-btn" type="button">
              Нарушение скоростного режима
            </button>
          </li>
        </ul>
      </div>
      <div class="screen-tabs__content active">
        <div class="screen-tabs__map map">
          <iframe
            src="https://yandex.ru/map-widget/v1/?um=constructor%3Afaddc7688b24c181d4bd737a2fba2b3aaef4767d28ea78acd295c65f535d756c&amp;source=constructor"
            width="700"
            height="400"
          ></iframe>
        </div>
      </div>
      <div class="screen-tabs__content">
        <div class="screen-tabs__map map">
          <iframe
            src="https://yandex.ru/map-widget/v1/?um=constructor%3Afaddc7688b24c181d4bd737a2fba2b3aaef4767d28ea78acd295c65f535d756c&amp;source=constructor"
            width="700"
            height="400"
          ></iframe>
        </div>
      </div>
      <div class="screen-tabs__content">
        <div class="screen-tabs__map map">
          <iframe
            src="https://yandex.ru/map-widget/v1/?um=constructor%3Afaddc7688b24c181d4bd737a2fba2b3aaef4767d28ea78acd295c65f535d756c&amp;source=constructor"
            width="700"
            height="400"
          ></iframe>
        </div>
      </div>
      <div class="screen-tabs__content">
        <div class="screen-tabs__map map">
          <iframe
            src="https://yandex.ru/map-widget/v1/?um=constructor%3Afaddc7688b24c181d4bd737a2fba2b3aaef4767d28ea78acd295c65f535d756c&amp;source=constructor"
            width="700"
            height="400"
          ></iframe>
        </div>
      </div>
      <div class="screen-tabs__content">
        <div class="screen-tabs__map map">
          <iframe
            src="https://yandex.ru/map-widget/v1/?um=constructor%3Afaddc7688b24c181d4bd737a2fba2b3aaef4767d28ea78acd295c65f535d756c&amp;source=constructor"
            width="700"
            height="400"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
