<section class="screen-examples screen-examples--solutions">
  <div class="container">
    <p class="screen-examples__text">
      Из всего парка грузовых автомобилей значительное количество транспорта
      используется для перевозки грузов. Их собственники решают примерно
      одинаковые задачи, связанные с логистикой, контролем топлива, сохранностью
      груза, эксплуатацией автомобиля, водителями. Соответственно вырабатываются
      стандартные и эффективные решения по контролю за параметрами перевозок с
      помощью оборудования ГЛОНАСС.
    </p>

    <h2 class="screen-examples__title section-title">
      Диспетчеризация грузоперевозок
    </h2>

    <div class="screen__tabs screen-tabs">
      <div class="screen-tabs__left">
        <ul class="screen-tabs__left-list">
          <li class="screen-tabs__left-item">
            <button class="screen-tabs__left-btn active" type="button">
              Местонахождение онлайн
            </button>
          </li>
          <li class="screen-tabs__left-item">
            <button class="screen-tabs__left-btn" type="button">
              Отчет по пробегу, заправкам/сливам
            </button>
          </li>
          <li class="screen-tabs__left-item">
            <button class="screen-tabs__left-btn" type="button">
              График данных с датчика уровня топлива
            </button>
          </li>
          <li class="screen-tabs__left-item">
            <button class="screen-tabs__left-btn" type="button">
              Отчет по стоянкам и остановкам
            </button>
          </li>
          <li class="screen-tabs__left-item">
            <button class="screen-tabs__left-btn" type="button">
              Отчет по скоростному режима
            </button>
          </li>
          <li class="screen-tabs__left-item">
            <button class="screen-tabs__left-btn" type="button">
              Отчет контроля скоростного режима
            </button>
          </li>
          <li class="screen-tabs__left-item">
            <button class="screen-tabs__left-btn" type="button">
              Отчет контроля скоростного режима
            </button>
          </li>
          <li class="screen-tabs__left-item">
            <button class="screen-tabs__left-btn" type="button">
              Отчет по работе водителя
            </button>
          </li>
          <li class="screen-tabs__left-item">
            <button class="screen-tabs__left-btn" type="button">
              График изменения температуры
            </button>
          </li>
        </ul>
      </div>

      <div class="screen-tabs__content active">
        <div
          class="screen-tabs__img"
          data-fancybox
          data-src="img/screen-solutions.jpg"
        >
          <picture>
            <source srcset="img/screen-solutions.webp" type="image/webp" />
            <img
              class="screen-tabs__img"
              src="img/screen-solutions.jpg"
              alt="screen"
            />
          </picture>
        </div>
      </div>
      <div class="screen-tabs__content">
        <div
          class="screen-tabs__img"
          data-fancybox
          data-src="img/screen-solutions.jpg"
        >
          <picture>
            <source srcset="img/screen-solutions.webp" type="image/webp" />
            <img
              class="screen-tabs__img"
              src="img/screen-solutions.jpg"
              alt="screen"
            />
          </picture>
        </div>
      </div>
      <div class="screen-tabs__content">
        <div
          class="screen-tabs__img"
          data-fancybox
          data-src="img/screen-solutions.jpg"
        >
          <picture>
            <source srcset="img/screen-solutions.webp" type="image/webp" />
            <img
              class="screen-tabs__img"
              src="img/screen-solutions.jpg"
              alt="screen"
            />
          </picture>
        </div>
      </div>
      <div class="screen-tabs__content">
        <div
          class="screen-tabs__img"
          data-fancybox
          data-src="img/screen-solutions.jpg"
        >
          <picture>
            <source srcset="img/screen-solutions.webp" type="image/webp" />
            <img
              class="screen-tabs__img"
              src="img/screen-solutions.jpg"
              alt="screen"
            />
          </picture>
        </div>
      </div>
      <div class="screen-tabs__content">
        <div
          class="screen-tabs__img"
          data-fancybox
          data-src="img/screen-solutions.jpg"
        >
          <picture>
            <source srcset="img/screen-solutions.webp" type="image/webp" />
            <img
              class="screen-tabs__img"
              src="img/screen-solutions.jpg"
              alt="screen"
            />
          </picture>
        </div>
      </div>
      <div class="screen-tabs__content">
        <div
          class="screen-tabs__img"
          data-fancybox
          data-src="img/screen-solutions.jpg"
        >
          <picture>
            <source srcset="img/screen-solutions.webp" type="image/webp" />
            <img
              class="screen-tabs__img"
              src="img/screen-solutions.jpg"
              alt="screen"
            />
          </picture>
        </div>
      </div>
      <div class="screen-tabs__content">
        <div
          class="screen-tabs__img"
          data-fancybox
          data-src="img/screen-solutions.jpg"
        >
          <picture>
            <source srcset="img/screen-solutions.webp" type="image/webp" />
            <img
              class="screen-tabs__img"
              src="img/screen-solutions.jpg"
              alt="screen"
            />
          </picture>
        </div>
      </div>
      <div class="screen-tabs__content">
        <div
          class="screen-tabs__img"
          data-fancybox
          data-src="img/screen-solutions.jpg"
        >
          <picture>
            <source srcset="img/screen-solutions.webp" type="image/webp" />
            <img
              class="screen-tabs__img"
              src="img/screen-solutions.jpg"
              alt="screen"
            />
          </picture>
        </div>
      </div>
      <div class="screen-tabs__content">
        <div
          class="screen-tabs__img"
          data-fancybox
          data-src="img/screen-solutions.jpg"
        >
          <picture>
            <source srcset="img/screen-solutions.webp" type="image/webp" />
            <img
              class="screen-tabs__img"
              src="img/screen-solutions.jpg"
              alt="screen"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
