<section class="software-glonass" id="glonass-software">
  <div class="container">
    <h2 class="software-glonass__title section-title">
      Программное обеспечение
    </h2>
    <p class="software-glonass__text">
      Существует большое количество программных продуктов, с помощью которых
      можно контролировать работу установленного на транспортных средствах
      навигационного оборудования и дополнительных датчиков. Помимо базового
      функционала, который предоставляют все платформы, каждое из них имеет свои
      особенности, специализируясь на работе с тем или иным навигационным
      оборудованием, решением специфических задач, доработками и т.д.
    </p>

    <ul class="software-glonass__list">
      <li class="software-glonass__item">
        <a class="btn-anchor" href="#">
          <span class="btn-anchor__count">I</span>
          Wialon
          <span class="btn-anchor__icon">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.41 8.57999L12 13.17L16.59 8.57999L18 9.99999L12 16L6 9.99999L7.41 8.57999Z"
                fill="#2172FF"
              />
            </svg>
          </span>
        </a>
      </li>
      <li class="software-glonass__item">
        <a class="btn-anchor" href="#">
          <span class="btn-anchor__count">II</span>
          СКАУТ
          <span class="btn-anchor__icon">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.41 8.57999L12 13.17L16.59 8.57999L18 9.99999L12 16L6 9.99999L7.41 8.57999Z"
                fill="#2172FF"
              />
            </svg>
          </span>
        </a>
      </li>
      <li class="software-glonass__item">
        <a class="btn-anchor" href="#">
          <span class="btn-anchor__count">III</span>
          FORT – MONITOR
          <span class="btn-anchor__icon">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.41 8.57999L12 13.17L16.59 8.57999L18 9.99999L12 16L6 9.99999L7.41 8.57999Z"
                fill="#2172FF"
              />
            </svg>
          </span>
        </a>
      </li>
      <li class="software-glonass__item">
        <a class="btn-anchor" href="#">
          <span class="btn-anchor__count">IV</span>
          OMNICOMM
          <span class="btn-anchor__icon">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.41 8.57999L12 13.17L16.59 8.57999L18 9.99999L12 16L6 9.99999L7.41 8.57999Z"
                fill="#2172FF"
              />
            </svg>
          </span>
        </a>
      </li>
      <li class="software-glonass__item">
        <a class="btn-anchor" href="#">
          <span class="btn-anchor__count">V</span>
          АСМ ЭРА
          <span class="btn-anchor__icon">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.41 8.57999L12 13.17L16.59 8.57999L18 9.99999L12 16L6 9.99999L7.41 8.57999Z"
                fill="#2172FF"
              />
            </svg>
          </span>
        </a>
      </li>
    </ul>
  </div>
</section>
