<section class="software">
  <div class="container">
    <div class="software__wrapper">
      <div class="software__left">
        <h2 class="software__title section-title">
          Программное обеспечение для расшифровки данных с карт водителя и
          тахографа
        </h2>

        <p class="software__text">
          Программное обеспечение для считывания и просмотра информации с карт
          может можно скачать по следующим ссылкам.
        </p>

        <ul class="software__list">
          <li class="software__item">
            <b>ШТРИХ-TaxoREPORT</b> - бесплатное ПО, которое позволяет считывать
            и расшифровывать данные, выгруженные на flash-накопитель из памяти
            тахографа или карты водителя, а также данные, выгруженные с карты
            водителя через USB Card Reader. Скачать программу ШТРИХ-TaxoREPORT
            можно с <a href="#">официального сайта</a> разработчика.
          </li>
          <li class="software__item">
            <b>ПО АТОЛ карты тахографа </b>
            - бесплатное, обеспечивает считывание всех необходимых данных с
            карты водителя и их сохранение в специальном архиве. При этом
            автоматически сохранится детальная информация об используемой карте.
            Сам же водитель имеет возможность создавать календарь задач, который
            поможет ему придерживаться установленного рабочего плана, не
            отставать от графика, вовремя привозя и выгружая все
            транспортируемые товары. <a href="#">Ссылка</a>.
          </li>
        </ul>
      </div>
      <div class="software__preview">
        <picture>
          <source srcset="img/software-img.webp" type="image/webp" />
          <img src="img/software-img.jpg" alt="img" />
        </picture>
      </div>
    </div>
  </div>
</section>
