<section class="suggested-equipment">
  <div class="container">
    <h2 class="suggested-equipment__title section-title">
      Предлагаемое оборудование
    </h2>

    <ul class="suggested-equipment__list">
      <li class="suggested-equipment__item">
        <div
          class="suggested-equipment-card"
          style="background-image: url('img/suggested-equipment/1.jpg')"
        >
          <a class="suggested-equipment-card__link" href="#">
            Датчики уровня топлива
          </a>
        </div>
      </li>
      <li class="suggested-equipment__item">
        <div
          class="suggested-equipment-card"
          style="background-image: url('img/suggested-equipment/2.jpg')"
        >
          <a class="suggested-equipment-card__link" href="#">
            Навигационные терминалы
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
