<section class="tachographs-car">
  <div class="container">
    <h2 class="tachographs-car__title section-title">
      II. Перечень тахографов, которые можно устанавливать на автомобили
    </h2>
    <p class="tachographs-car__text">
      Европейские тахографы делятся на аналоговые, которые осуществляют запись
      данных на тахографический диск (установка запрещена с 2006) и цифровые.
      Цифровые тахографы, которые могут использоваться на ТС, также имеют сроки
      установки, в зависимости от модели (данные приведены в таблице – данные с
      сайта ФБУ Росавтотранс). Это зависит от того, что все время повышаются
      требования к тахографическому оборудованию и в тахографах появляются новые
      функции.
    </p>

    <div class="tachographs-car__table table-tachographs">
      <div class="table-tachographs__inner">
        <div class="table-tachographs__row">
          <div class="table-tachographs__item">
            Дата ввода <br />
            в эксплуатацию ТС
          </div>

          <div class="table-tachographs__item">Модели и версии</div>
          <div class="table-tachographs__item">
            STONERIDGE, SE 5000, SE 5000 EXAKT, SE5000 EXAKT DUO, SE5000 EXAKT
            DUO2
          </div>
          <div class="table-tachographs__item">CONTINENTAL DTCO 1381</div>
          <div class="table-tachographs__item">EFKON EFAS-3</div>
          <div class="table-tachographs__item">INTELLIC EFAS-4</div>
        </div>
        <div class="table-tachographs__row">
          <div class="table-tachographs__item">… — 01.10.11</div>
          <div class="table-tachographs__item">
            Версии 5.0, 6.0, 6.1, 6.2, 6.3, 6.4, 7.0, 7.1, 7.2, 7.3, 7.4, 7.5,
            7.6
          </div>
          <div class="table-tachographs__item">
            Версии 1.0х, 1.2х, 1.3х, 1.4х, 2.0х, 2.1х, 2.2х (х — буква от a до
            z)
          </div>
          <div class="table-tachographs__item">EFAS-3</div>
          <div class="table-tachographs__item">EFAS-4</div>
        </div>
        <div class="table-tachographs__row">
          <div class="table-tachographs__item">01.10.11 — 1.10.12</div>
          <div class="table-tachographs__item">
            Только версии 7.3, 7.4, 7.5, 7.6
          </div>
          <div class="table-tachographs__item">
            Только версии 1.4х, 2.0х, 2.1х, 2.2х (х — буква от a до z)
          </div>
          <div class="table-tachographs__item">
            Запрещено устанавливать. Эксплуатация ранее установленных РАЗРЕШЕНА
          </div>
          <div class="table-tachographs__item">EFAS-4</div>
        </div>
        <div class="table-tachographs__row">
          <div class="table-tachographs__item">01.10.12 — …</div>
          <div class="table-tachographs__item">Только версия 7.4, 7.5, 7.6</div>
          <div class="table-tachographs__item">
            Только версии 2.0х, 2.1х, 2.2х (х — буква от a до z)
          </div>
          <div class="table-tachographs__item">
            Запрещено устанавливать. Эксплуатация ранее установленных РАЗРЕШЕНА
          </div>
          <div class="table-tachographs__item">EFAS-4</div>
        </div>
      </div>
    </div>
  </div>
</section>
