<div class="tachographs-top tachographs-top--cards">
  <div class="container">
    <ul class="tachographs-top__list">
      <li class="tachographs-top__item">
        <a class="btn-anchor" href="#">
          <span class="btn-anchor__count">I</span>
          Оформление карт
          <span class="btn-anchor__icon">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.41 8.57999L12 13.17L16.59 8.57999L18 9.99999L12 16L6 9.99999L7.41 8.57999Z"
                fill="#2172FF"
              />
            </svg>
          </span>
        </a>
      </li>
      <li class="tachographs-top__item">
        <a class="btn-anchor" href="#">
          <span class="btn-anchor__count">II</span>
          Разблокировка карт
          <span class="btn-anchor__icon">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.41 8.57999L12 13.17L16.59 8.57999L18 9.99999L12 16L6 9.99999L7.41 8.57999Z"
                fill="#2172FF"
              />
            </svg>
          </span>
        </a>
      </li>
      <li class="tachographs-top__item">
        <a class="btn-anchor" href="#">
          <span class="btn-anchor__count">III</span>
          Считывание данных
          <span class="btn-anchor__icon">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.41 8.57999L12 13.17L16.59 8.57999L18 9.99999L12 16L6 9.99999L7.41 8.57999Z"
                fill="#2172FF"
              />
            </svg>
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="tachographs-top__text">
    <div class="container">
      <p>
        <b>Карта водителя</b> – обеспечивает идентификацию и аутентификацию
        водителя с использованием шифровальных (криптографических) средств, а
        также хранение данных о деятельности водителя. По законодательству
        необходимо считывать данные с карт водителя 1 раз в 28 дней и хранить в
        течение 1 года. Срок эксплуатации карты составляет 3 года.
      </p>
      <p>
        <b>Карта предприятия</b> - обеспечивает идентификацию и аутентификацию
        владельцев транспортных средств с использованием шифровальных
        (криптографических) средств, установку блокировки (ограничения) доступа
        к данным тахографа и данным карт водителей. Срок эксплуатации карты СКЗИ
        составляет 3 года, ЕСТР 5 лет.
      </p>
    </div>
  </div>

  <div class="tachographs-types">
    <div class="container">
      <p class="tachographs-types__text">Существуют 2 вида карт</p>
      <ul class="tachographs-types__list">
        <li class="tachographs-types__item">
          карты для европейских тахографов
        </li>
        <li class="tachographs-types__item">
          карты для российских тахографов с блоком СКЗИ
        </li>
      </ul>
      <p class="tachographs-types__text">Они не взаимозаменяемы.</p>
    </div>
  </div>
</div>
