<section class="tachographs-list">
  <div class="container">
    <ul class="tachographs-list__list">
      <li class="tachographs-list__item">
        <article class="equipment-card equipment-card--tachographs">
          <a class="equipment-card__top" href="#">
            <picture>
              <source srcset="img/tachographs/1.webp" type="image/webp" />
              <img class="image" src="img/tachographs/1.png" alt="equipment" />
            </picture>
          </a>
          <div class="equipment-card__body">
            <h3 class="equipment-card__title">
              <a href="#">
                Российские тахографы
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="tachographs-list__item">
        <article class="equipment-card equipment-card--tachographs">
          <a class="equipment-card__top" href="#">
            <picture>
              <source srcset="img/tachographs/2.webp" type="image/webp" />
              <img class="image" src="img/tachographs/2.png" alt="equipment" />
            </picture>
          </a>
          <div class="equipment-card__body">
            <h3 class="equipment-card__title">
              <a href="#">
                Европейские тахографы
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="tachographs-list__item">
        <article class="equipment-card equipment-card--tachographs">
          <a class="equipment-card__top" href="#">
            <picture>
              <source srcset="img/tachographs/3.webp" type="image/webp" />
              <img class="image" src="img/tachographs/3.png" alt="equipment" />
            </picture>
          </a>
          <div class="equipment-card__body">
            <h3 class="equipment-card__title">
              <a href="#">
                Карты для тахографов
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="tachographs-list__item">
        <article class="equipment-card equipment-card--tachographs">
          <a class="equipment-card__top" href="#">
            <picture>
              <source srcset="img/tachographs/4.webp" type="image/webp" />
              <img class="image" src="img/tachographs/4.png" alt="equipment" />
            </picture>
          </a>
          <div class="equipment-card__body">
            <h3 class="equipment-card__title">
              <a href="#">
                Законодательство
              </a>
            </h3>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
