<div class="tachographs-text">
  <div class="container">
    <div class="tachographs-text__text">
      <p>
        <b>Тахограф</b> — техническое средство контроля, обеспечивающее
        непрерывную, некорректируемую регистрацию информации о скорости и
        маршруте движения транспортного средства, о времени управления
        транспортным средством и отдыха водителя транспортного средства, о
        режиме труда и отдыха водителя транспортного средства, управление
        которым входит в его трудовые обязанности.
        <a href="legal.html">
          (Федеральный закон от 10.12.1995 N 196-ФЗ (ред. от 29.11.2021) </a
        >.
      </p>
      <p>
        Тахографы должны быть установлены на транспортных средствах категорий
        N2, N3 (грузовики свыше 3,5 тонн), M2, M3 (автобусы, с числом посадочных
        мест 8 и более, не включая водителя), находящиеся в эксплуатации, и
        осуществляющие коммерческие перевозки грузов и пассажиров по территории
        Российской Федерации.
        <a href="legal.html">(Приказ Минтранса России от 28.10.2020 N 440)</a>.
      </p>
    </div>
  </div>
</div>
