<div class="tachographs-top">
  <div class="container">
    <ul class="tachographs-top__list">
      <li class="tachographs-top__item">
        <a class="btn-anchor" href="#model-ru">
          <span class="btn-anchor__count">I</span>
          Модели тахографов
          <span class="btn-anchor__icon">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.41 8.57999L12 13.17L16.59 8.57999L18 9.99999L12 16L6 9.99999L7.41 8.57999Z"
                fill="#2172FF"
              />
            </svg>
          </span>
        </a>
      </li>
      <li class="tachographs-top__item">
        <a class="btn-anchor" href="#install-ru">
          <span class="btn-anchor__count">II</span>
          Первичная установка тахографа
          <span class="btn-anchor__icon">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.41 8.57999L12 13.17L16.59 8.57999L18 9.99999L12 16L6 9.99999L7.41 8.57999Z"
                fill="#2172FF"
              />
            </svg>
          </span>
        </a>
      </li>
      <li class="tachographs-top__item">
        <a class="btn-anchor" href="#replacement-ru">
          <span class="btn-anchor__count">III</span>
          Замена СКЗИ
          <span class="btn-anchor__icon">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.41 8.57999L12 13.17L16.59 8.57999L18 9.99999L12 16L6 9.99999L7.41 8.57999Z"
                fill="#2172FF"
              />
            </svg>
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="tachographs-top__text">
    <div class="container">
      <p>
        На транспортных средствах, которые эксплуатируются на территории России,
        устанавливаются только тахографы с модулем СКЗИ (средство
        криптографической защиты информации). Основная функция которого – сбор,
        шифрование и хранение информации.
      </p>
      <p>
        Установка тахографа позволит вести запись различных сведений –
        длительность труда и отдыха водителя, пробег автомобиля, и многое
        другое. Все полученные с тахографа данные сохранятся в памяти устройства
        и на карте водителя.
      </p>
    </div>
  </div>
</div>
