<div class="tachographs-top tachographs-top--en">
  <div class="container">
    <ul class="tachographs-top__list">
      <li class="tachographs-top__item">
        <a class="btn-anchor" href="#models-en">
          <span class="btn-anchor__count">I</span>
          Модели тахографов
          <span class="btn-anchor__icon">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.41 8.57999L12 13.17L16.59 8.57999L18 9.99999L12 16L6 9.99999L7.41 8.57999Z"
                fill="#2172FF"
              />
            </svg>
          </span>
        </a>
      </li>
      <li class="tachographs-top__item">
        <a class="btn-anchor" href="#install-en">
          <span class="btn-anchor__count">II</span>
          Установка тахографа
          <span class="btn-anchor__icon">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.41 8.57999L12 13.17L16.59 8.57999L18 9.99999L12 16L6 9.99999L7.41 8.57999Z"
                fill="#2172FF"
              />
            </svg>
          </span>
        </a>
      </li>
      <li class="tachographs-top__item">
        <a class="btn-anchor" href="#calibration-en">
          <span class="btn-anchor__count">III</span>
          Калибровка тахографа
          <span class="btn-anchor__icon">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.41 8.57999L12 13.17L16.59 8.57999L18 9.99999L12 16L6 9.99999L7.41 8.57999Z"
                fill="#2172FF"
              />
            </svg>
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="tachographs-top__text tachographs-top__text--bg">
    <div class="container">
      <p>
        Тахограф Европейского образца или тахограф ЕСТР – устанавливаются на
        транспортные средства, предназначенные для международных автомобильных
        перевозок между странами, подписавшими данное соглашение. Для
        использования такого тахографа на территории России, транспортному
        предприятию необходимо иметь
        <a
          href="https://rostransnadzor.gov.ru/deyatel-nost/gosudarstvenny-e-uslugi/t-wagon/dopusk-rossijskih-perevozchikov-k-osu"
        >
          Допуск на международные перевозки.
        </a>
      </p>

      <p>
        Технические требования к установке тахографа Европейского образца
        указаны в ЕСТР и последующих документах, вносящих в него изменения.
      </p>
    </div>
  </div>
</div>
