<section class="team">
  <div class="container">
    <h2 class="visually-hidden">Наша команда</h2>

    <div class="team__tabs team-tabs">
      <div class="team-tabs__top">
        <ul class="team-tabs__top-list">
          <li class="team-tabs__top-item">
            <button class="team-tabs__top-btn active" type="button">
              Вся команда
            </button>
          </li>
          <li class="team-tabs__top-item">
            <button class="team-tabs__top-btn" type="button">
              Руководители
            </button>
          </li>
          <li class="team-tabs__top-item">
            <button class="team-tabs__top-btn" type="button">
              Коммерческий отдел
            </button>
          </li>
          <li class="team-tabs__top-item">
            <button class="team-tabs__top-btn" type="button">
              Техническая поддержка
            </button>
          </li>
          <li class="team-tabs__top-item">
            <button class="team-tabs__top-btn" type="button">
              Бухгалтерия
            </button>
          </li>
          <li class="team-tabs__top-item">
            <a class="team-tabs__top-btn" href="#our-office">Наш офис</a>
          </li>
        </ul>
      </div>

      <div class="team-tabs__content active">
        <ul class="team-tabs__list">
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/1.webp" type="image/webp" />
                  <img class="image" src="img/team/1.jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job"></span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#"> Вадим Гусев </a>
                  </h3>
                  <span class="team-card__prof">Руководитель</span>
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/2.webp" type="image/webp" />
                  <img class="image" src="img/team/2.jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job">Коммерческий отдел</span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#">Ирина Лупанос </a>
                  </h3>
                  <span class="team-card__prof">
                    Начальник коммерческого отдела
                  </span>
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/3.webp" type="image/webp" />
                  <img class="image" src="img/team/3.jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job">Коммерческий отдел</span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#"> Ольга Лупанос </a>
                  </h3>
                  <span class="team-card__prof">
                    Менеджер <br />
                    коммерческого отдела
                  </span>
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/4.webp" type="image/webp" />
                  <img class="image" src="img/team/4.jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job">Коммерческий отдел</span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#">Юлия Воробьева</a>
                  </h3>
                  <span class="team-card__prof">
                    Менеджер <br />
                    по оформлению карт водителей
                  </span>
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/5.webp" type="image/webp" />
                  <img class="image" src="img/team/5.jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job">Коммерческий отдел</span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#"> Елизавета Жалнина </a>
                  </h3>
                  <span class="team-card__prof">
                    Менеджер <br />
                    по подключению к ГАИС ЭРА-ГЛОНАСС (ПП2216)
                  </span>
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/6.webp" type="image/webp" />
                  <img class="image" src="img/team/6.jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job">Коммерческий отдел</span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#"> Анна Ситобудская </a>
                  </h3>
                  <span class="team-card__prof">
                    Менеджер <br />
                    по подключению к ГАИС ЭРА-ГЛОНАСС (ПП2216)
                  </span>
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/7.webp" type="image/webp" />
                  <img class="image" src="img/team/7.jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job">Коммерческий отдел</span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#"> Оксана Трухина </a>
                  </h3>
                  <span class="team-card__prof">
                    Менеджер <br />
                    отдела продаж Оборудование ГЛОНАСС для маломерных судов
                  </span>
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/8.webp" type="image/webp" />
                  <img class="image" src="img/team/8.jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job">Техническая поддержка</span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#"> Юлия Ковыршина </a>
                  </h3>
                  <span class="team-card__prof"
                    >Главный специалист технической поддержки</span
                  >
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/9.webp" type="image/webp" />
                  <img class="image" src="img/team/9jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job">Бухгалтерия </span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#"> Татьяна Соловьева </a>
                  </h3>
                  <span class="team-card__prof">Главный бухгалтер</span>
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/10.webp" type="image/webp" />
                  <img class="image" src="img/team/10.jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job">Бухгалтерия</span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#"> Надежда Мельникова </a>
                  </h3>
                  <span class="team-card__prof">Специалист по закупкам</span>
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
        </ul>
      </div>

      <div class="team-tabs__content">
        <ul class="team-tabs__list">
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/1.webp" type="image/webp" />
                  <img class="image" src="img/team/1.jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job"></span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#"> Вадим Гусев </a>
                  </h3>
                  <span class="team-card__prof">Руководитель</span>
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
        </ul>
      </div>

      <div class="team-tabs__content">
        <ul class="team-tabs__list">
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/2.webp" type="image/webp" />
                  <img class="image" src="img/team/2.jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job">Коммерческий отдел</span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#">Ирина Лупанос </a>
                  </h3>
                  <span class="team-card__prof">
                    Начальник коммерческого отдела
                  </span>
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/3.webp" type="image/webp" />
                  <img class="image" src="img/team/3.jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job">Коммерческий отдел</span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#"> Ольга Лупанос </a>
                  </h3>
                  <span class="team-card__prof">
                    Менеджер <br />
                    коммерческого отдела
                  </span>
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/4.webp" type="image/webp" />
                  <img class="image" src="img/team/4.jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job">Коммерческий отдел</span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#">Юлия Воробьева</a>
                  </h3>
                  <span class="team-card__prof">
                    Менеджер <br />
                    по оформлению карт водителей
                  </span>
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/5.webp" type="image/webp" />
                  <img class="image" src="img/team/5.jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job">Коммерческий отдел</span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#"> Елизавета Жалнина </a>
                  </h3>
                  <span class="team-card__prof">
                    Менеджер <br />
                    по подключению к ГАИС ЭРА-ГЛОНАСС (ПП2216)
                  </span>
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/6.webp" type="image/webp" />
                  <img class="image" src="img/team/6.jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job">Коммерческий отдел</span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#"> Анна Ситобудская </a>
                  </h3>
                  <span class="team-card__prof">
                    Менеджер <br />
                    по подключению к ГАИС ЭРА-ГЛОНАСС (ПП2216)
                  </span>
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/7.webp" type="image/webp" />
                  <img class="image" src="img/team/7.jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job">Коммерческий отдел</span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#"> Оксана Трухина </a>
                  </h3>
                  <span class="team-card__prof">
                    Менеджер <br />
                    отдела продаж Оборудование ГЛОНАСС для маломерных судов
                  </span>
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
        </ul>
      </div>

      <div class="team-tabs__content">
        <ul class="team-tabs__list">
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/8.webp" type="image/webp" />
                  <img class="image" src="img/team/8.jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job">Техническая поддержка</span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#"> Юлия Ковыршина </a>
                  </h3>
                  <span class="team-card__prof"
                    >Главный специалист технической поддержки</span
                  >
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
        </ul>
      </div>

      <div class="team-tabs__content">
        <ul class="team-tabs__list">
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/9.webp" type="image/webp" />
                  <img class="image" src="img/team/9jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job">Бухгалтерия </span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#"> Татьяна Соловьева </a>
                  </h3>
                  <span class="team-card__prof">Главный бухгалтер</span>
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/10.webp" type="image/webp" />
                  <img class="image" src="img/team/10.jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job">Бухгалтерия</span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#"> Надежда Мельникова </a>
                  </h3>
                  <span class="team-card__prof">Специалист по закупкам</span>
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
        </ul>
      </div>

      <div class="team-tabs__content">
        <ul class="team-tabs__list">
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/1.webp" type="image/webp" />
                  <img class="image" src="img/team/1.jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job"></span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#"> Вадим Гусев </a>
                  </h3>
                  <span class="team-card__prof">Руководитель</span>
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/2.webp" type="image/webp" />
                  <img class="image" src="img/team/2.jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job">Коммерческий отдел</span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#">Ирина Лупанос </a>
                  </h3>
                  <span class="team-card__prof">
                    Начальник коммерческого отдела
                  </span>
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/3.webp" type="image/webp" />
                  <img class="image" src="img/team/3.jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job">Коммерческий отдел</span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#"> Ольга Лупанос </a>
                  </h3>
                  <span class="team-card__prof">
                    Менеджер <br />
                    коммерческого отдела
                  </span>
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/4.webp" type="image/webp" />
                  <img class="image" src="img/team/4.jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job">Коммерческий отдел</span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#">Юлия Воробьева</a>
                  </h3>
                  <span class="team-card__prof">
                    Менеджер <br />
                    по оформлению карт водителей
                  </span>
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/5.webp" type="image/webp" />
                  <img class="image" src="img/team/5.jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job">Коммерческий отдел</span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#"> Елизавета Жалнина </a>
                  </h3>
                  <span class="team-card__prof">
                    Менеджер <br />
                    по подключению к ГАИС ЭРА-ГЛОНАСС (ПП2216)
                  </span>
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/6.webp" type="image/webp" />
                  <img class="image" src="img/team/6.jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job">Коммерческий отдел</span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#"> Анна Ситобудская </a>
                  </h3>
                  <span class="team-card__prof">
                    Менеджер <br />
                    по подключению к ГАИС ЭРА-ГЛОНАСС (ПП2216)
                  </span>
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/7.webp" type="image/webp" />
                  <img class="image" src="img/team/7.jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job">Коммерческий отдел</span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#"> Оксана Трухина </a>
                  </h3>
                  <span class="team-card__prof">
                    Менеджер <br />
                    отдела продаж Оборудование ГЛОНАСС для маломерных судов
                  </span>
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/8.webp" type="image/webp" />
                  <img class="image" src="img/team/8.jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job">Техническая поддержка</span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#"> Юлия Ковыршина </a>
                  </h3>
                  <span class="team-card__prof"
                    >Главный специалист технической поддержки</span
                  >
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/9.webp" type="image/webp" />
                  <img class="image" src="img/team/9jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job">Бухгалтерия </span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#"> Татьяна Соловьева </a>
                  </h3>
                  <span class="team-card__prof">Главный бухгалтер</span>
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="team-tabs__item">
            <article class="team-card">
              <a class="team-card__top" href="#">
                <picture>
                  <source srcset="img/team/10.webp" type="image/webp" />
                  <img class="image" src="img/team/10.jpg" alt="team" />
                </picture>
              </a>
              <div class="team-card__body">
                <span class="team-card__job">Бухгалтерия</span>
                <div class="team-card__info">
                  <h3 class="team-card__title">
                    <a href="#"> Надежда Мельникова </a>
                  </h3>
                  <span class="team-card__prof">Специалист по закупкам</span>
                  <a
                    class="team-card__link team-card__link--phone"
                    href="tel:+78152701960"
                  >
                    8 (8152) 70-19-60
                  </a>
                  <a
                    class="team-card__link team-card__link--email"
                    href="mailto:info@sts-51.ru"
                  >
                    Info@sts-51.ru
                  </a>
                </div>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
