<section class="unblocking">
  <div class="container">
    <h2 class="unblocking__title section-title">
      <span>II.</span> Разблокировка российской карты по PIN коду.
    </h2>
    <p class="unblocking__text">
      В случае неверно введенного 3 раза PIN кода, карта блокируется. Для
      разблокировки карты вы можете обратиться в наш офис. Потребуется:
    </p>

    <ul class="unblocking__list">
      <li class="unblocking__item">Паспорт</li>
      <li class="unblocking__item">Заблокированная карта</li>
      <li class="unblocking__item">
        Лист с PIN и PUK кодом (Если лист утерян, необходимо писать заявление на
        восстановление в нашем офисе)
      </li>
    </ul>

    <p class="unblocking__text">
      <b
        >Попытки самостоятельно разблокировать карту или ввод PUK кода через
        тахограф, может привести к полной блокировке карты и как следствие к
        необходимости ее перевыпуска!</b
      >
    </p>
  </div>
</section>
