<section class="vehicle-types">
  <div class="container">
    <h2 class="vehicle-types__title section-title">
      Варианты использования на различных ТС
    </h2>

    <ul class="vehicle-types__list">
      <li class="vehicle-types__item">
        <div class="v-types-card">
          <picture>
            <source srcset="img/vehicle-types/1.webp" type="image/webp" />
            <img
              class="v-types-card__img"
              src="img/vehicle-types/1.png"
              alt="img"
            />
          </picture>
          <span class="v-types-card__name">Легковые</span>
        </div>
      </li>
      <li class="vehicle-types__item">
        <div class="v-types-card">
          <picture>
            <source srcset="img/vehicle-types/2.webp" type="image/webp" />
            <img
              class="v-types-card__img"
              src="img/vehicle-types/2.png"
              alt="img"
            />
          </picture>
          <span class="v-types-card__name">Грузовые</span>
        </div>
      </li>
      <li class="vehicle-types__item">
        <div class="v-types-card">
          <picture>
            <source srcset="img/vehicle-types/3.webp" type="image/webp" />
            <img
              class="v-types-card__img"
              src="img/vehicle-types/3.png"
              alt="img"
            />
          </picture>
          <span class="v-types-card__name">Автобусы и кунги</span>
        </div>
      </li>
      <li class="vehicle-types__item">
        <div class="v-types-card">
          <picture>
            <source srcset="img/vehicle-types/4.webp" type="image/webp" />
            <img
              class="v-types-card__img"
              src="img/vehicle-types/4.png"
              alt="img"
            />
          </picture>
          <span class="v-types-card__name">Спецтехника</span>
        </div>
      </li>
    </ul>
  </div>
</section>
