<section class="vehicle">
  <div class="container">
    <h2 class="vehicle__title section-title">
      Варианты установки на ТС согласно
      <a
        href="https://www.garant.ru/products/ipo/prime/doc/71400596/#review"
        target="_blank"
      >
        ПП №969
      </a>
    </h2>

    <div class="vehicle__tabs vehicle-tabs">
      <div class="vehicle-tabs__left">
        <ul class="vehicle-tabs__left-list">
          <li class="vehicle-tabs__left-item">
            <button class="vehicle-tabs__left-btn active" type="button">
              Малый автобус онлайн
            </button>
          </li>
          <li class="vehicle-tabs__left-item">
            <button class="vehicle-tabs__left-btn" type="button">
              Средний автобус онлайн
            </button>
          </li>
          <li class="vehicle-tabs__left-item">
            <button class="vehicle-tabs__left-btn" type="button">
              Большой автобус онлайн
            </button>
          </li>
          <li class="vehicle-tabs__left-item">
            <button class="vehicle-tabs__left-btn" type="button">
              ТС перевозящие опасные грузы онлайн
            </button>
          </li>
        </ul>
      </div>
      <div class="vehicle-tabs__content active">
        <div class="vehicle-card">
          <div class="vehicle-card__top">
            <div class="vehicle-card__left">
              <div>Видеорегистратор Онлайн</div>
              <div>Видеокамера на водителя и дверь</div>
              <div>Видеокамера на боковую дверь</div>
              <div>Кабель 2м</div>
              <div>Кабель 5м</div>
              <div>Жесткий диск 1Тб с виброзащитой</div>
            </div>

            <div class="vehicle-card__right">
              <picture>
                <source srcset="img/vehicle-img.webp" type="image/webp" />
                <img
                  class="vehicle-card__img"
                  src="img/vehicle-img.png"
                  alt="img"
                />
              </picture>
              <div class="vehicle-card__price">
                <span> 49 500 ₽</span>
                <picture>
                  <source srcset="img/wallet.webp" type="image/webp" />
                  <img class="image" src="img/wallet.png" alt="wallet" />
                </picture>
              </div>
            </div>
          </div>
          <div class="vehicle-card__bottom">
            <div><b>Дополнительные опции:</b></div>
            <div>Дополнительная камера на дверь</div>
            <div>Дополнительная камера на дорогу/назад</div>
            <div>подсистема оповещения и связи</div>
            <div>Дополнительная камера на дверь</div>
            <div>Дисплей водителя</div>
          </div>
        </div>
      </div>
      <div class="vehicle-tabs__content">
        <div class="vehicle-card">
          <div class="vehicle-card__top">
            <div class="vehicle-card__left">
              <div>Видеорегистратор Онлайн</div>
              <div>Видеокамера на водителя и дверь</div>
              <div>Видеокамера на боковую дверь</div>
              <div>Кабель 2м</div>
              <div>Кабель 5м</div>
              <div>Жесткий диск 1Тб с виброзащитой</div>
            </div>

            <div class="vehicle-card__right">
              <picture>
                <source srcset="img/vehicle-img.webp" type="image/webp" />
                <img
                  class="vehicle-card__img"
                  src="img/vehicle-img.png"
                  alt="img"
                />
              </picture>
              <div class="vehicle-card__price">
                <span> 49 500 ₽</span>
                <picture>
                  <source srcset="img/wallet.webp" type="image/webp" />
                  <img class="image" src="img/wallet.png" alt="wallet" />
                </picture>
              </div>
            </div>
          </div>
          <div class="vehicle-card__bottom">
            <div><b>Дополнительные опции:</b></div>
            <div>Дополнительная камера на дверь</div>
            <div>Дополнительная камера на дорогу/назад</div>
            <div>подсистема оповещения и связи</div>
            <div>Дополнительная камера на дверь</div>
            <div>Дисплей водителя</div>
          </div>
        </div>
      </div>
      <div class="vehicle-tabs__content">
        <div class="vehicle-card">
          <div class="vehicle-card__top">
            <div class="vehicle-card__left">
              <div>Видеорегистратор Онлайн</div>
              <div>Видеокамера на водителя и дверь</div>
              <div>Видеокамера на боковую дверь</div>
              <div>Кабель 2м</div>
              <div>Кабель 5м</div>
              <div>Жесткий диск 1Тб с виброзащитой</div>
            </div>

            <div class="vehicle-card__right">
              <picture>
                <source srcset="img/vehicle-img.webp" type="image/webp" />
                <img
                  class="vehicle-card__img"
                  src="img/vehicle-img.png"
                  alt="img"
                />
              </picture>
              <div class="vehicle-card__price">
                <span> 49 500 ₽</span>
                <picture>
                  <source srcset="img/wallet.webp" type="image/webp" />
                  <img class="image" src="img/wallet.png" alt="wallet" />
                </picture>
              </div>
            </div>
          </div>
          <div class="vehicle-card__bottom">
            <div><b>Дополнительные опции:</b></div>
            <div>Дополнительная камера на дверь</div>
            <div>Дополнительная камера на дорогу/назад</div>
            <div>подсистема оповещения и связи</div>
            <div>Дополнительная камера на дверь</div>
            <div>Дисплей водителя</div>
          </div>
        </div>
      </div>
      <div class="vehicle-tabs__content">
        <div class="vehicle-card">
          <div class="vehicle-card__top">
            <div class="vehicle-card__left">
              <div>Видеорегистратор Онлайн</div>
              <div>Видеокамера на водителя и дверь</div>
              <div>Видеокамера на боковую дверь</div>
              <div>Кабель 2м</div>
              <div>Кабель 5м</div>
              <div>Жесткий диск 1Тб с виброзащитой</div>
            </div>

            <div class="vehicle-card__right">
              <picture>
                <source srcset="img/vehicle-img.webp" type="image/webp" />
                <img
                  class="vehicle-card__img"
                  src="img/vehicle-img.png"
                  alt="img"
                />
              </picture>
              <div class="vehicle-card__price">
                <span> 49 500 ₽</span>
                <picture>
                  <source srcset="img/wallet.webp" type="image/webp" />
                  <img class="image" src="img/wallet.png" alt="wallet" />
                </picture>
              </div>
            </div>
          </div>
          <div class="vehicle-card__bottom">
            <div><b>Дополнительные опции:</b></div>
            <div>Дополнительная камера на дверь</div>
            <div>Дополнительная камера на дорогу/назад</div>
            <div>подсистема оповещения и связи</div>
            <div>Дополнительная камера на дверь</div>
            <div>Дисплей водителя</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
